<link rel="stylesheet" href="/css/dental_confirm.css">

<link rel="stylesheet" href="/css/dental_doctor.css?rev=67aa8fdf5b772f01f87cc0d70b162934">
<div class="dental-confirm">
	<div class="dental-doctor_header">
		<div class="dental-doctor_header_list">
			<div class="dental-doctor_header_list_steps">
				<div class=" flex1"></div>
				<img src="/img/child_dental/yi.jpg">
				<div class="padd_18 flex1"></div>
			</div>
			<div class="dental-doctor_header_list-word">选择诊所</div>
		</div>
		<div class="dental-doctor_header_list">
			<div class="dental-doctor_header_list_steps">
				<div class="padd_18 flex1"></div>
				<img src="/img/child_dental/blue_er.jpg">
				<div class="padd_18 flex1"></div>
			</div>
			<div class="dental-doctor_header_list-word">电话确认</div>
		</div>
		<div class="dental-doctor_header_list">
			<div class="dental-doctor_header_list_steps">
				<div class="padd_18 flex1 color_ccc"></div>
				<img src="/img/child_dental/san.jpg">
				<div class="flex1"></div>
			</div>
			<div class="dental-doctor_header_list-word">按时就诊</div>
		</div>
	</div>
	<div class="dental-confirm_main">
		<div class="dental-confirm_main-tit"><img src="/img/child_dental/gou.jpg">预约成功</div>
		<div class="hint">恭喜您，您的预约申请已提交</div>
		<div class="hint-word">
			<span></span>客服人员会尽快回电，确认就诊事宜。
		</div>
		<div class="hint-word">
			<span></span>预约成功后，请携带投保人和被保人的有效身份证件就诊。
		</div>
	</div>
	<div class="bottom_ctrl">
		<div class="finish">确定</div>
	</div>
</div>

