<link rel="stylesheet" href="/css/child_dental.css?rev=1d3ceac19865cffabb01a2f3609a4679">
<link rel="stylesheet" href="/css/dental_meal.css?rev=sghg">

<div class="child-dental-container">
    <!--  第一页-->
	<img src="/img/child_dental/index_banner.png">
	<div class="child-dental-container_introl">
		<div class="child-dental-container_introl--company">诺贝泰康少儿齿科保障计划</div>
		<div class="orange child-dental-container_introl--price">318元/年起</div>
	</div>
    <div class="child-dental-container_word">让宝宝享受专业的口腔检查、虫牙预防、龋齿治疗、咬合畸形检查，无需体检，无等待期，当日购买即可预约就诊。</div>
    <div class="kong"></div>
<!--     <div class="child-dental-container_setMeal"> 
        <div class="child-dental-container_setMeal--word"  ng-click="showMask()">选择套餐：套餐A 瑞泰/普尔-基础保健套餐</div>
        <div><i class="iconfont" style="color: #e2e2e2;font-size: 15px;">&#xe60f;</i></div>
    </div> -->
    <div class="kong"></div>
	<!--  第二页-->
    <div class="main-list">
    	<!-- table切换 -->
    	<div class="switch" id="switch">
    		<div class="switch-child border_3px">简 介</div>
    		<div class="switch-child">套 餐</div>
    		<div class="switch-child">合作医院</div>
    	</div>

    	<!-- 简介 -->
        <div class="main-list-profile" id="jianjie">
            <div class="main-list-profile_professor">专家提醒</div>
            <img src="/img/child_dental/profile/profile_1.png">
            <div class="main-list-profile_word main-list-profile_word--padd">5岁儿童患龋率高达66%</div>
            <img src="/img/child_dental/profile/profile_2.png">
             <div class="main-list-profile_word main-list-profile_word--padd">涂氟和窝沟封闭可有效预防龋齿</div>
            <img src="/img/child_dental/profile/profile_3.png">
            <div class="main-list-profile_word">宝宝们要从小坚持刷牙<br/>定期进行口腔检查</div>
            <div class="main-list-profile_problem">
                <div class="main-list-profile_problem_paddBottom">预防虫牙三大秘诀</div>
                <img src="/img/child_dental/meal_a/pic_3.png">
            </div>
             <div class="main-list_intro" style="margin-bottom: 10px;">
                <img src="/img/child_dental/meal_a/pic_1.png?v=1">
                <img src="/img/child_dental/meal_a/pic_2.png?v=1">
            </div>  
            <img src="/img/child_dental/yuyue.png">
            <img class="border_bottom" src="/img/child_dental/yuyue_word.png">
        </div>
       
    	<!-- 套餐 -->
    	<div class="main-list_intro"  id="taocan" style="display: none;">
            <img src="/img/child_dental/meal_a/meal_1.png?v=1">
            <img src="/img/child_dental/meal_a/meal_2.png?v=1">
        </div>
        <div class="kong"></div>
        

    	<!-- 合作医院 -->
        <div class="main-list_hospital" id="yiyuan" style="display: none;">
            <div class="main-list_hospital_box">
                <div class="main-list_hospital_box_tit">知名口腔医院</div>
                <!-- 医院logo and detail -->
                <div class="main-list_hospital_list">
                    <img src="/img/child_dental/hospital/hos_logo_1.png">
                    <div>
                        <div class="hospital_name">瑞泰口腔</div>
                        <div class="hospital_name_detail">瑞尔齿科旗下中端品牌，曾经获得"最佳医疗服务连锁机构奖"，"最受百姓信赖的健康品牌”。</div>
                    </div>
                </div>
                 <div class="main-list_hospital_list">
                    <img src="/img/child_dental/hospital/hos_logo_3.png">
                    <div>
                        <div class="hospital_name">普尔口腔</div>
                        <div class="hospital_name_detail">成立于2002年的高档齿科医院。温馨舒适的诊疗环境，具有资深水准的医疗团队，严格的消毒隔离流程，完善的管理体系。</div>
                    </div>
                </div>
            </div>
            <div class="main-list_hospital_doctor">
                <div class="main-list_hospital_doctor_tit">权威的儿童口腔医生</div>
                <div class="main-list_hospital_doctor_pic">
                    <div class="docter_detail">
                        <div class="docter_pic"><img src="/img/child_dental/docter/docter_1.png"></div>
                        <div class="docter_name">葛立宏教授</div>
                        <div class="docter_detail-word">瑞泰口腔北京总院</div>
                        <div>北大口腔儿科主任医师</div>
                    </div>
                    <div class="docter_detail">
                        <div class="docter_pic"><img src="/img/child_dental/docter/docter_6.png"></div>
                        <div class="docter_name">张程程</div>
                        <div class="docter_detail-word">瑞泰口腔望京分院</div>
                        <div>儿童口腔专科医师</div>
                    </div>
                    <div class="docter_detail docter_detail--last">
                        <div class="docter_pic"><img src="/img/child_dental/docter/docter_5.png"></div>
                        <div class="docter_name">陈育松医生</div>
                        <div class="docter_detail-word">瑞泰口腔双井分院</div>
                        <div>儿童口腔专科医师</div>
                    </div>
                </div>
            </div>
            <div class="kong"></div>
            <!-- 合作医院环境 -->
            <img src="/img/child_dental/huanjing/huanjing_1.png">
            <img src="/img/child_dental/huanjing/huanjing_2.png">
            <div class="kong"></div>
            <div class="hospital-address">
                <div><i style="color: #4285f4;">&#xe633;</i></div>
            </div>
        </div>
	</div>
	<footer>
		<div class="footer-first" ng-click="home()"><i class="iconfont" style="font-size: 20px;color: #999;">&#xe61c;</i></div>
		<div class="footer-about-nuobei" ng-click="showQrcode()">关注诺贝</div>
		<div class="footer-about-mai" ng-click="showMask()">立即购买</div>
	</footer>

    <div  class="mask" id="dental_mask_container"  style="display:none;z-index:2000000">
        <div class="head-container">
            <img src="img/mask_close.jpg" style="width:20px;height:20px;float:right;margin-top: 5px;margin-right: 5px;" ng-click="close()" />
            <div class="taocan">
                <div class="title">请选择购买的套餐</div>
                <div class="ybwx-btn ybwx-btn--primary"   ng-click="choose($event,577)">A:瑞泰/普尔-乳牙保健套餐 318元/年</div>         
                <div class="ybwx-btn ybwx-btn--white" style="margin-top:10px;" ng-click="choose($event,578)">B:拜博-儿童虫牙预防套餐 498元/年</div>         
                <div class="ybwx-btn ybwx-btn--white" style="margin-top:10px;" ng-click="choose($event,579)">C:瑞泰/普尔-虫牙治疗套餐 1138元/年</div>         
                <div class="ybwx-btn ybwx-btn--white" style="margin-top:10px;" ng-click="choose($event,580)">D:拜博-咬合畸形检查套餐 418元/年</div>   
        
                <div class="mask_des" >   A、C套餐支持北京和上海使用 </div>
                <div class="" >   B、D套餐支持北京和广州使用 </div>
            </div>
            <div class="submit-wrapper">
             <div class="ybwx-btn ybwx-btn--primary" ng-click="submit()">确定</div>   
             </div>
        </div>
        
    </div>
</div>
