<link rel="stylesheet" href="/css/dental_reservation_detail.css?rev=0a152ce08083f22ee375607cd7c1ea79">
<div class="teeth-detail-wrapper">

	<div class="teeth-title-container">
			 
			 <div class="teeth-title-contaienr_title"><div class="teeth-tip"></div><?=$title?></div>
			 <div class="teeth-title-contaienr_des"><span class="teeth-gray">保 单 号：</span><?=$order_id?></div>
			 <div class="teeth-title-contaienr_des"><span class="teeth-gray">被 保 人：</span><?=$insurant_name?></div>
			 <div class="teeth-title-contaienr_des"><span class="teeth-gray">保险时间：</span>2016年09月01日~2017年08月31日</div>
	 </div>	

	<div class="reservation-body">
		<div class="reservation-body_title">预约就诊信息</div>
		<ul class="reservation-body-container">
			<?php foreach ($details as $d): ?>
			<li class="reservation-body-item">
				<div  class="reservation-body-item_left">
					<div class="showtip"></div>
				</div>
				<div  class="reservation-body-item_right">
					<div class="reservation-body-item_title"><?=$d['status_text']?></div>
					<div class="reservation-body-item_des"><?=$d['storefront_name']?></div>
					<div class="reservation-body-item_date"><?=$d['datetime']?></div>
				</div>
			</li>
			<?php endforeach; ?>
<?php if (0): ?>
			<li class="reservation-body-item">
				<div  class="reservation-body-item_gray">
					<div class="showtip"></div>
				</div>
				<div  class="reservation-body-item_right">
					<div class="reservation-body-item_title">【已治疗】涂氟、窝沟封闭2颗</div>
					<div class="reservation-body-item_des">瑞泰口腔医院双井分院</div>
					<div class="reservation-body-item_date">2016-09-28</div>
				</div>
			</li>

			<li class="reservation-body-item">
				<div  class="reservation-body-item_gray">
					<div class="showtip"></div>
				</div>
				<div  class="reservation-body-item_right">
					<div class="reservation-body-item_title">【已治疗】涂氟、窝沟封闭2颗</div>
					<div class="reservation-body-item_des">瑞泰口腔医院双井分院</div>
					<div class="reservation-body-item_date">2016-09-28</div>
				</div>
			</li>
<?php endif; ?>
		</ul>
	</div>
	<div class="reservation-footer">
		<div class="ybwx-btn ybwx-btn--primary">复诊</div>
	</div>
</div>

