
<link rel="stylesheet" href="/css/doctor_detail.css">

<link rel="stylesheet" href="/css/dental_doctor.css?rev=67aa8fdf5b772f01f87cc0d70b162934">

<div class="doctor-detail">
	<div class="dental-doctor_header">
		<div class="dental-doctor_header_list">
			<div class="dental-doctor_header_list_steps">
				<div class=" flex1"></div>
				<img src="/img/child_dental/yi.jpg">
				<div class="padd_18 flex1"></div>
			</div>
			<div class="dental-doctor_header_list-word">选择诊所</div>
		</div>
		<div class="dental-doctor_header_list">
			<div class="dental-doctor_header_list_steps">
				<div class="padd_18 flex1 color_ccc"></div>
				<img src="/img/child_dental/er.jpg">
				<div class="padd_18 flex1 color_ccc"></div>
			</div>
			<div class="dental-doctor_header_list-word">电话确认</div>
		</div>
		<div class="dental-doctor_header_list">
			<div class="dental-doctor_header_list_steps">
				<div class="padd_18 flex1 color_ccc"></div>
				<img src="/img/child_dental/san.jpg">
				<div class="flex1"></div>
			</div>
			<div class="dental-doctor_header_list-word">按时就诊</div>
		</div>
	</div>
	<div class="doctor-detail-main">
		<div class="doctor-detail-main_doctor">
			<img src="<?=$headimg?>">
			<div class="doctor-detail-main_doctor_name"><?=$doctor_name?></div>
			<div class="doctor-detail-main_doctor_detail"><span><?=$hospital_name?></span><!--<span>{BRANCH}</span>--></div>
		</div>
		<div class="doctor-detail-main_doctor_intro">
			<div class="doctor-detail-main_doctor_intro_detail">
				<div class="doctor-detail-main_doctor_intro_detail_tit"><span></span>经历</div>
				<div class="doctor-detail-main_doctor_intro_detail_word"><?=$specialty?></div>
			</div>
		</div>
	</div>
	<div class="kong"></div>
	<div class="bottom_ctrl">
		<div class="finish">立即预约</div>
	</div>
</div>

