@charset "UTF-8";












































* {
  margin: 0;
  padding: 0; }


@media (max-width: 320px) {
  html {
    font-size: 100px; } }


@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  html {
    font-size: 100px; } }


@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  html {
    font-size: 117.18px; } }


@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  html {
    font-size: 129.37px; } }

html {
  font-size: 100px; }

input {
  
  border: none; }


body {
  font: 0.14rem  Helvetica, Microsoft YaHei, SimHei,sans-serif;
  
  line-height: 1.6;
  background-color: #fafafa;
  -webkit-text-size-adjust: 100% !important;
   }

.left {
  float: left; }

.right {
  float: right; }

.layout {
  overflow: auto; }

.wrapper {
  width: 100%;
  height: 100%; }

.bd_part_controller {
  padding: 0 0 .7rem 0; }

.bd_part_controller input {
  border: none;
  padding: 0;
  width: 0;
  height: .48rem;
  margin: 0;
   }

.ul_contrl {
  padding: .15rem .1rem;
  background: #588dd4; }

.xian {
  position: relative; }
  .xian::after {
    pointer-events: none;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    content: "\0020";
    border-color: #fff;
    border-style: solid;
    border-width: 1px 0 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
    @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .xian::after {
        width: 200%;
        height: 200%;
        -webkit-transform: scale(0.5);
        transform: scale(0.5); } }
    @media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
      .xian::after {
        width: 200%;
        height: 200%;
        -webkit-transform: scale(1/3);
        transform: scale(1/3); } }

.ul_contrl_bot {
  padding: .08rem 0 0 0; }

.chanpin_name {
  color: #fff;
  font-size: .17rem; }

.up_20 {
   }

.up_30 {
  padding-top: .08rem; }

.pei_300 {
  font-size: .13rem;
  color: #add0ff; }

.pei_300 span {
  color: #fff; }

.bd_part_main {
  padding: 0 .1rem; }

.bd_part_tit {
  font-size: .13rem;
  padding: .1rem 0; }

.bd_part_tit li:nth-child(1) {
  color: #555;
  font-size: .15rem; }

.bd_part_tit li:nth-child(2) a {
  color: #588dd4; }

.bd_part_input {
   }

.bd_part_input input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  
  -webkit-box-sizing: border-box;
  display: block;
  
  width: 100%;
  height: .44rem;
  background: #fff;
  border: 1px solid #e2e2e2;
  padding-left: 14px;
  color: #555;
  font-weight: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0;
   }

.bd_part_input .input_top_padd {
  margin-top: .15rem; }

.bd_part_input .last_input {
  background: #fff;
  margin-top: .1rem; }

.bd_part_input input::input-placeholder {
  color: #ccc; }

.bd_part_input input::-webkit-input-placeholder {
  color: #ccc; }

.bd_part_input input::-moz-input-placeholder {
  color: #ccc; }

.bd_part_input input::-webkit-input-placeholder {
  color: #ccc; }

.bd_part_input input::-ms-input-placeholder {
  color: #ccc; }

.date_tit {
  padding-top: .1rem;
  color: #555;
  font-size: .15rem; }

.hairlines .bd_part_input input {
  border-width: 0.5px; }

.bd_part_input ul {
  padding: .2rem 0 .4rem 0;
  font-size: .13rem;
  color: #003756; }

.paddLeft {
  padding-left: .1rem; }

.item {
  padding-top: .15rem;
  color: #003756;
  font-size: .15rem;
  vertical-align: text-bottom; }

.item a {
  color: #588dd4; }

.item input {
  width: .16rem;
  height: .17rem;
  
  
  
  background-size: .14rem .14rem;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
  vertical-align: middle; }

.oneshow {
  background: url(../img/checkbox1.png) no-repeat; }

.baofei {
  color: #999;
  padding-top: .3rem; }

.font_red {
  color: #ff5c00; }

.bd_footer {
  width: 100%;
  height: .48rem;
  background: #1e4e8e;
  
  text-align: center;
  line-height: .48rem;
  color: #fff;
  font-size: .14rem;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: auto; }


.wrapper {
  position: fixed;
  top: 0;
  bottom: .48rem;
  
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
