ul{
  margin:0;
}
.cell{
  background-color: #fff;
}
.item{
  position:relative;
  font-size:17px;
  text-align: center;
  margin-right: 30px;
}
.item:active{
   background-color: #F3F3F3;
}
.line{
  position:static;
}
.item:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 15%;
  width: 1px;
  height: 75%;
  border-right: 1px solid #D9D9D9;
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transform: scaleX(0.5);
      -ms-transform: scaleX(0.5);
          transform: scaleX(0.5);
}
.red{
  color:red;
}
.gradient-shadow{
    position: relative;
    height:3px;
}
.gradient-shadow:before{
    content: ' ';
    background: -webkit-linear-gradient(top, #BBB,#EEE ,white 100%);
    background: -moz-linear-gradient(top, #BBB,#EEE ,white 100%);
    background: -o-linear-gradient(top, #BBB,#EEE ,white 100%);
    background: linear-gradient(top, #BBB,#EEE ,white 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
    z-index: -1;
}
.ul_container{
  clear:both;background-color: #fff;padding:0;margin-bottom:30px;background-color: #F3F3F3;color:#A0A0A0;font-size:14px;
}
.order_title{
  padding:5px 10px 10px 0 ;font-size:15px;
}
.list_item{
  padding:10px 30px;margin-bottom:10px;background-color: #FFF;
}

.order_img{
  width:70px;height:70px;margin:0px 10px 0 0
}
.pay_money{
  text-align:right;padding:10px 0;
}


.weui_dialog {
  position: fixed;
  z-index: 13;
  width: 85%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FAFAFC;
  text-align: center;
  border-radius: 3px;
}
.weui_dialog_confirm .weui_dialog .weui_dialog_hd {
  text-align: left;
  padding: 1.2em 20px .5em;
}
.weui_dialog_confirm .weui_dialog .weui_dialog_bd {
  text-align: left;
}
.weui_dialog_hd {
  padding: 1.2em 0 .5em;
}
.weui_dialog_title {
  font-weight: 400;
  font-size: 17px;
}
.weui_dialog_bd {
  padding:20px 20px 0 20px;
  font-size: 15px;
  color: #888;
}
.weui_dialog_ft {
  position: relative;
  line-height: 42px;
  padding:0 20px 20px;
  font-size: 17px;
}
.weui_dialog_ft a {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.weui_dialog_ft a:active,
.weui_dialog_ft a:hover {
  text-decoration: none;
}

.weui_dialog_confirm .weui_dialog_ft a {
  position: relative;
  float: left;
  width: 50%;
}
.weui_dialog_confirm .weui_dialog_ft a:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  border-left: 1px solid #D5D5D6;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}
.weui_dialog_confirm .weui_dialog_ft a:first-child:after {
  display: none;
}
.weui_dialog_confirm .weui_dialog_ft a:last-child {
  float: none;
  width: auto;
  overflow: hidden;
  *zoom: 1;
}
.weui_btn_dialog.default {
  color: #353535;
}
.weui_btn_dialog.primary {
  color: #0BB20C;
}
@media screen and (min-width: 1024px) {
  .weui_dialog {
    width: 35%;
  }
}
.list_item:active{
  background-color: #F3F3F3;
}
.list_item{
  background:#f3f3f3 url(../img/coupon_bg_2.jpg)  no-repeat center ;
  width:300px;
  height:130px;
  background-size: contain;
  position: relative;
  padding:0 5px 0 5px;
  margin:5px auto;
}
 .coupon_text p{
    margin:8px 0 ;
 }
.logo_img{
  width: 50px;
  margin:20px 10px  0 0px;
}
.success_item{
  background:url(../img/coupon_success.png)  no-repeat ;
  background-size:contain;
}
.ing_item{
  background:url(../img/coupon_ing.png)  no-repeat ;
  background-size:contain;
}
.ood_item{
  background:url(../img/coupon_ood.png)  no-repeat ;
  background-size:contain;
}
.right_button_container{
  margin-top:45px;
  margin-right:10px;
}
.right_button{
  height:10px;
  width:10px;
}


@media all and (max-width: 375px)
{
  .tag{
    top:38px;
    right:45px;
    height:80px;
    width:80px;
    position: absolute;
    z-index: 0;
  }
}

@media all and (min-width: 385px)
{
  .tag{
  top:50px;
  right:65px;
  height:100px;
  width:100px;
  position: absolute;
  z-index: 0;
  }
  .list_item{
     width:370px;
     height:160px;
  }
  .coupon_text p{
    margin:12px 0 ;
  }
}

.default_text{
   margin-top:200px;text-align:center;color:#D1D1D1;display: none;
}