* {margin: 0;padding: 0;}
/* <=320的奇葩手机 */
@media  (max-width:320px) {
  html {
    font-size: 100px;
  }
  .logo_controller {
  	background: url(../img/my_bd/logo.png) no-repeat ;
  }
}

/* iphone 4, iphone5 */
@media only screen and (min-device-width:320px) and (max-device-width:568px) {
  html {
    font-size: 100px;
  }
   .logo_controller {
  	background: url(../img/my_bd/logo.png) no-repeat ;
  }
}

/* iphone 6 */
@media only screen and (min-device-width:375px) and (max-device-width:667px) {
  html {
    font-size: 117.18px;
  }
   .logo_controller {
  	background: url(../img/my_bd/logo2.png) no-repeat ;
  }
}

/* iphone6 plus */
@media only screen and (min-device-width:414px) and (max-device-width:736px) {
  html {
    font-size: 129.37px;
  }
   .logo_controller {
  	background: url(../img/my_bd/logo2.png) no-repeat ;
  }
}
ul {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  padding: .2rem;
}
ul li {
    height: auto;
}
li:nth-child(1) {
	/*width: 1.9rem;*/
	-webkit-box-flex: 1;
    -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
    border-bottom: 7px solid #e52f62;
}
li:nth-child(2) {
	width: .06rem;
	border-bottom: 7px solid #fff;
	
}
li:nth-child(3) {
	width: .84rem;
	border-bottom: 7px solid #003756;
	font-size: .13rem;
	color: #003756;
	padding-bottom: .07rem;
}
ul li:nth-child(1) p{
	display: inline-block;
	font-size: .13rem;
}
ul li:nth-child(1) p:nth-child(1){
	color: #003756;
	font-weight: bold;
}
ul li:nth-child(1) p:nth-child(2){
	color: #e52f62;
}