@charset "UTF-8";












































.pay_success_ctrl {
  padding: 0 50px; }
  .pay_success_ctrl .win {
    line-height: 82px;
    font-size: 15px;
    color: 555;
    text-align: center; }
    .pay_success_ctrl .win img {
      width: 20px;
      vertical-align: -2px; }
  .pay_success_ctrl .hint {
    height: 50px;
    font-size: 13px;
    color: #fff; }
  .pay_success_ctrl .main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
