.ul_container{
  font-size:15px;
  line-height: 40px;
  margin: 0 15px;
}
.header-nav
{
    line-height: 50px;

    position: relative;

    width: 100%;
    height: 50px;

    text-align: center;

    background: #d7d7d7;
}

.header-nav .header-left
{
    position: absolute;
    left: 10px;

    display: block;
}
.header-nav .header-left img
{
    width: 40px;
    vertical-align: middle;
}

.header-nav .header-center
{
    font-size: 18px;
    font-weight: normal;
    color:#767676;
}

.list_item div{
  position: relative;
  overflow: auto;
}
.list_item div:after
{
  content:'';
  clear:both;
  position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    border-top: 1px solid #d9d9d9;
}

.fold:before{
  content: " ";
  display: inline-block;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  position: relative;
  top: -2px;
  position: absolute;
  top: 40%;
  right: 2px;
  margin-top: -3px;
}
.fold:active,.open:active{
  background-color: #F3F3F3;
}
.open:before{
 content: " ";
  display: inline-block;
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  right: 2px;
  margin-top: -3px;
}
.subitem{
  background-color: #F3F3F3;
  display:none;
}
.fold,.open{
  cursor:pointer;
}
.bd_color{
  color: #4C4C4C;
}
.bd_strong{
  color:#247ad1;
}