.ul_container {
  clear: both;
  background-color: #fff;
  padding: 0;
  margin-bottom: 30px;
  background-color: #F3F3F3;
  color: #A0A0A0;
  font-size: 14px;
}
.item {
  position: relative;
  font-size: 17px;
  text-align: center;
  margin-right: 30px;
}
.item:active {
  background-color: #F3F3F3;
}
.item:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 15%;
  width: 1px;
  height: 75%;
  border-right: 1px solid #D9D9D9;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
.order_title {
  padding: 5px 10px 10px 0;
  font-size: 15px;
}
.list_item {
  padding: 10px 30px;
  margin-bottom: 10px;
  background-color: #FFF;
  box-shadow: 0 2px 3px #cacaca;
}
.list_item:active {
  background-color: #F3F3F3;
}
.default_text {
  margin-top: 200px;
  text-align: center;
  color: #D1D1D1;
}
.ul_container p {
  margin: 5px 0 10px 0;
}
.bd_status_text {
  color: #0f9532;
}
.bd_status {
  position: absolute;
  right: 0;
  height: 17px;
  line-height: 17px;
}
.pay_button{
  float:right;
  padding:5px;
  border:1px solid #ff0000;
  background-color: #ffe8e8;
  color:#584f4f
}
@media all and (max-width:320px) {
  .order_title, .ul_container {
    font-size: 13px;
  }
  .list_item {
    padding: 10px 10px;
  }
}

