@charset "UTF-8";
.left {
  float: left; }
.right {
  float: right; }
.promote_ctrl .head_ctrl {
  background: #006ee9;
  padding: 25px 10px;
  overflow: auto; }
  .promote_ctrl .head_ctrl .head_left {
    float: left; }
    .promote_ctrl .head_ctrl .head_left .head_word {
      font-size: .19rem;
      color: #fff; }
    .promote_ctrl .head_ctrl .head_left span {
      display: inline-block;
      width: .15rem;
      height: .15rem;
      background: #fff;
      border-radius: 50%;
      margin-right: 5px; }
    .promote_ctrl .head_ctrl .head_left .head_state {
      font-size: .15rem;
      color: #97c8ff; }
  .promote_ctrl .head_ctrl .head_center {
    float: left;
    font-size: .15rem;
    color: #fff;
    padding: .17rem 0 0 .3rem; }
    .promote_ctrl .head_ctrl .head_center img {
      margin-left: .05rem;
      width: .45rem;
      display: block; }
  .promote_ctrl .head_ctrl .head_right {
    float: right; }
    .promote_ctrl .head_ctrl .head_right .score {
      font-size: .51rem;
      color: #fff;
      text-align: center;
      line-height: normal;
      padding-top: 30px; }
    .promote_ctrl .head_ctrl .head_right div:nth-child(2) {
      width: 1.16rem;
      height: .38rem;
      box-sizing: border-box;
      border: 1px solid #97c8ff;
      border-radius: 2px;
      line-height: .38rem;
      text-align: center;
      color: #fff; }
.promote_ctrl .promote_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .promote_ctrl .promote_main .main_left {
    width: 55px; }
    .promote_ctrl .promote_main .main_left .shuxian {
      width: 27px;
      height: 44px;
      border-right: 1px solid #ccc; }
    .promote_ctrl .promote_main .main_left .quan_img {
      width: 30px;
      height: 30px;
      background: #ff6652;
      border-radius: 50%;
      margin-left: 12px;
      text-align: center; }
      .promote_ctrl .promote_main .main_left .quan_img img {
        margin-top: 7px;
        width: 15px; }
  .promote_ctrl .promote_main .pro_main_ctrl {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-top: 35px; }
    .promote_ctrl .promote_main .pro_main_ctrl .main_word {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      overflow: auto;
      height: 76px;
      padding: 0 10px 0 0; }
      .promote_ctrl .promote_main .pro_main_ctrl .main_word .main_head {
        font-size: 16px;
        color: #555; }
      .promote_ctrl .promote_main .pro_main_ctrl .main_word .change_word {
        font-size: 12px;
        color: #999; }
      .promote_ctrl .promote_main .pro_main_ctrl .main_word .ts_btn {
        background: #5aa8ff;
        width: 70px;
        height: 30px;
        border-radius: 3px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: #fff;
        margin-top: 10px; }
      .promote_ctrl .promote_main .pro_main_ctrl .main_word .main_l {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding-right: 10px; }
    .promote_ctrl .promote_main .pro_main_ctrl .main2 {
      height: 73px; }
    .promote_ctrl .promote_main .pro_main_ctrl .main3 {
      height: 74px; }
    .promote_ctrl .promote_main .pro_main_ctrl .main4 {
      height: 50px; }
