*{margin:0;padding:0;}
body{
	background: #f5f5f5;
}
.claim_controller {
	padding: 0 .19rem;
}
.claim_controller li {
	padding-top: .38rem;
}
	
p{
	/*padding-left: 38px;*/
	/*background: url(img/claim_information/logo.jpg) no-repeat;*/
	color: #555;
	font-size: .17rem;
	font-weight: bold;
}
span {
	font-size: .19rem;
	display: inline;
	color: #555;
	padding-left: 10px;
	font-weight: bold;
}
img{
	width: .19rem;
	height: .19rem;
}
a{
	color: #588dd4;
	text-decoration: underline;
	font-size: .16rem;
	display: block; 
}
.content {
	color: #999999;
	text-decoration: none;
	font-size: 15px;
}	
