@charset "UTF-8";
body {
  background: #f5f5f5; }
.doctor-detail {
  color: #444;
  font-size: 15px;
  background: #f5f5f5;
  padding-bottom: 49px; }
  .doctor-detail .doctor-detail-main {
    background: #fff;
    padding: 0 20px;
    position: relative; }
    .doctor-detail .doctor-detail-main::after {
      pointer-events: none;
      position: absolute;
      z-index: 999;
      top: 0;
      left: 0;
      content: "\0020";
      border-color: #c4c4c4;
      border-style: solid;
      border-width: 0 0 1px 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0; }
      @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        .doctor-detail .doctor-detail-main::after {
          width: 200%;
          height: 200%;
          -webkit-transform: scale(0.5);
          transform: scale(0.5); } }
      @media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
        .doctor-detail .doctor-detail-main::after {
          width: 200%;
          height: 200%;
          -webkit-transform: scale(1/3);
          transform: scale(1/3); } }
    .doctor-detail .doctor-detail-main .doctor-detail-main_doctor {
      padding: 15px 42px;
      position: relative; }
      .doctor-detail .doctor-detail-main .doctor-detail-main_doctor::after {
        pointer-events: none;
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        content: "\0020";
        border-color: #e2e2e2;
        border-style: solid;
        border-width: 0 0 1px 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0; }
        @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          .doctor-detail .doctor-detail-main .doctor-detail-main_doctor::after {
            width: 200%;
            height: 200%;
            -webkit-transform: scale(0.5);
            transform: scale(0.5); } }
        @media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
          .doctor-detail .doctor-detail-main .doctor-detail-main_doctor::after {
            width: 200%;
            height: 200%;
            -webkit-transform: scale(1/3);
            transform: scale(1/3); } }
      .doctor-detail .doctor-detail-main .doctor-detail-main_doctor img {
        width: 120px;
        display: block;
        margin: 0 auto;
        vertical-align: middle;
        margin-bottom: 15px; }
      .doctor-detail .doctor-detail-main .doctor-detail-main_doctor .doctor-detail-main_doctor_name {
        text-align: center;
        line-height: 15px;
        margin-bottom: 10px; }
      .doctor-detail .doctor-detail-main .doctor-detail-main_doctor .doctor-detail-main_doctor_detail {
        text-align: center;
        color: #999;
        font-size: 12px;
        line-height: 12px; }
        .doctor-detail .doctor-detail-main .doctor-detail-main_doctor .doctor-detail-main_doctor_detail span:nth-child(1) {
          margin-right: 15px; }
    .doctor-detail .doctor-detail-main .doctor-detail-main_doctor_intro {
      padding-bottom: 20px; }
      .doctor-detail .doctor-detail-main .doctor-detail-main_doctor_intro .doctor-detail-main_doctor_intro_detail {
        margin-top: 20px; }
        .doctor-detail .doctor-detail-main .doctor-detail-main_doctor_intro .doctor-detail-main_doctor_intro_detail .doctor-detail-main_doctor_intro_detail_tit {
          margin-bottom: 10px;
          line-height: 15px;
          font-weight: bold; }
        .doctor-detail .doctor-detail-main .doctor-detail-main_doctor_intro .doctor-detail-main_doctor_intro_detail span {
          margin: 0 10px 0 5px;
          vertical-align: 3px;
          display: inline-block;
          width: 5px;
          height: 5px;
          background: #4285f4;
          border-radius: 50%; }
        .doctor-detail .doctor-detail-main .doctor-detail-main_doctor_intro .doctor-detail-main_doctor_intro_detail .doctor-detail-main_doctor_intro_detail_word {
          font-size: 13px; }
  .doctor-detail .kong {
    height: 10px;
    background: #f5f5f5; }
