/*h1,h2,h3,h4,h5,h6 {
	margin: 0px;
    padding: 0px;
}*/
.ed-head{
	background-color: #f4ae54;color:#fff;text-align: center;
	font-size: 17px;
	padding:10px 0;
	margin-top:10px;
}
.ed-head p {
	margin:0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table td{
  padding: 0.07rem;
  font-size:0.15rem;
}
.bd_tr{
  border-bottom:1px solid #e0e0e0;
  text-align: left;
  line-height: 30px;
}
.ed-container{
	font-size:0.15rem;
	padding: 0 .17rem;
}
.accident {
	padding: 0;
}
/*.accident h4{
 	margin: 0px;
    padding: 0px;
 }*/
 .headline {
 	line-height: 49px;
 	background: #006ee9;
 	font-size: 15px;
 	color: #fff;
	padding: 0 10px;
 }
.h_10 {
	height: 10px;
	background: #f5f5f5;
}
.ed-container h4{
	color: #247ad1;
	font-size: 0.17rem;
}
.ed-container img{
	width:100%;
	/*max-height: 4rem;	*/
} 
.headline img {
 	width: 14px;
 	vertical-align: -3px;
 	margin-right: 5px;
} 
.die_img_ctrl {
	padding: 10px 10px 0;
	border-bottom: 1px solid #c4c4c4;
}
.die_img_ctrl img {
	/*width: auto;*/
}
.accident p {
	font-size: #555;
	padding: 0 10px; 
}
.accident p span {
	color: #006ee9;
	font-size: 15px;
}
.btn_n_primary_new {
	background: #006ee9;
	color: #fff;
}