@charset "UTF-8";
body {
  background: #f5f5f5; }
.target_ctrl {
  padding: .258rem 0;
  color: #555;
  text-align: center; }
  .target_ctrl .who {
    font-size: 18px;
    padding: 0 .77rem; }
  .target_ctrl .first {
    color: #999;
    font-size: 13px;
    padding: 0 .77rem; }
  .target_ctrl .relation {
    width: 204px;
    margin: 40px auto 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .target_ctrl .relation .column {
      -webkit-justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column; }
    .target_ctrl .relation .column_btn {
      font-size: 17px;
      margin: 0 auto;
      width: 90px;
      height: 90px;
      line-height: 90px;
      background: #fff;
      border: 1px solid #e2e2e2;
      border-radius: 50%;
      box-sizing: border-box;
      margin-bottom: 25px; }
    .target_ctrl .relation .blue {
      color: #fff;
      background: #55a5ff;
      border: none; }
  .target_ctrl .target_btn {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 49px;
    background: #006ee9;
    color: #fff;
    text-align: center;
    line-height: 49px;
    font-size: 15px;
    border-top: 1px solid #ccc; }
