/*414px 像素 iphone6 plus*/
html {
  font-size: 100px;
}

/* <=320的奇葩手机 */
@media  (max-width:320px) {
  html {
    font-size: 77.2946px;
  }
}

/* iphone 4, iphone5 */
@media only screen and (min-device-width:320px) and (max-device-width:568px) {
  html {
    font-size: 77.2946px;
  }
}

/* iphone 6 */
@media only screen and (min-device-width:375px) and (max-device-width:667px) {
  html {
    font-size: 90.579px;
  }
}

/* iphone6 plus */
@media only screen and (min-device-width:414px) and (max-device-width:736px) {
  html {
    font-size: 100px;
  }
}

html, body {
  -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);/*这一句是用来解决在安卓上的点击出现篮框问题*/
}

/*下面是解决ios上去除微信点击蓝色边框 */

/*
a:focus, input:focus, p:focus, div:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}*/


body {
  font: 0.14rem  Arial, Microsoft YaHei, SimHei, Helvetica, sans-serif;/*实际相当于14px*/
  line-height: 1.6;
  background-color: #fff;
  -webkit-text-size-adjust: 100% !important; /*禁止IOS调整字体大小*/
}
a, button, input, optgroup, select, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a, img {
  -webkit-touch-callout: none; /*禁止长按链接与图片弹出菜单*/
}
button, optgroup, select, textarea {
  -webkit-appearance: none; /*去掉webkit默认的表单样式*/
  outline: none;
}
a {
  text-decoration: none;
  color: #37bdc8;
}
input::-webkit-input-placeholder {
  color: #a3a3a3; /*修改webkit中input的planceholder样式*/
}

/*
input:focus{
    border-color: #247ad1;
}*/

/**/  /*修改webkit中focus状态下input的planceholder样式*/
input::-webkit-input-speech-button {
  display: none; /*隐藏Android的语音输入按钮*/
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.blue {
  color: #247ad1;
}
.red {
  color: #f13838;
}
.orange {
  color: #ff7550;
}
.line {
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  border-top: 1px solid #d9d9d9;
}
.mask {
  position: absolute;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, .6);
  cursor: pointer;
}
.toast {
  font-size: 14px;
  line-height: 20px;
  position: fixed;
  z-index: 3;
  top: 0.8rem;
  right: 0;
  left: 0;
  width: 90%;
  max-width: 400px;
  min-height: 4.6em;
  max-height: 3rem;
  overflow: auto;
  margin: auto;
  padding: 0.3rem;
  word-wrap: break-word;
  word-break: break-all;
  color: #4e4e4e;
  border-radius: 5px;
  background: #fff;
  box-sizing: border-box;
}
.gradient-shadow {
  position: relative;
  height: 3px;
}
.gradient-shadow:before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: ' ';
  background: -webkit-linear-gradient(top, #bbb, #eee, white 100%);
  background: -moz-linear-gradient(top, #bbb, #eee, white 100%);
  background: -o-linear-gradient(top, #bbb, #eee, white 100%);
  background: linear-gradient(top, #bbb, #eee, white 100%);
}
.btn {
  font-size: 0.20rem;
  line-height: 50px;
  height: 50px;
  bottom: 20px;    /*
              font-size: 18px;
              line-height: 2.33333333;*/
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-fixed {
  position: fixed;
  bottom: 0;
  border-radius: 0;
}
.btn_primary {
  color: #fff;
  background-color: #37bdc8;
}
.btn_n_primary {
  color: #fff;
  background-color: #247ad1;
}
.btn_dark_primary {
  color: #fff;
  background-color: #203161;
}

.btn_dark_2_primary {
  color: #fff;
  background-color: #1e4e8e;
}
.btn_no_radius {
  border-radius: 0;
}
.btn_primary:active{
  color: rgba(255, 255, 255, 0.4);
  background-color: #175da4;
}
.btn_n_primary:active{
  color: rgba(255, 255, 255, 0.4);
  background-color: #175da4;
}
.btn_dark_2_primary:active {
  color: rgba(255, 255, 255, 0.4);
  background-color: #175da4;
}
.btn_n_primary_default {

  /*border:1px solid #9c9c9c;*/
  color: #535353;
  background-color: #e3e3e3;
}
.btn_blue {
  font-size: 0.18rem;
  border: 1px solid #247ad1;
  color: #247ad1;
}
.btn_blue_default {
  font-size: 0.18rem;
  background-color: #fff;
  border: 1px solid #9c9c9c;
  color: #464646;
}
.weui_toast {
  position: fixed;
  z-index: 3;
  width: 7.6em;
  min-height: 7.6em;
  top: 180px;
  left: 50%;
  margin-left: -3.8em;
  background: rgba(40, 40, 40, 0.75);
  text-align: center;
  border-radius: 5px;
  color: #FFFFFF;
}
.weui_icon_toast {
  margin: 22px 0 0;
  display: block;
}
.weui_icon_toast:before {
  content: '\EA08';
  color: #FFFFFF;
  font-size: 55px;
}
.weui_toast_content {
  margin: 0 0 0px;
}
.weui_loading_toast .weui_toast_content {
  margin-top: 64%;
  font-size: 14px;
}
.weui_mask_transparent {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.weui_toast_content {
  margin: 0 0 15px;
}
.head-container {
  width: 1.85rem;
  margin: 0.2rem auto 0;
}
.head-container .cell_hd {
  width: 200px;
}
.head-container .btn {
  border-radius: 0;
  height: 0.35rem;
  line-height: 0.35rem;
  font-size: 0.17rem;
}
.head-container .btn_unchoose {
  background-color: #cacaca;
  color: #fff;
}

/* info 须知页面*/
.infocontainer {
  margin: 0 0.35rem;
}
h3 {
  text-align: center;
  font-size: 0.22rem;
  font-weight: normal;
  color: #535353;
}
h5 {
  color: #247ad1;
  font-size: 0.15rem;
  margin: 0.14rem 0;
}
.infocontainer p {
  color: #737373;
}
.wrapper {
  padding: 0px 0.17rem;
}
.word_container {
  width: 2.5rem;
  margin: 0.2rem auto;
  font-size: 0.17rem;
  color: #4e4e4e;
}
.word_container>div {
  text-align: center;
}
.score {
  font-size: 0.27rem;
}
.weui_dialog {
  position: fixed;
  z-index: 13;
  width: 85%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #FAFAFC;
  text-align: center;
  border-radius: 3px;
}
.weui_dialog_confirm .weui_dialog .weui_dialog_hd {
  text-align: left;
  padding: 1.2em 20px .5em;
}
.weui_dialog_confirm .weui_dialog .weui_dialog_bd {
  text-align: left;
}
.weui_dialog_hd {
  padding: 1.2em 0 .5em;
}
.weui_dialog_title {
  font-weight: 400;
  font-size: 17px;
}
.weui_dialog_bd {
  padding: 20px 20px 0 20px;
  font-size: 15px;
  color: #888;
}
.weui_dialog_ft {
  position: relative;
  line-height: 42px;
  padding: 20px;
  font-size: 17px;
}

/*
.weui_dialog_ft a {
display: block;
text-decoration: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.weui_dialog_ft a:active,
.weui_dialog_ft a:hover {
text-decoration: none;
}

.weui_dialog_confirm .weui_dialog_ft a {
position: relative;
float: left;
width: 50%;
}
.weui_dialog_confirm .weui_dialog_ft a:after {
content: " ";
position: absolute;
left: 0;
top: 0;
width: 1px;
height: 100%;
border-left: 1px solid #D5D5D6;
-webkit-transform-origin: 0 0;
   transform-origin: 0 0;
-webkit-transform: scaleX(0.5);
   transform: scaleX(0.5);
}
.weui_dialog_confirm .weui_dialog_ft a:first-child:after {
display: none;
}
.weui_dialog_confirm .weui_dialog_ft a:last-child {
float: none;
width: auto;
overflow: hidden;
*zoom: 1;
}*/
.weui_btn_dialog.default {
  color: #353535;
}
.weui_btn_dialog.primary {
  color: #0BB20C;
}
@media screen and (min-width:1024px) {
  .weui_dialog {
    width: 35%;
  }
}
.weui_mask {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.weui_mask_transparent {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.weui_mask_transition {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background .3s;
  transition: background .3s;
}
.fix_container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  z-index: 10000;
}
.fixed-top {
  position: fixed;
  cursor: pointer;
  right: 0.2rem;
  bottom: 1rem;
  z-index: 1000000;
}
/*
.wx-tip {
    position: absolute;
    position: fixed;
    z-index: 10000;
    top: -80px;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../../img/share_tip.png") no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
}
*/
.wx-tip {
    margin:0 auto;
    z-index: 10000;
    top: 20px;
    width:200px;
    height:103px;
    background: url("../../img/share_tip.png") no-repeat center;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
}