@charset "UTF-8";
.wrapper {
  padding: 0;
  position: relative;
  background-color: #4285f4; }
.dash {
  padding-top: 35px;
  background-color: #4285f4;
  position: relative; }
.navigation {
  width: 250px;
  color: #90baff;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
.navigation__leftbtn {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
   }
.navigation__name {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
   }
.navigation__rightbtn {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
   }
.pannel-container {
  padding: 10px; }
.pannel {
  padding: 7px 15px;
  border-radius: 2px;
  background-color: #FFF; }
.pannel__nav {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .pannel__nav::after {
    pointer-events: none;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    content: "\0020";
    border-color: #b5b5b5;
    border-style: solid;
    border-width: 0 0 1px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
    @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .pannel__nav::after {
        width: 200%;
        height: 200%;
        -webkit-transform: scale(0.5);
        transform: scale(0.5); } }
    @media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
      .pannel__nav::after {
        width: 200%;
        height: 200%;
        -webkit-transform: scale(1/3);
        transform: scale(1/3); } }
.pannel__nav__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  position: relative;
  position: relative; }
  .pannel__nav__item::after {
    pointer-events: none;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    content: "\0020";
    border-color: #b5b5b5;
    border-style: solid;
    border-width: 0 1px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
    @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .pannel__nav__item::after {
        width: 200%;
        height: 200%;
        -webkit-transform: scale(0.5);
        transform: scale(0.5); } }
    @media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
      .pannel__nav__item::after {
        width: 200%;
        height: 200%;
        -webkit-transform: scale(1/3);
        transform: scale(1/3); } }
.pannel__nav__item_left:after {
  position: absolute;
  height: 80px;
  width: 1px;
  right: 0;
  color: #b5b5b5; }
