@charset "UTF-8";
.pay_success_ctrl {
  padding: 0 .5rem; }
  .pay_success_ctrl .win {
    line-height: 82px;
    font-size: 15px;
    color: 555;
    text-align: center; }
    .pay_success_ctrl .win img {
      width: 20px;
      vertical-align: -2px; }
  .pay_success_ctrl .hint {
    box-sizing: border-box;
    padding: 5px 18px;
    height: 50px;
    font-size: 13px;
    color: #fff;
    background: url(../img/win_hint/back_big.png) no-repeat;
    background-size: 100% 100%; }
.main img {
  width: 100%; }
