@charset "UTF-8";
body {
  background: #f5f5f5;
  line-height: normal; }
.hobby {
  padding: 20px 0;
  color: #555;
  font-size: 15px;
  text-align: center;
   }
  .hobby .piont {
    color: #999;
    margin-bottom: 10px; }
  .hobby .trouble {
    margin: 20px 0 10px 0; }
  .hobby .select {
    color: #999;
    font-size: 13px;
    margin-bottom: 15px; }
  .hobby .relation .btn_ctrl img {
    width: 15px;
    display: none; }
  .hobby .relation .hobby_btn {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    width: 190px;
    height: 44px;
    line-height: 44px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #e2e2e2; }
  .hobby .relation .blue {
    background: #55a5ff;
    color: #fff;
    border: none; }
  .hobby .switch {
    position: relative;
    display: block;
    vertical-align: top;
    width: 160px;
    height: 45px;
    padding: 3px;
    margin: 0 auto;
    outline: none;
    border-radius: 31px;
    cursor: pointer;
    border: none;
    margin-bottom: 10px; }
  .hobby .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-tap-highlight-color: transparent; }
  .hobby .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 17px;
    text-transform: uppercase;
    background: #eee;
    border-radius: inherit;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    font-family: Arial, Microsoft YaHei, SimHei, Helvetica, sans-serif; }
  .hobby .switch-label:before, .hobby .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit; }
  .hobby .switch-label:before {
    content: attr(data-off);
    right: 30px;
    color: #555; }
  .hobby .switch-label:after {
    content: attr(data-on);
    left: 30px;
    color: #555;
    opacity: 0; }
  .hobby .switch-input:checked ~ .switch-label {
    background: #f0f0f0; }
  .hobby .switch-input:checked ~ .switch-label:before {
    opacity: 0; }
  .hobby .switch-input:checked ~ .switch-label:after {
    opacity: 1; }
  .hobby .switch-handle {
    position: absolute;
    top: 3px;
    left: 4px;
    width: 90px;
    height: 45px;
    background-color: #55a5ff;
    border-radius: 44px; }
  .hobby .switch-handle:before {
    content: "重点";
    position: absolute;
    color: #fff;
    font-size: 17px;
    top: 0;
    left: 0;
    width: 90px;
    height: 45px;
    line-height: 45px;
    font-family: Arial, Microsoft YaHei, SimHei, Helvetica, sans-serif; }
  .hobby .switch-input:checked ~ .switch-handle:before {
    content: "全面"; }
  .hobby .switch-input:checked ~ .switch-handle {
    -webkit-transform: translateX(70px);
    -moz-transform: translateX(70px);
    -ms-transform: translateX(70px);
    -o-transform: translateX(70px);
    transform: translateX(70px); }
  .hobby .switch-label, .hobby .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease; }
.target_btn {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 49px;
  background: #006ee9;
  color: #fff;
  text-align: center;
  line-height: 49px;
  font-size: 15px;
  border-top: 1px solid #ccc; }
