.ul_container
{
    font-size: 14px;
    clear: both;
    margin-top: 18px;
    /*margin-bottom: 30px;*/
    padding: 0;
    color: #a0a0a0;
    background-color: #fff;
    background-color: #f3f3f3;
}
.cell_hd {
    text-align: center;
}
.cell_hd.select {
    color: #588dd4 !important;          /*border-bottom: 3px solid #588dd4;*/
    position: relative;
}


.head-container{
    width:200px;
    margin:15px auto 25px;
}
.head-container .cell_hd {
  width: 200px;
  height:auto;
}
.head-container .btn {
  height: 34px;
  line-height: 34px;
  font-size: 12px;
}
.head-container .btn_n_primary{
    background-color: #1e4e8e;
    border-radius: 20px;
}
.head-container .btn_unchoose {
  background-color: #cacaca;
  color: #555;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  top:0;
  left:12px;
  z-index:-1;
}


.select:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #247ad1;
    bottom: 0;
    left: 0
}
.nav {
    position:fixed;
    top:0;
    left:0;
    z-index:99999;
    background: #fff;
}

.order_title
{
    font-size: 15px;

    padding: 5px 10px 10px 0 ;
}
.list_item
{
    position: relative;

    overflow: hidden;

    margin-bottom: 8px;
    padding: 10px 13px;

    color: #353535;
    background-color: #fff;
}
.list_item:active
{
    background-color: #f3f3f3;
}
.default_text
{
    margin-top: 200px;

    text-align: center;

    color: #d1d1d1;
}
.ul_container p:not(:first-child)
{
    margin: 5px 0;
}
.order_img
{
    width: 100px;
}
.logo_img
{
    float: right;

    width: 90px;
}


.h_title
{
    font-size: 0.16rem;
    font-weight: bold;

    position: relative;

    margin: 0;

    color: #353535;
}
.desc
{
    font-size: 12px;

    margin-bottom: 0;
}
.money
{
    font-size: 0.14rem;
    color: #ff5c00;
}


.img_box
{
    float: left;

    margin-right: 10px;
    line-height: 0;
}
.small_container
{
    overflow: hidden;
    min-height: 100px;height:100px;
    position: relative;
    background: url(../img/ta_logo_pd.png) no-repeat top right;
    background-size: 50px;
}
.bottom_container
{
    position: absolute;
    bottom: 0px;
    left: 0; right: 0;

}
.money_container
{
    display: inline-block;

    vertical-align: bottom;
}
.small_btn
{
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    padding: 5px 10px;
    color: #588dd4;
    border: 1px solid #588dd4;
    border-radius: 5px;
}
.hairlines .small_btn{
    border-width:0.5px;
}
@media all and (max-width: 320px)
{
  
    .small_btn{
      padding:3px 5px;
    }
    .order_img
    {
        width: 80px;
    }
    .list_item
    {
        padding: 10px 5px;
    }
    .h_title
    {
        font-size: 0.14rem;
    }
}

.cell_font {
    font-size: .2rem;
    text-align: center;
    padding-top: .5rem;
    background: #f5f5f5;

}
.cell_font img {
    width: 86px;
    height: 86px;
}
.mar_10 {
    height: 8px;
    background: #f5f5f5;
}
body {
    background: #f5f5f5;
}
.font_size15 {
  font-szie: 15px;
}
.font15 {
    font-size: 15px;
}