body {
  background-color: #fff;
}
header img {
  max-height: 2rem;
  width: 100%;
}
.container {
  padding: 0 0.15rem;
}
h4 {
  font-weight: normal;
  font-size: 0.14rem;
}
h5 {
  font-size: 0.16rem;
  font-weight: normal;
  margin: 0.1rem 0;
}
.detail-container {
  margin-bottom: 0.3rem;
  position: relative;
}
.main-title {
  font-size: 0.24rem;
}
.subtitle {
  font-size: 0.18rem;
  height: 0.25rem;
  line-height: 0.25rem;
  -webkit-border-radius: 0 0.5rem 0.5rem 0;
  background: #247ad1;
  display: inline-block;
  color: #fff;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #b1b1b1;
  padding: 0.07rem;
  text-align: center;
}
.content-table {
  font-size: 0.16rem;
}
.content-table th {
  font-weight: normal;
  background-color: #c6ebff;
  color: #1a4b66;
}
.detail-container img {
  width: 100%;
  max-height: 4rem;
}
.detail-container span {
  font-size: 0.2rem;
  font-weight: 900;
  color: #1f5892;
  position: absolute;
  left: 17%;
  top: 7%;
}
.content-table .td-left {
  text-align: left;
}
.choose {
  border-color: #247ad1;
  color: #247ad1;
  position: relative;
}
.choose:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #247ad1;
  bottom: 0;
  left: 0
}
.help {
  display: inline-block;
  line-height: 17px;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background-color: #5493d5;
  text-align: center;
  color: #fff;
  vertical-align: middle;
}
.help-img {
  height: 0.18rem;
  vertical-align: -0.02rem;
}
.introd-top {
  margin: 0.15rem 0;
  font-size: 0.15rem;
}
.introd-sum {
  margin: 0.2rem 0;
  font-size: 0.18rem;
}
.money_color {
  color: #ff5c00;
}
footer {
  margin-top: 1rem;
}
.head-container {
  position: absolute;
  top: 100px;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}
.head-container img {
  width: 100px;
  height: 100px;
  margin: -0.22rem 0.08rem 0 0.17rem;
}
.head-container p {
  margin: 3px 0;
}
.head-container .close{
  position: absolute;
  top:5px;
  right:5px;
  width:25px;
  height:25px;
  background:#fff url("../img/close_1.jpg") no-repeat center /25px;
}
.select-container {
  margin-left: 0.17rem;
}
.select-container h4 {
  margin: 0.14rem 0 0.08rem 0;
}
.button {
  font-size: 0.13rem;
  line-height: 0.33rem;
  height: 0.33rem;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  padding: 0 0.17rem;
  margin-right: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.button_primary {
  border: 1px solid #c1c1c1;
  color: #000;
  background-color: #fff;
}
.button_hover {
  border: 1px solid #247ad1;
  color: #000;
  background: #fff url("../img/choose_rb.png") no-repeat right bottom/15px;
}
.button_minus {
  border-right: 1px solid #c1c1c1;
  vertical-align: middle;
  background: #fff url("../img/minus.jpg") no-repeat center/10px;
}
.button_plus {
  border-left: 1px solid #c1c1c1;
  vertical-align: middle;
  background: #fff url("../img/plus.jpg") no-repeat center/12px;
}