@charset "UTF-8";
body {
  background: #f5f5f5; }
.left {
  float: left; }
.right {
  float: right; }
input {
  border: none; }
.recognizee_compile_ctrl .head_ctrl {
  padding: 15px 10px;
  background: #f5f5f5; }
.recognizee_compile_ctrl .head {
  box-sizing: border-box;
  border-radius: 5px;
  line-height: 45px;
  text-align: center;
  background: #4285f4;
  font-size: 15px;
  color: #fff;
  border: qpx solid #ccc; }
  .recognizee_compile_ctrl .head img {
    width: 10px; }
.recognizee_compile_ctrl .head:active {
  background: #266ada; }
.recognizee_compile_ctrl .bor {
  border-top: 1px solid #e2e2e2;
  height: 1px; }
.recognizee_compile_ctrl .main {
  margin-bottom: 10px;
  border-bottom: 1px solid #c4c4c4;
  background: #fff;
  padding: 15px 15px 10px 15px;
  box-sizing: border-box; }
  .recognizee_compile_ctrl .main .main_head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-bottom: 10px; }
  .recognizee_compile_ctrl .main .head_left {
    min-width: 63px;
    font-size: 18px;
    color: #555;
    vertical-align: bottom;
    display: table-cell;
    margin-right: 8px; }
  .recognizee_compile_ctrl .main .head_right {
    font-size: 13px;
    color: #999;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
    padding-top: 5px; }
    .recognizee_compile_ctrl .main .head_right .moren {
      margin-left: 10px;
      color: #5aa8ff; }
  .recognizee_compile_ctrl .main .head_bottom {
    width: 60px;
    height: 60px;
    position: absolute;
    right: -10px;
    top: -10px; }
    .recognizee_compile_ctrl .main .head_bottom img {
      width: 15px;
      position: absolute;
      right: 10px;
      top: 10px;
      vertical-align: middle; }
  .recognizee_compile_ctrl .main .status, .recognizee_compile_ctrl .main .phone {
    color: #999;
    font-size: 13px;
    line-height: 20px; }
    .recognizee_compile_ctrl .main .status span, .recognizee_compile_ctrl .main .phone span {
      font-size: 13px;
      color: #5aa8ff; }
    .recognizee_compile_ctrl .main .status img, .recognizee_compile_ctrl .main .phone img {
      width: 15px;
      margin-right: 5px;
      display: inline-block; }
