
.tx_lf {
	text-align: left;
}
.tx_ce {
	text-align: center;
}
.bt_container {
	position: relative;
	border-width: 1px;
	border-style: none none solid none;
	border-color: #e0e0e0;
	padding: 0.1rem 0px;
	font-size: 0.16rem;
	overflow: auto;
}
/*
.bt_container div {
	position: absolute;
	top: 0.2rem;
}*/
.bt_container a {
	float: right;
	width: 0.8rem;
	line-height: 0.3rem;
	height: 0.3rem;
	font-size: 0.16rem;
	vertical-align: bottom;
	align: right;
}
.bt_container span {
	/*font-size: 0.2rem;*/
}
.score_container {
	position: absolute;
	color: #1e4e8e;
	left:0.2rem;
	z-index: 10;

}
.score_container > p{
	display:inline;
	vertical-align: bottom;

}
.score_container  span {
	font-size: 0.45rem
}
.small {
	font-size: 0.12rem;
}

.canvas_text {
	color: #247ad1;
	font-size: 0.2rem;
	text-align: center;
}
.weui_progress_bar {
	background-color: #e0e0e0;
	height: 5px;
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.weui_progress_inner_bar {
	width: 0;
	height: 100%;
	background-color: #247ad1;
}
.weui_progress_bar .kedu {
	position: absolute;
	top: -0.13rem;
}
.kedu .zz {
	height: 10px;
	width: 2px;
	background-color: #cacaca;
}
.kedu .top-word {
	position: absolute;
	top: -0.3rem;
	width: 0.5rem;
	left: -0.23rem;
	line-height: 0.13rem;
	color: #535353;
	text-align: center;
}
.kedu .top-word span {
	color: #ff7550;
}
.kedu .top-word >div {
	line-height: 0.1rem;
	margin: 4px;
	color: #ff5c00;
}
.kedu>p {
	position: absolute;
	top: 0.15rem;
	width: 0.5rem;
	font-size: 0.12rem;
	left: -0.2rem;
	color: #535353;
}
.kedu .hover {
	background-color: #247ad1;
}
.kedu .wordhover {
	color: #247ad1;
	font-size: 0.14rem;
	font-weight: bold;
	top: 0.12rem;
}
.bottom_container {
	border-width: 1px;
	border-style: none none solid;
	border-color: #cacaca;
	padding: 0.4rem 0.2rem;
	margin-top: 0.2rem;
	position: relative;
	text-align: center;
}
.left_button {
	background-color: #247ad1;
	height: 16px;
	width: 16px;
	border-radius: 100%;
	float: left;
	position: relative;
	top: -6px;
}
.ring {
	background-color: #e0e0e0;
	height: 16px;
	width: 16px;
	border-radius: 100%;
	float: right;
	position: relative;
	top: -10px;
}

.bar_btn {
	width: 0.29rem;
	top: 0.38rem;
	left: 35px;
	position: absolute;
	z-index: 3;
}
#zhizhen {
	position: absolute;
	width: 1rem;
	height: 1.2rem;
	top: -0.5rem;
	left:-0.5rem;
	z-index: 1000;
	margin-left: -14px;
}
#zhizhen:before{
    position:absolute;
    content:'';
    top:-10px;
    right:-10px;
    left:-10px;
    bottom:-10px;
}
.help_img {
	height: 0.18rem;
	margin-top: 0.19rem;
	vertical-align: top;
}
.close{
	width:50px;
	height:50px;
	position: absolute;right:0px;top:0px;
	cursor:pointer;
}
.close img{
	width:13px;
	position: absolute;right:5px;top:5px;
}
.mask h4,.mask h3,.mask h5{
	text-align: center;
}
.mask h3{
	font-size: 0.18rem;margin-top: 0;
}
.mask h4{
	font-size: 0.17rem;margin-top: 0;
}
.mask h5{
	font-size: 0.14rem;
	margin:0.1rem 0;
}
.cell_container{
	border-bottom: 1px solid #cccccc; 
}
.cell_container .logo{
	width:20px;
}
.cell_container .word{
	color:#3e85d4;font-size:0.17rem;padding-left: 10px;
}
.cell_container .danwei{
	color:#bababa;font-size:0.17rem;
}
.cell_container_foucs{
	border-bottom: 1px solid #65a2df; 
}
.cell_container_foucs .danwei{
	color:#ff7550;
}
.select_btn {
	/*border-top: 1px solid #e2e2e2;*/
	box-sizing: border-box;
    background: #fff;
    height: 48px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.left_btn,.right_btn,.right_center {
	height: 48px;
    line-height: 48px;
    color: #555;
    background: #fff;
    font-size: 15px;
}
.left_btn {
	width: 45%;
	text-align: right;
}
.right_center {
	width: 10%;
    background: #fff;
}
.right_btn {
	width: 45%;
}
.font_wei {
	font-weight: bold;
}