@charset "UTF-8";
* {
  box-sizing: border-box; }
body {
  background-color: #f5f5f5; }
.left {
  float: left; }
.right {
  float: right; }
.qrcode-wrapper {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100; }
  .qrcode-wrapper .qrcode-container {
    position: relative;
    top: .6rem;
    width: 60%;
    margin-left: 20%; }
    .qrcode-wrapper .qrcode-container img {
      width: 100%; }
header {
  background-color: #1e4e8e;
  height: .56rem;
  line-height: .56rem;
  box-sizing: border-box;
  padding: .13rem .12rem; }
  header .div_inline {
    height: .3rem;
    line-height: .3rem;
    font-size: .13rem;
    color: #88aeee; }
  header .focus_btn {
    display: inline-block;
    height: .3rem;
    padding: 0 .2rem;
    color: #fff;
    font-size: .13rem;
    text-align: center;
    line-height: .3rem;
    border-radius: 3px;
    border: 1px solid #588dd4;
    box-sizing: border-box; }
  header .logo-container {
    margin-right: 5px;
    margin-top: .03rem;
    float: left; }
    header .logo-container .logo {
      border-right: 1px solid #588dd4;
      line-height: 0;
      padding-right: 5px; }
      header .logo-container .logo img {
        width: .67rem; }
.nav {
  background-color: #FFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .nav .item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    height: 1.03rem;
    padding-top: .25rem;
    padding-bottom: .2rem;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    font-size: 13px; }
    .nav .item div {
      margin-top: 5px;
      color: #555; }
    .nav .item img {
      width: 23px;
      vertical-align: middle; }
.recommend {
  background-color: #FFF;
  margin-top: 15px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  border-bottom: 1px solid #e2e2e2;
  color: #555;
  font-size: 15px; }
  .recommend img {
    width: 25px;
    vertical-align: -5px; }
.recommend-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF;
  margin-bottom: .1rem; }
  .recommend-content .introd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px;
    border-right: 1px solid #e2e2e2; }
    .recommend-content .introd .box .name {
      color: #555;
      font-size: 15px; }
    .recommend-content .introd .box .more {
      color: #999; }
    .recommend-content .introd .box img {
      width: 50px; }
  .recommend-content .recommend-container {
    -webkit-box-flex: 2.5;
    -webkit-flex: 2.5;
    -moz-box-flex: 2.5;
    -ms-flex: 2.5;
    flex: 2.5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }
    .recommend-content .recommend-container .flex-item {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      border-bottom: 1px solid #e2e2e2;
      padding: 10px 15px;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center; }
      .recommend-content .recommend-container .flex-item .hot, .recommend-content .recommend-container .flex-item .special_offer {
        background-color: #ff5c00;
        border-radius: 3px;
        color: #fff;
        padding: 0.01rem .03rem;
        font-size: .1rem;
        margin-top: 1px; }
      .recommend-content .recommend-container .flex-item .special_offer {
        background-color: #ff005a; }
      .recommend-content .recommend-container .flex-item .title {
        color: #555;
        font-size: 15px; }
      .recommend-content .recommend-container .flex-item .des {
        color: #999;
        font-size: 13px; }
      .recommend-content .recommend-container .flex-item .money {
        color: #ff5c00;
        font-size: 15px; }
    .recommend-content .recommend-container .flex-item > div {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
       }
.btn_container span {
  color: #588dd4; }
.btn_container img {
  width: 18px;
  vertical-align: -3px; }
.phone-container {
  color: #588dd4;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  margin-top: 26px; }
  .phone-container img {
    width: 20px;
    vertical-align: -5px; }
