@charset "UTF-8";
* {
  box-sizing: border-box; }
body {
  background-color: #f5f5f5; }
.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF; }
  .nav .item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #e2e2e2; }
  .nav .item.select {
    color: #588dd4;
    border-bottom: 3px solid #588dd4; }
.insurance {
  background-color: #f5f5f5;
  margin-top: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .insurance .insurance-item {
    background-color: #fff;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
    border-bottom: 1px solid #e2e2e2; }
    .insurance .insurance-item .logo {
      width: 1.07rem;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      border-right: 1px solid #e2e2e2;
      position: relative; }
      .insurance .insurance-item .logo .logo_mask {
        position: absolute;
        background-color: #e9f8ff;
        height: 22px;
        width: 100%;
        left: 0;
        bottom: 0; }
      .insurance .insurance-item .logo .insurance-image {
        width: 100px; }
      .insurance .insurance-item .logo .conpany-logo {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        height: 22px;
        background: #e9f8ff; }
        .insurance .insurance-item .logo .conpany-logo img {
          height: 15px; }
    .insurance .insurance-item .wrap {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: .15rem; }
      .insurance .insurance-item .wrap .hot, .insurance .insurance-item .wrap .special_offer {
        background-color: #ff5c00;
        color: #fff;
        border-radius: 3px;
        padding: .01rem .03rem;
        font-size: .1rem; }
      .insurance .insurance-item .wrap .special_offer {
        background-color: #ff005a; }
      .insurance .insurance-item .wrap .title {
        color: #555;
        font-size: .15rem; }
      .insurance .insurance-item .wrap .des {
        color: #999;
        font-size: .13rem; }
      .insurance .insurance-item .wrap .money {
        color: #ff5c00;
        font-size: .15rem; }
