.main{
	margin:0 20px;
}
.bd{
	margin-bottom:20px;
}

.sub_title {
  color: #222;
  text-align:justify;
  margin-top: 9px;
  margin-bottom:2px;
  font-size: 15px;
  font-weight: bold;
}
.cell_hd_border {
  border: 1px solid #e2e2e2;
}
.strong{
	color:#247ad1;
}
.self{
	background: url(img/self.jpg) no-repeat top right;
	background-size:25px;
}
.toast_popup{
	padding:20px;width:270px;height: auto;
}
.popup_title_cell{
	padding-left:20px;background-color: #e5e5e5;font-size:15px;text-align: center;
}
.popup_content_cell{
	padding-left:20px;font-size:14px;color:#000;text-align: center;border:1px solid #dcdcdc;
}

.toast .cell:not(:last-child){
	border-bottom: none;
}
.main .cell{
	  margin-bottom: 12px;
}
.btn_small{
	font-size:0.16rem;
}
.weui_select {

  -webkit-appearance: none;
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 100%;
  font-size: inherit;
  height: 44px;
  position: relative;
  z-index: 1;
  padding-right:5px;

}

.select_bg{
  background: #fff url(../img/right_btn.jpg) no-repeat 98% 50%;
  background-size: 10px;
}
.select_bg_2{
    background: #fff url(../img/show_select.jpg) no-repeat 98% 50%;
    background-size: 10px;
    color:#247ad1;
}
#select_toubao .btn_n_primary{
  background: #fff url(../img/chosen.png) no-repeat right top/20px;
  border:1px solid #247ad1;
  color:#000;
}
.btn_n_primary {
  background: #fff;
}
.btn_n_new_primary {
  color:#fff;
  background-color: #1e4e8e;
}
.tg_dz_fr{
  color: #555;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table td, table th {
  padding: 0.07rem;
  vertical-align:top;
}
.bd_th{
  border-bottom:1px solid #e2e2e2;text-align: left;
}
.bd_tr{
  border-bottom:1px solid #e2e2e2;text-align: left;
}
.tb_logo{
  vertical-align: -3px;
  width:15px;
  margin-right: 5px;
}
.job_main{
  margin:0.1rem;
  color:#247ad1;
}
.job_main h4{
  font-size:0.18rem;
  font-weight: normal;
  margin:0.05rem 0 0.05rem 0.08rem;
}
.job_main .select_bg{
  background: #fff url(../img/job_select.jpg) no-repeat 98% 50%;
  background-size: 6px;
}
.job_main .squre{
  border-radius: 2px;width:10px;height:10px;background-color: #247ad1;display: inline-block;
}

.job_main .cell_td{
  padding: 0.05rem; 
  margin:0.1rem 0  0 0.1rem;
  display:table;
  width:43%;
  float:left;
  height:40px;
  /*
  line-height: 40px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;*/
}
.job_main .content{
  display:table-cell;
  vertical-align: middle;
}
.job_main td{
      width:50%;
      /*border:1px solid #b1b1b1;*/
      padding:8px 0 8px 5px;
}
#self_container,#family_container{
   margin:20px;
  
   font-weight: normal;
}
#self_container h4,#family_container h4{
   font-weight: normal;
   margin:0.05rem 0;
   color:#247ad1;
   font-size:0.18rem;
}
#self_container h6{
  margin:0.05rem 0 0.1rem;
  color:#c1c1c1;
  font-weight: normal;
}
#self_container .cell{
  margin:0.1rem 0 ;
}
#family_container .delete{
  background:url(../img/delete_us.jpg) no-repeat center/15px;
  vertical-align: middle;
}
#family_container  .hover{
  background:url(../img/delete_s.png) no-repeat center/15px;
  vertical-align: middle;
}
.boder_right_none{
  border-right: none;
}
.boder_left_none{
  border-left: none;
}
.cell_hd_2_word{
  width:90px;
  text-indent: 20px;

  letter-spacing:26px;
}
.cell_hd_3_word{
  width:90px;
  text-indent: 20px;

  letter-spacing:7px;
}
.cell_hd_4_word{
  width:90px;
  text-indent: 20px;
}
.cell_hd_foucs{
  border-color:#247ad1;
  box-shadow: 0 0 2px #60afff;
}
.pay_container{
  overflow: hidden;position: fixed;bottom:0;width:100%;border-top: 1px solid #e2e2e2;box-sizing: border-box;height: 48px;
}
.pay_container .left{
  margin-right:1.5rem;width:65%;border-radius: 0
}
.pay_container .right{
  background-color: #ff5c00;
  float:right;
  width: 35%;
  border-radius: 0
}
.money_size {
  font-size: .27rem;
  color: #ff5c00;
}
.status{
  text-align: center;
  color:#fff;
}
.tb{
  background-color: #ff5c00;
}
.unsell{
  background-color: #cccccc;
}


