
  <div class="detail-container">
    <h5>意外事故造成的死亡伤残和就医概率高达30%以上</h5>
    <div>
      <img src="img/product/changqingshu03.jpg" ></div>
    <h5>综合意外，附加高保额交通意外，双重保障</h5>
    <div>
      <img src="img/product/changqingshu04.jpg"></div>
    <h5>医疗报销无免赔，有津贴，社保外的也可保</h5>
    <div>
      <img src="img/product/changqingshu05.jpg"></div>
  </div>
  <div class="line"></div>
  <h4>
    <span class="subtitle">&nbsp;理赔流程&nbsp;&nbsp;</span>
  </h4>
  <div class="detail-container">
    <img src="img/product/info.jpg">
    <span> 95507 </span>
   </div>