<div class="detail-container">
  <h5>旅游，少不了沿途的风景，但意外也有可能发生</h5>
  <div>
    <img src="img/product/tianyou03.jpg" ></div>
  <h5>精选组合，8 大保障，每人可买5份！</h5>
  <div>
    <img src="img/product/tianyou04.jpg"></div>
  <h5>24小时紧急救援，全家出游，安全有保障</h5>
  <div>
    <img src="img/product/tianyou05.jpg"></div>
</div>
  <div class="line"></div>
  <h4>
    <span class="subtitle">&nbsp;理赔流程&nbsp;&nbsp;</span>
  </h4>
  <div class="detail-container">
    <img src="img/product/info.jpg">
    <span>400-650-8012</span>
   </div>