<div class="tail-header">
		<div class="hd select" >产品说明</div>
		<div class="hd"  >投保须知</div>
		<div class="hd "  >常见问题</div>
	</div>

	<div id="template-container">
		<div class="introd-container">
			<div class="detail-container">
			  <div>
				<img src="/img/product/hzhxzj.png" ></div>
			</div>
		</div>
		<!--
		-----------------我是注释示例开始-------------
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.承保年龄</h4>
			<p>1-80周岁，被保险人常住地为中华人民共和国境内。</p>
			<h4>2. 承保范围</h4>
			<p>滑雪、潜水、骑马等；承保恐怖分子行为造成的伤害；但滑翔翼，跳伞活动等空中活动不承保。</p>
			<h4>3. 限制区域</h4>
			<p>本保险不承保任何直接或间接由于前往或途经阿富汗、缅甸、古巴、刚果民主共和国、伊朗、伊拉克、利比里亚、苏丹、叙利亚，或在上述国家旅行期间发生的保险事故。</p>
			<h4 class="hide">4. 在中国境内（不含港澳台）的外籍人士购买本产品需满足：至少在中国境内居住或工作满半年以上。不承保回原国籍。</h4>
			<h4 class="hide">5. 如保险期限为一年，则本计划保障的单次最长旅行期限为182天。</h4>
            <h4 class="hide">6. 投保份数限定：被产品每一被保险人限投保一份，多投无效，保险公司不承担多投的保险责任。</h4>


			</div>
			<div class="more-1-container ">
				查看更多  <img src="/img/jiantou.png" />
			</div>

			<div class="button-container">
				<div class="left"><a href="javascript:;" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="javascript:;" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>
		</div>
		-----------------我是注释示例结束-------------
		-->
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.投保年龄</h4>
			<p>本产品投保年龄为18周岁—50周岁（含18、50周岁）。</p>
			<h4>2.投保限制</h4>
			<p>投保人必须为被保险人本人,不承保外籍人士(包含港澳台人士）。</p>
			<h4>3.保费限制</h4>
			<p>本产品年缴最低保费额度为200元,一次性缴费最低额度为500元。</p>
			<h4 class="hide">4.最高保额限制 </h4>
			<p class="hide">本产品最高保额限制：18-35周岁，50万元；36-40周岁，30万元；41-45周岁，20万元；46-50周岁，10万元。</p>
			<h4 class="hide">5.投保地区</h4>
			<p class="hide">本保险仅限在以下地区具有固定居住地的人士投保：北京、上海、广东、湖北、山东、黑龙江、浙江、湖南、安徽、河南、江苏、河北、内蒙古、江西、陕西、宁夏、天津、四川、新疆、山西、福建、广西、辽宁、吉林。</p>


			</div>
			<div class="more-1-container ">
				查看更多  <img src="/img/temai/blue_arrow.jpg" />
			</div>

			<div class="button-container">
				<div class="left"><a href="/ybwx-web/api/web_page/249" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="/#/claim_information?claim_id=40" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>

		</div>
		<div class="qa-container" style="display: none;">
			<ul >
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>这款产品有没有等待期？</div>	</div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好：在保险合同生效后若是因意外事故导致身故的，没有等待期；若因非意外因素导致身故的，等待期为180天。</br></div>	
				</div>
			</li>
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>定期寿险适合一般哪些人群？</div></div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>定期寿险特点是低保费高保障，适合的是有家庭责任感的家庭支柱或家庭主要创收人群，为的是花费少的金钱投入，若是一旦出现不幸身故，家人可获得高额的保险金赔偿，防止家庭经济来源断流而陷入惨淡。</div>	
				</div>
			</li>
			<li class="qa-item  question hide">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>意外伤害保险与定期寿险有什么主要区别？</div></div>	
			</li>
			<li class="qa-item answer hide">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>第一，意外伤害保险承担因意外伤害而导致的身故，不承保因疾病而导致的身故。这两种原因导致的身故都属于定期寿险的保险责任范围。第二，意外伤害保险承保因意外伤害导致的残疾，并依照不同的残疾程度给付保险金。定期寿险有的不包含残疾给付责任，有的虽然包含残疾责任，但仅包括保险合同约定的全残责任。第三，意外伤害保险保险期间一般较短，多为一年及一年期以下。定期寿险保险期间一般较长。</div>
				</div>
			</li>
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>这款产品有犹豫期吗？</div></div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>本产品有犹豫期（电子保单发出日次日起10日内），在犹豫期内，您可以充分考虑所购买的产品是否符合您的需要。如在犹豫期内退保，本公司在收到投保人解除合同的申请后，您可以收回全额缴纳的保险费。。</div>	
				</div>
			</li>
			</ul>
			<div class="more_ctrl">
				<a href="javascript:;" class="weui_btn weui_btn_plain_more word_color ">查看更多
					<img src="/img/temai/blue_arrow.jpg" class="arrow" />
				</a>
			</div>
		</div>
	</div>