<div class="tail-header">
		<div class="hd select" >产品说明</div>
		<div class="hd"  >投保须知</div>
		<div class="hd "  >常见问题</div>
	</div>

	<div id="template-container">
		<div class="introd-container">
			<div class="detail-container">
			  <div>
				<img src="http://static.nuobei.cn/img/product/tpzj65.png" ></div>
			</div>
		</div>
		<!--
		-----------------我是注释示例开始-------------
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.承保年龄</h4>
			<p>1-80周岁，被保险人常住地为中华人民共和国境内。</p>
			<h4>2. 承保范围</h4>
			<p>滑雪、潜水、骑马等；承保恐怖分子行为造成的伤害；但滑翔翼，跳伞活动等空中活动不承保。</p>
			<h4>3. 限制区域</h4>
			<p>本保险不承保任何直接或间接由于前往或途经阿富汗、缅甸、古巴、刚果民主共和国、伊朗、伊拉克、利比里亚、苏丹、叙利亚，或在上述国家旅行期间发生的保险事故。</p>
			<h4 class="hide">4. 在中国境内（不含港澳台）的外籍人士购买本产品需满足：至少在中国境内居住或工作满半年以上。不承保回原国籍。</h4>
			<h4 class="hide">5. 如保险期限为一年，则本计划保障的单次最长旅行期限为182天。</h4>
            <h4 class="hide">6. 投保份数限定：被产品每一被保险人限投保一份，多投无效，保险公司不承担多投的保险责任。</h4>


			</div>
			<div class="more-1-container ">
				查看更多  <img src="http://static.nuobei.cn/img/jiantou.png" />
			</div>

			<div class="button-container">
				<div class="left"><a href="javascript:;" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="javascript:;" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>
		</div>
		-----------------我是注释示例结束-------------
		-->
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.承保年龄</h4>
			<p>30天~55周岁身体健康能正常生活学习工作的人员。</p>
			<h4>2.保险起期</h4>
			<p>本保险合同自您成功购买保险的2日后零时开始生效，自生效日零时起开始承担保险责任。</p>
			<h4>3.额度限制</h4>
			<p>每位被保险人最多投保30万，多投无效。超过50岁（含50岁）只能选择10万保额，赔付最高额度为10万，超出部分不赔付。</p>
			<h4 class="hide">4.投保限制 </h4>
			<p class="hide">在中国境内（不含港澳台）的外籍人士购买本产品需满足：至少在中国境内居住或工作满半年以上。不承保回原国籍。</p>
            <h4 class="hide">5.投保份数 </h4>
			<p class="hide">投保份数限定：被产品每一被保险人限投保一份，多投无效，保险公司不承担多投的保险责任。</p>


			</div>
			<div class="more-1-container ">
				查看更多  <img src="http://static.nuobei.cn/img/temai/blue_arrow.jpg" />
			</div>

			<div class="button-container">
				<div class="left"><a href="/ybwx-web/api/web_page/114" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="/#/claim_information?claim_id=12" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>

		</div>
		<div class="qa-container" style="display: none;">
			<ul >
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>请问我在别的保险公司也买有重疾险，能在多家保险公司获赔吗？证据不是只有一份吗？谢谢？</div>	</div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好，这款重疾产品跟其他保险公司的产品没有冲突，如果同时需要理赔，保险公司会给您出具相关证明，不会影响到其他产品的理赔，感谢您的支持！。</div>	
				</div>
			</li>
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>这个是每年的可以续保吗？</div></div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好，该款保险最大可保年龄是55周岁，续保的期限需要由该产品所属的保险公司决定，目前我们还没有接到有关不能续保的通知，感谢您的支持。</div>	
				</div>
			</li>
			<li class="qa-item  question hide">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>你好，我在买这份保险的时候身体很好的，过半年后身体出现其他病症也会得到赔付是吧？</div></div>	
			</li>
			<li class="qa-item answer hide">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好，如果被保险人在合同保障期限内经二级或二级以上的公立医院确诊为首次罹患保险合同规定的重大疾病，在被保险人或受益人完成理赔的相关手续并跟保险公司达成保险金给付协议后，保险公司会一次性给付合同所保障的保险金，感谢您的支持！</div>
				</div>
			</li>
			</ul>
			<div class="more_ctrl">
				<a href="javascript:;" class="weui_btn weui_btn_plain_more word_color ">查看更多
					<img src="http://static.nuobei.cn/img/temai/blue_arrow.jpg" class="arrow" />
				</a>
			</div>
		</div>
	</div>