<div class="tail-header">
		<div class="hd select" >产品说明</div>
		<div class="hd"  >投保须知</div>
		<div class="hd "  >常见问题</div>
	</div>

	<div id="template-container">
		<div class="introd-container">
			<div class="detail-container">
			  <div>
				<img src="img/product/alzhjt01.png" ></div>
			</div>
		</div>
		<!--
		-----------------我是注释示例开始-------------
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.承保年龄</h4>
			<p>1-80周岁，被保险人常住地为中华人民共和国境内。</p>
			<h4>2. 承保范围</h4>
			<p>滑雪、潜水、骑马等；承保恐怖分子行为造成的伤害；但滑翔翼，跳伞活动等空中活动不承保。</p>
			<h4>3. 限制区域</h4>
			<p>本保险不承保任何直接或间接由于前往或途经阿富汗、缅甸、古巴、刚果民主共和国、伊朗、伊拉克、利比里亚、苏丹、叙利亚，或在上述国家旅行期间发生的保险事故。</p>
			<h4 class="hide">4. 在中国境内（不含港澳台）的外籍人士购买本产品需满足：至少在中国境内居住或工作满半年以上。不承保回原国籍。</h4>
			<h4 class="hide">5. 如保险期限为一年，则本计划保障的单次最长旅行期限为182天。</h4>
            <h4 class="hide">6. 投保份数限定：被产品每一被保险人限投保一份，多投无效，保险公司不承担多投的保险责任。</h4>


			</div>
			<div class="more-1-container ">
				查看更多  <img src="img/jiantou.png" />
			</div>

			<div class="button-container">
				<div class="left"><a href="javascript:;" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="javascript:;" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>
		</div>
		-----------------我是注释示例结束-------------
		-->
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.承保年龄</h4>
			<p>本产品承保年龄为18至70周岁(含18、70周岁)。</p>
			<h4>2.投保份数</h4>
			<p>本产品每一被保险人限投一份,若同一个被保险人自愿投保由安联保险公司承保的多种综合保险(不包括团体保险),且在不同保障产品中有相同保障利益的,则保险公司仅按其中保险金额最高者做出赔偿。</p>
			<h4>3.受益人说明</h4>
			<p>本产品的生存保险金受益人限为被保险人本人;身故保险金受益人为被保险人的法定继承人。</p>
			<h4 class="hide">4.投保限制 </h4>
			<p class="hide">在中国境内(不含港澳台)的外籍人士购买本产品需满足:在中国境内工作或居住满183天以上;如涉及紧急救援,将送返至被保险人在中国的常住地址。</p>


			</div>
			<div class="more-1-container ">
				查看更多  <img src="img/temai/blue_arrow.jpg" />
			</div>

			<div class="button-container">
				<div class="left"><a href="/ybwx-web/api/web_page/78" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="http://wechat.nuobei.cn/#/claim_information?claim_id=18" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>

		</div>
		<div class="qa-container" style="display: none;">
			<ul >
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>本计划保障交通工具是指哪些？</div>	</div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好，本计划保障的乘坐交通工具意外，包含航空交通工具、火车、地铁、轻轨、列车、旅行社客车、机场公共大巴。</div>	
				</div>
			</li>
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>自驾车出事故是否可以赔偿？</div></div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好，是可以的，本产品保障被保险人在驾驶或乘坐非营运四轮机动车（7座以下，含7座）时遭受的意外伤害。</div>	
				</div>
			</li>
			<li class="qa-item  question hide">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>购买这款产品要体检吗？</div></div>	
			</li>
			<li class="qa-item answer hide">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好，交通意外险一般是不需要体检的，这款保险属于交通意外险，所以不需要体检。</div>
				</div>
			</li>
			</ul>
			<div class="more_ctrl">
				<a href="javascript:;" class="weui_btn weui_btn_plain_more word_color ">查看更多
					<img src="img/temai/blue_arrow.jpg" class="arrow" />
				</a>
			</div>
		</div>
	</div>