<div class="tail-header">
		<div class="hd select" >产品说明</div>
		<div class="hd"  >投保须知</div>
		<div class="hd "  >常见问题</div>
	</div>

	<div id="template-container">
		<div class="introd-container">
			<div class="detail-container">
			  <div>
				<img src="img/product/dtyb01.png" ></div>
			</div>
		</div>
		<!--
		-----------------我是注释示例开始-------------
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.承保年龄</h4>
			<p>1-80周岁，被保险人常住地为中华人民共和国境内。</p>
			<h4>2. 承保范围</h4>
			<p>滑雪、潜水、骑马等；承保恐怖分子行为造成的伤害；但滑翔翼，跳伞活动等空中活动不承保。</p>
			<h4>3. 限制区域</h4>
			<p>本保险不承保任何直接或间接由于前往或途经阿富汗、缅甸、古巴、刚果民主共和国、伊朗、伊拉克、利比里亚、苏丹、叙利亚，或在上述国家旅行期间发生的保险事故。</p>
			<h4 class="hide">4. 在中国境内（不含港澳台）的外籍人士购买本产品需满足：至少在中国境内居住或工作满半年以上。不承保回原国籍。</h4>
			<h4 class="hide">5. 如保险期限为一年，则本计划保障的单次最长旅行期限为182天。</h4>
            <h4 class="hide">6. 投保份数限定：被产品每一被保险人限投保一份，多投无效，保险公司不承担多投的保险责任。</h4>


			</div>
			<div class="more-1-container ">
				查看更多  <img src="img/jiantou.png" />
			</div>

			<div class="button-container">
				<div class="left"><a href="javascript:;" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="javascript:;" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>
		</div>
		-----------------我是注释示例结束-------------
		-->
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.承保年龄</h4>
			<p>投保年龄为28天至60周岁,61周岁-80周岁仅可续保。</p>
			<h4>2.投保地区</h4>
			<p>本计划仅限在中国大陆（除西藏自治区）有固定居住地的人士投保。</p>
			<h4>3.合同生效日</h4>
			<p>保险合同生效日以您投保次日零时开始。</p>
			<h4 class="hide">4.报销费用范围 </h4>
			<p class="hide">普通门急诊治疗的医疗费用，包括诊疗费、检查检验费、治疗费、门诊手术费、药品费、物理治疗费。</p>
			<h4 class="hide">5.医院范围</h4>
			<p class="hide">国家卫生部医院等级分类中的二级或二级以上的公立医院。</p>
			<h4 class="hide">6.服务地区</h4>
			<p class="hide">本服务计划仅限在中国大陆（除西藏自治区）有固定居住地的人士参与。</p>


			</div>
			<div class="more-1-container ">
				查看更多  <img src="img/temai/blue_arrow.jpg" />
			</div>

			<div class="button-container">
				<div class="left"><a href="http://web.youbaowuxian.com/ybwx-web/api/web_page/181" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="http://web.youbaowuxian.com/#/claim_information?claim_id=36" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>

		</div>
		<div class="qa-container" style="display: none;">
			<ul >
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>这款产品是否赔付生育发生的医疗费用？</div>	</div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好！生育的医疗费用不在本产品保障范围内。感谢您的支持！</div>	
				</div>
			</li>
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>这款产品最长能续保至多少岁？</div></div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好！这款产品首次投保年龄范围为0-60周岁，续保可至80岁。感谢您的支持！</div>	
				</div>
			</li>
			<li class="qa-item  question hide">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>因为意外伤害住院治疗可以报销吗？</div></div>	
			</li>
			<li class="qa-item answer hide">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好！这款产品针对您实际发生的医疗费用进行报销。无论您是因为疾病或是发生意外导致的住院医疗，我们均按照保险合同约定的责任进行赔偿。感谢您对大特保的支持！</div>
				</div>
			</li>
			<li class="qa-item  question hide">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>住院医疗保险部分的免赔额，是每次住院都要计算吗？</div></div>	
			</li>
			<li class="qa-item answer hide">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好！住院医疗保险部分的免赔额为年度累计免赔额，即在一个保单年度内，无论您住院多少次，只要累计住院医疗费用超过免赔额，即起赔。下次住院不再计算免赔额，直接起赔。感谢的支持！</div>
				</div>
			</li>
			</ul>
			<div class="more_ctrl">
				<a href="javascript:;" class="weui_btn weui_btn_plain_more word_color ">查看更多
					<img src="img/temai/blue_arrow.jpg" class="arrow" />
				</a>
			</div>
		</div>
	</div>