<div class="tail-header">
		<div class="hd select" >产品说明</div>
		<div class="hd"  >投保须知</div>
		<div class="hd "  >常见问题</div>
	</div>

	<div id="template-container">
		<div class="introd-container">
			<div class="detail-container">
			  <div>
				<img src="/img/product/hzhxzj.png" ></div>
			</div>
		</div>
		<!--
		-----------------我是注释示例开始-------------
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.承保年龄</h4>
			<p>1-80周岁，被保险人常住地为中华人民共和国境内。</p>
			<h4>2. 承保范围</h4>
			<p>滑雪、潜水、骑马等；承保恐怖分子行为造成的伤害；但滑翔翼，跳伞活动等空中活动不承保。</p>
			<h4>3. 限制区域</h4>
			<p>本保险不承保任何直接或间接由于前往或途经阿富汗、缅甸、古巴、刚果民主共和国、伊朗、伊拉克、利比里亚、苏丹、叙利亚，或在上述国家旅行期间发生的保险事故。</p>
			<h4 class="hide">4. 在中国境内（不含港澳台）的外籍人士购买本产品需满足：至少在中国境内居住或工作满半年以上。不承保回原国籍。</h4>
			<h4 class="hide">5. 如保险期限为一年，则本计划保障的单次最长旅行期限为182天。</h4>
            <h4 class="hide">6. 投保份数限定：被产品每一被保险人限投保一份，多投无效，保险公司不承担多投的保险责任。</h4>


			</div>
			<div class="more-1-container ">
				查看更多  <img src="/img/jiantou.png" />
			</div>

			<div class="button-container">
				<div class="left"><a href="javascript:;" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="javascript:;" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>
		</div>
		-----------------我是注释示例结束-------------
		-->
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.承保区域</h4>
			<p>本产品由华夏人寿保险股份有限公司承保,目前该公司在北京、河南、江苏、山东、陕西、安徽、苏州、内蒙古、湖南、四川、青岛、云南、河北、广东、浙江、上海、宁波、天津、深圳、无锡、江西、海南设有分支机构，本产品仅限在设有分支机构的区域销售。</p>
			<h4>2.承保年龄</h4>
			<p>出生满28天-60周岁（含28天、60周岁）。</p>
			<h4>3.保费限制</h4>
			<p>本产品总保费不得超过20万元。</p>
			<h4 class="hide">4.最高保额限制 </h4>
			<p class="hide">本产品最高保额限制：0-40周岁，50万元；41-45周岁，30万元；46-50周岁，20万元；51-55周岁，10万元；56周岁及以上，5万元。</p>
			<h4 class="hide">5.限投份数</h4>
			<p class="hide">每位被保险人一次仅可投保一份,可在最高保额限制内投保多次。</p>


			</div>
			<div class="more-1-container ">
				查看更多  <img src="/img/temai/blue_arrow.jpg" />
			</div>

			<div class="button-container">
				<div class="left"><a href="/ybwx-web/api/web_page/248" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="/#/claim_information?claim_id=39" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>

		</div>
		<div class="qa-container" style="display: none;">
			<ul >
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>初次患本合同所列的轻症疾病、重大疾病是指？</div>	</div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>初次患本合同所列的轻症疾病、重大疾病是指被保险人患同时符合以下条件的疾病:
					<br>(1)被保险人自出生后首次出现疾病之症状体征;</br>
					<br>(2)被保险人在本合同有效期间内首次出现疾病之症状体征并被确诊患该疾病;</br>
					<br>(3)该疾病之症状体征符合本合同的定义;</br>
					<br>(4)该疾病已在本合同中列明。</br>
					<br>对于被保险人在本合同生效日前出现的本合同所列的疾病之症状体征或所患的疾病,保险公司不承担保险责任。</br></div>	
				</div>
			</li>
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>本产品对医院有要求吗？</div></div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>本产品认可的医院是指经中华人民共和国卫生部门正式评定的二级或以上之公立医院,但不包括上述医院的分院、联合病房或联合病床,精神病院,专供康复、休养、戒毒、戒酒、护理、养老等非以直接诊治病人为目的的医疗机构。</div>	
				</div>
			</li>
			<li class="qa-item  question hide">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>这个产品有等待期吗？</div></div>	
			</li>
			<li class="qa-item answer hide">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>该产品在您购买成功的次日零时开始生效，生效后有90天的观察期。</div>
				</div>
			</li>
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>重大疾病保险金、疾病终末期保险金可以累加吗？</div></div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>该产品因发生其中一项理赔保险合同即终止，故不支持累加。</div>	
				</div>
			</li>
			</ul>
			<div class="more_ctrl">
				<a href="javascript:;" class="weui_btn weui_btn_plain_more word_color ">查看更多
					<img src="/img/temai/blue_arrow.jpg" class="arrow" />
				</a>
			</div>
		</div>
	</div>