<div class="tail-header">
		<div class="hd select" >产品说明</div>
		<div class="hd"  >投保须知</div>
		<div class="hd "  >常见问题</div>
	</div>

	<div id="template-container">
		<div class="introd-container">
			<div class="detail-container">
			  <div>
				<img src="/img/product/hzynfai.png" ></div>
			</div>
		</div>
		<!--
		-----------------我是注释示例开始-------------
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.承保年龄</h4>
			<p>1-80周岁，被保险人常住地为中华人民共和国境内。</p>
			<h4>2. 承保范围</h4>
			<p>滑雪、潜水、骑马等；承保恐怖分子行为造成的伤害；但滑翔翼，跳伞活动等空中活动不承保。</p>
			<h4>3. 限制区域</h4>
			<p>本保险不承保任何直接或间接由于前往或途经阿富汗、缅甸、古巴、刚果民主共和国、伊朗、伊拉克、利比里亚、苏丹、叙利亚，或在上述国家旅行期间发生的保险事故。</p>
			<h4 class="hide">4. 在中国境内（不含港澳台）的外籍人士购买本产品需满足：至少在中国境内居住或工作满半年以上。不承保回原国籍。</h4>
			<h4 class="hide">5. 如保险期限为一年，则本计划保障的单次最长旅行期限为182天。</h4>
            <h4 class="hide">6. 投保份数限定：被产品每一被保险人限投保一份，多投无效，保险公司不承担多投的保险责任。</h4>


			</div>
			<div class="more-1-container ">
				查看更多  <img src="/img/jiantou.png" />
			</div>

			<div class="button-container">
				<div class="left"><a href="javascript:;" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="javascript:;" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>
		</div>
		-----------------我是注释示例结束-------------
		-->
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.承保年龄</h4>
			<p>本产品经济款计划承保年龄为出生满30天-65周岁，实惠款和尊享款计划承保年龄为出生满30天-50周岁。</p>
			<h4>2.等待期</h4>
			<p>本产品等待期为90天,上年投保人员连续续保时无等待期。续保最高可到85周岁。</p>
			<h4>3.投保限制</h4>
			<p>病毒性肝炎患者、大小三阳及乙肝病毒携带者客户不能投保本产品。</p>
			<h4 class="hide">4.保障期间 </h4>
			<p class="hide">保障期间为1年。</p>
			<h4 class="hide">4.特别提示 </h4>
			<p class="hide">每一被保险人终生赔付限额,为每一保险期间癌症医疗保险金额的5倍。</p>

			</div>
			<div class="more-1-container ">
				查看更多  <img src="/img/temai/blue_arrow.jpg" />
			</div>

			<div class="button-container">
				<div class="left"><a href="/ybwx-web/api/web_page/110" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="/#/claim_information?claim_id=14" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>

		</div>
		<div class="qa-container" style="display: none;">
			<ul >
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>本产品对医院有什么要求？</div>	</div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>本产品医院是指中国大陆境内公立二级以上(含)公立医院,不包括疗养院、护理院、康复中心、戒酒/戒毒中心、精神心理治疗中心以及无相应医护人员或设备的医院的联合医院或联合病房。</div>	
				</div>
			</li>
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>本产品癌症是指什么？</div></div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>本产品癌症是指恶性细胞不受控制的进行性增长和扩散,浸润和破坏周围正常组织,可以经血管、淋巴管和体腔扩散转移到身体其他部位的疾病。经病理学检查结果明确诊断,临床诊断属于世界卫生组织《疾病和有关健康问题的国际统计分类》(ICD-10)的恶性肿瘤范畴。</div>	
				</div>
			</li>
			<li class="qa-item  question hide">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>这款产品承保年龄有限制吗？</div></div>	
			</li>
			<li class="qa-item answer hide">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>本产品经济款计划承保年龄为出生满30天-65周岁(含30天、65周岁),实惠款和尊享款计划承保年龄为出生满30天-50周岁(含30天、50周岁)。</div>
				</div>
			</li>
				<li class="qa-item  question hide">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>这款产品能续保吗？续保有没有等待期？</div></div>	
			</li>
			<li class="qa-item answer hide">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>本产品可以续保，等待期为90天,上年投保人员连续续保时无等待期。续保最高可到85周岁。</div>
				</div>
			</li>
			</ul>
			<div class="more_ctrl">
				<a href="javascript:;" class="weui_btn weui_btn_plain_more word_color ">查看更多
					<img src="/img/temai/blue_arrow.jpg" class="arrow" />
				</a>
			</div>
		</div>
	</div>