<div class="tail-header">
	<div class="hd select" >产品说明</div>
	<div class="hd"  >投保须知</div>
	<div class="hd "  >常见问题</div>
</div>

<div id="template-container">
	<div class="introd-container">
		<div class="detail-container">
			<div>
				<img src="img/product/sdjxyd01.png" ></div>
		</div>
	</div>
	<!--
		-----------------我是注释示例开始-------------
		<div class="showknow-container" style="display: none;">
	<div class="know-content">
		<h4>1.承保年龄</h4>
		<p>1-80周岁，被保险人常住地为中华人民共和国境内。</p>
		<h4>2. 承保范围</h4>
		<p>滑雪、潜水、骑马等；承保恐怖分子行为造成的伤害；但滑翔翼，跳伞活动等空中活动不承保。</p>
		<h4>3. 限制区域</h4>
		<p>
			本保险不承保任何直接或间接由于前往或途经阿富汗、缅甸、古巴、刚果民主共和国、伊朗、伊拉克、利比里亚、苏丹、叙利亚，或在上述国家旅行期间发生的保险事故。
		</p>
		<h4 class="hide">4. 在中国境内（不含港澳台）的外籍人士购买本产品需满足：至少在中国境内居住或工作满半年以上。不承保回原国籍。</h4>
		<h4 class="hide">5. 如保险期限为一年，则本计划保障的单次最长旅行期限为182天。</h4>
		<h4 class="hide">6. 投保份数限定：被产品每一被保险人限投保一份，多投无效，保险公司不承担多投的保险责任。</h4>

	</div>
	<div class="more-1-container ">
		查看更多
		<img src="img/jiantou.png" />
	</div>

	<div class="button-container">
		<div class="left">
			<a href="javascript:;" class="weui_btn weui_btn_plain_more">产品条款</a>
		</div>
		<div class="right">
			<a href="javascript:;" class="weui_btn weui_btn_plain_more">理赔资料</a>
		</div>
	</div>
</div>
-----------------我是注释示例结束-------------
		-->
<div class="showknow-container" style="display: none;">
	<div class="know-content">
		<h4>1.承保年龄</h4>
		<p>本产品承保年龄为16-65周岁（含16、65周岁），未成年人累计意外身故保额以保监会规定为准。</p>
		<h4>2.承保范围</h4>
		<p>为马拉松长跑运动人群提供意外伤害、公共交通工具及意外医疗基础保障，特含猝死及个人责任保障。</p>
		<h4>3.投保限制</h4>
		<p>在中国境内（不含港澳台）的外籍人士购买本产品需满足：在中国生活或工作半年以上或有居住证，但不承保回原国籍。</p>
		<h4 class="hide">4.投保份数</h4>
		<p class="hide">本产品每一被保险人限投保一份。</p>
		<h4 class="hide">5.承保区域</h4>
		<p class="hide">本产品只承保中华人民共和国境内（不包含港澳台地区）的马拉松活动。</p>

	</div>
	<div class="more-1-container ">
		查看更多
		<img src="img/temai/blue_arrow.jpg" />
	</div>

	<div class="button-container">
		<div class="left">
			<a href="/api/web_page/225" class="weui_btn weui_btn_plain_more">产品条款</a>
		</div>
		<div class="right">
			<a href="http://wechat.nuobei.cn/#/claim_information?claim_id=35" class="weui_btn weui_btn_plain_more">理赔资料</a>
		</div>
	</div>

</div>
<div class="qa-container" style="display: none;">
	<ul >
		<li class="qa-item  question">
			<div class="qa-icon "></div>
			<div class="qa-content">
				<div>明天就要参加赛事了，想问下现在可以购买吗？</div>
			</div>
		</li>
		<li class="qa-item answer">
			<div class="qa-icon" ></div>
			<div class="qa-content">
				<div>
					您好！这款“众行天下”马拉松保障计划最早的生效日期为网上投保的次日零时。您在需要参加马拉松前一天晚上24时之前完成投保并支付都是可以享受保障的。
				</div>
			</div>
		</li>
		<li class="qa-item  question">
			<div class="qa-icon "></div>
			<div class="qa-content">
				<div>请问15岁的中学生参加马拉松比赛，可以投保吗？</div>
			</div>
		</li>
		<li class="qa-item answer">
			<div class="qa-icon" ></div>
			<div class="qa-content">
				<div>您好！这款“众行天下”马拉松保障计划的承保年龄为：16-65周岁，很抱歉未满16周岁暂时不能投保。</div>
			</div>
		</li>
		<li class="qa-item  question hide">
			<div class="qa-icon "></div>
			<div class="qa-content">
				<div>请问投保成功后怎么查询保单？</div>
			</div>
		</li>
		<li class="qa-item answer hide">
			<div class="qa-icon" ></div>
			<div class="qa-content">
				<div>
					您好，投保成功后，我们将提供保单作为您的投保凭证。您可以通过以下方式查询您的保单：<br/>1.打开诺贝微信公众号，在“我的订单”中进行查询，或向您预留的邮箱发送电子保单；<br/>2.拨打诺贝400-992-0205客服电话查询；<br/>3.拨打中意财险400-600-2700客服电话查询；<br/>4.进入中意财险保险公司官网查询。
				</div>
			</div>
		</li>
	</ul>
	<div class="more_ctrl">
		<a href="javascript:;" class="weui_btn weui_btn_plain_more word_color ">
			查看更多
			<img src="img/temai/blue_arrow.jpg" class="arrow" />
		</a>
	</div>
</div>
</div>