<div class="tail-header">
	<div class="hd select" >产品说明</div>
	<div class="hd"  >投保须知</div>
	<div class="hd "  >常见问题</div>
</div>

<div id="template-container">
	<div class="introd-container">
		<div class="detail-container">
			<div>
				<img src="img/product/ybzhyw01.png" ></div>
		</div>
	</div>
	<!--
		-----------------我是注释示例开始-------------
		<div class="showknow-container" style="display: none;">
	<div class="know-content">
		<h4>1.承保年龄</h4>
		<p>1-80周岁，被保险人常住地为中华人民共和国境内。</p>
		<h4>2. 承保范围</h4>
		<p>滑雪、潜水、骑马等；承保恐怖分子行为造成的伤害；但滑翔翼，跳伞活动等空中活动不承保。</p>
		<h4>3. 限制区域</h4>
		<p>
			本保险不承保任何直接或间接由于前往或途经阿富汗、缅甸、古巴、刚果民主共和国、伊朗、伊拉克、利比里亚、苏丹、叙利亚，或在上述国家旅行期间发生的保险事故。
		</p>
		<h4 class="hide">4. 在中国境内（不含港澳台）的外籍人士购买本产品需满足：至少在中国境内居住或工作满半年以上。不承保回原国籍。</h4>
		<h4 class="hide">5. 如保险期限为一年，则本计划保障的单次最长旅行期限为182天。</h4>
		<h4 class="hide">6. 投保份数限定：被产品每一被保险人限投保一份，多投无效，保险公司不承担多投的保险责任。</h4>

	</div>
	<div class="more-1-container ">
		查看更多
		<img src="img/jiantou.png" />
	</div>

	<div class="button-container">
		<div class="left">
			<a href="javascript:;" class="weui_btn weui_btn_plain_more">产品条款</a>
		</div>
		<div class="right">
			<a href="javascript:;" class="weui_btn weui_btn_plain_more">理赔资料</a>
		</div>
	</div>
</div>
-----------------我是注释示例结束-------------
		-->
<div class="showknow-container" style="display: none;">
	<div class="know-content">
		<h4>1.承保年龄</h4>
		<p>本产品承保年龄为出生满30天-65周岁（含30天、65周岁），未成年人累计意外身故保额以保监会规定为准。</p>
		<h4>2.保障范围</h4>
		<p>本产品保障全球范围内的意外事故，但是意外医疗只有符合公费医疗及社会医疗保险支付范围的医疗费用才能理赔（限国内）。</p>
		<h4 class="hide">3.投保份数</h4>
		<p class="hide">本产品同一被保险人限投保1次，多投无效，暂不支持港澳台人士和外籍人士投保。</p>
		<h4 class="hide">4.投保职业限制</h4>
		<p class="hide">本产品不可投保职业包括：矿业采掘业（不包括办公室工作人员）、林业（不包括办公室工作人员）、海上作业人员、受训新兵、桥梁工程人员、石棉瓦操作工、特种部队、液化气油罐车司机及随车工人、武器弹药研究及管理人员、变压器操作工、高速公路、隧道、地下铁工程人员、拉线安装塔架工人、救难船员、消防员、潜水员、液化气体制造工人、职业运动员、水坝工程人员、海湾、港口工程人员、电缆、架空线操作及维修人员、爆炸品制造和爆破工作人员、军校、警校学员、交通及防暴警察、武打和特技演员、架空作业者、战地记者、前线军人、烟囱清洁工、酸类制造工、驯兽及饲养人员、无固定职业者、从事非法职业者。</p>

	</div>
	<div class="more-1-container ">
		查看更多
		<img src="img/temai/blue_arrow.jpg" />
	</div>

	<div class="button-container">
		<div class="left">
			<a href="/api/web_page/28" class="weui_btn weui_btn_plain_more">产品条款</a>
		</div>
		<div class="right">
			<a href="http://wechat.nuobei.cn/#/claim_information?claim_id=9" class="weui_btn weui_btn_plain_more">理赔资料</a>
		</div>
	</div>

</div>
<div class="qa-container" style="display: none;">
	<ul >
		<li class="qa-item  question">
			<div class="qa-icon "></div>
			<div class="qa-content">
				<div>我是北京的客户，假设购买后在新疆发生意外在当地住院了，这份保险能理赔吗？</div>
			</div>
		</li>
		<li class="qa-item answer">
			<div class="qa-icon" ></div>
			<div class="qa-content">
				<div>
					您好！可以的，只要是在二级或以上公立医院进行治疗，且非联合病房和康复病房就可以理赔。
				</div>
			</div>
		</li>
		<li class="qa-item  question">
			<div class="qa-icon "></div>
			<div class="qa-content">
				<div>这份产品保障国外发生的意外吗？</div>
			</div>
		</li>
		<li class="qa-item answer">
			<div class="qa-icon" ></div>
			<div class="qa-content">
				<div>您好！本产品保障全球范围内的意外事故，但是意外医疗只有在国内才能理赔，如果您在国外发生了意外事故，在国内治疗发生的社保支付范围内的医疗费用才能进行理赔。</div>
			</div>
		</li>
		<li class="qa-item  question hide">
			<div class="qa-icon "></div>
			<div class="qa-content">
				<div>购买该保险后，发生意外产生了1万的医药费，能赔我多少钱呢？</div>
			</div>
		</li>
		<li class="qa-item answer hide">
			<div class="qa-icon" ></div>
			<div class="qa-content">
				<div>
					您好，本保险医疗保障责任仅针对社保范围内的项目，如产生的1万医药费满足该条件，您的报销额度为：<br/>
					情况一：有社保赔付，医保报销8000元，自费支付2000元，本产品可报销：（10000-8000）*100%-100=1900元。<br/>
					情况二：无社保赔付，自费支付10000元，本产品可报销：10000*80%-100=7900元。
				</div>
			</div>
		</li>
	</ul>
	<div class="more_ctrl">
		<a href="javascript:;" class="weui_btn weui_btn_plain_more word_color ">
			查看更多
			<img src="img/temai/blue_arrow.jpg" class="arrow" />
		</a>
	</div>
</div>
</div>