<div class="tail-header">
		<div class="hd select" >产品说明</div>
		<div class="hd"  >投保须知</div>
		<div class="hd "  >常见问题</div>
	</div>

	<div id="template-container">
		<div class="introd-container">
			<div class="detail-container">
			  <h5>自驾出行发生意外的概率在交通工具意外中占了很大的比例。</h5>
			  <div>
				<img src="img/product/zxtx02.jpg" ></div>
			  <h5>高比例意味着高风险。</h5>
			  <div>
				<img src="img/product/zxtx03.jpg"></div>
			</div>
		</div>

		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1、本产品由美亚财产保险有限公司承保 </h4>
			<p>目前该公司在上海市、北京市、广东省（含深圳市）、江苏省、浙江省设有分支机构。本产品的销售在上海市、北京市、广东省（含深圳市）、江苏省、浙江省设有分支机构。本产品的销售</p>
			<h4>1、本产品由美亚财产保险有限公司承保 </h4>
			<p>目前该公司在上海市、北京市、广东省（含深圳市）、江苏省、浙江省设有分支机构。本产品的销售在上海市、北京市、广东省（含深圳市）、江苏省、浙江省设有分支机构。本产品的销售</p>
			<h4>1、本产品由美亚财产保险有限公司承保 </h4>
			<p>目前该公司在上海市、北京市、广东省（含深圳市）、江苏省、浙江省设有分支机构。本产品的销售在上海市、北京市、广东省（含深圳市）、江苏省、浙江省设有分支机构。本产品的销售</p>

			</div>
			<div class="more-1-container">
				查看更多  <img src="img/jiantou.png" />
			</div>

			<div class="button-container">
				<div class="left"><a href="javascript:;" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="javascript:;" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>

		</div>
		<div class="qa-container" style="display: none;">
			<ul >
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>是否可以续保啊？</div>	</div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好，在符合本产品的投保年龄范围及其他投保要求的情况下是可以续保的，但是续保时保险公司可能会根据上一年的理赔情况重新审核定价。</div>	
				</div>
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好，在符合本产品的投保年龄范围及其他投保要求的情况下是可以续保的，但是续保时保险公司可能会根据上一年的理赔情况重新审核定价。</div>	
				</div>
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好，在符合本产品的投保年龄范围及其他投保要求的情况下是可以续保的，但是续保时保险公司可能会根据上一年的理赔情况重新审核定价。</div>	
				</div>
			</li>
			</ul>
			<div class="more-container">
				<a href="javascript:;" class="weui_btn weui_btn_plain_more">查看更多
					<img src="img/jiantou.png" />
				</a>
			</div>
		</div>
	</div>