<div class="tail-header">
	<div class="hd select" >产品说明</div>
	<div class="hd"  >投保须知</div>
	<div class="hd "  >常见问题</div>
</div>

<div id="template-container">
	<div class="introd-container">
		<div class="detail-container">
			<div>
				<img src="http://static.nuobei.cn/img/product/rbseyw02.png" ></div>
		</div>
	</div>
	<!--
		-----------------我是注释示例开始-------------
		<div class="showknow-container" style="display: none;">
	<div class="know-content">
		<h4>1.承保年龄</h4>
		<p>1-80周岁，被保险人常住地为中华人民共和国境内。</p>
		<h4>2. 承保范围</h4>
		<p>滑雪、潜水、骑马等；承保恐怖分子行为造成的伤害；但滑翔翼，跳伞活动等空中活动不承保。</p>
		<h4>3. 限制区域</h4>
		<p>
			本保险不承保任何直接或间接由于前往或途经阿富汗、缅甸、古巴、刚果民主共和国、伊朗、伊拉克、利比里亚、苏丹、叙利亚，或在上述国家旅行期间发生的保险事故。
		</p>
		<h4 class="hide">4. 在中国境内（不含港澳台）的外籍人士购买本产品需满足：至少在中国境内居住或工作满半年以上。不承保回原国籍。</h4>
		<h4 class="hide">5. 如保险期限为一年，则本计划保障的单次最长旅行期限为182天。</h4>
		<h4 class="hide">6. 投保份数限定：被产品每一被保险人限投保一份，多投无效，保险公司不承担多投的保险责任。</h4>

	</div>
	<div class="more-1-container ">
		查看更多
		<img src="http://static.nuobei.cn/img/jiantou.png" />
	</div>

	<div class="button-container">
		<div class="left">
			<a href="javascript:;" class="weui_btn weui_btn_plain_more">产品条款</a>
		</div>
		<div class="right">
			<a href="javascript:;" class="weui_btn weui_btn_plain_more">理赔资料</a>
		</div>
	</div>
</div>
-----------------我是注释示例结束-------------
		-->
<div class="showknow-container" style="display: none;">
	<div class="know-content">
		<h4>1.承保年龄</h4>
		<p>本产品承保年龄出生满28天-60周岁(含28天、60周岁)，未成年人累计意外身故保额以保监会规定为准。</p>
		<h4>2.投保限制</h4>
		<p>在中国境内(不含港澳台)的外籍人士购买本产品需满足:在中国境内有日常居住地,并居住一年以上。</p>
		<h4 class="hide">3.就诊医院</h4>
		<p class="hide">本产品所指医院为国家卫生部医院等级分类中的二级或二级以上医院,北京市平谷区、密云县、怀柔区所有医院除外。</p>

	</div>
	<div class="more-1-container ">
		查看更多
		<img src="http://static.nuobei.cn/img/temai/blue_arrow.jpg" />
	</div>

	<div class="button-container">
		<div class="left">
			<a href="/ybwx-web/api/web_page/19" class="weui_btn weui_btn_plain_more">产品条款</a>
		</div>
		<div class="right">
			<a href="/#/claim_information?claim_id=39" class="weui_btn weui_btn_plain_more">理赔资料</a>
		</div>
	</div>

</div>
<div class="qa-container" style="display: none;">
	<ul >
		<li class="qa-item  question">
			<div class="qa-icon "></div>
			<div class="qa-content">
				<div>本产品认可的医院有哪些？</div>
			</div>
		</li>
		<li class="qa-item answer">
			<div class="qa-icon" ></div>
			<div class="qa-content">
				<div>
					您好！本产品认可的医院指保险公司指定的医院。若保险公司没有指定,则指国家卫生部医院等级分类中的二级或二级以上的医院。不包括康复医院或康复病房、精神病院、疗养院、护理院、戒酒或戒毒中心、精神心理治疗中心、无相应医护人员或设备的二级或三级医院的联合医院或联合病房。意外伤害需急诊救治的不受此限,但经急救病情稳定后,需转入保险公司认可的医院进行治疗。
				</div>
			</div>
		</li>
		<li class="qa-item  question">
			<div class="qa-icon "></div>
			<div class="qa-content">
				<div>请问保单如何验证？</div>
			</div>
		</li>
		<li class="qa-item answer">
			<div class="qa-icon" ></div>
			<div class="qa-content">
				<div>您好！投保完成后,电子保单会直接发送至您邮箱,为保证您的合法权益,您可在投保成功后的次日拨打中国人民人寿保险公司客服电话4008895518或通过访问官网对您所投保保单的相关信息进行查询。</div>
			</div>
		</li>
		<li class="qa-item  question hide">
			<div class="qa-icon "></div>
			<div class="qa-content">
				<div>意外医疗中是100%赔付，是不是我花了多少钱，就能得到多少理赔呢？</div>
			</div>
		</li>
		<li class="qa-item answer hide">
			<div class="qa-icon" ></div>
			<div class="qa-content">
				<div>
					您好，这款产品有100元的免赔额，每次事故到医院治疗时要扣除100的免陪额，余下的部分按100%进行报销。保险期内所有次事故的意外医疗保险金额累计不能超过1万元。
				</div>
			</div>
		</li>
	</ul>
	<div class="more_ctrl">
		<a href="javascript:;" class="weui_btn weui_btn_plain_more word_color ">
			查看更多
			<img src="http://static.nuobei.cn/img/temai/blue_arrow.jpg" class="arrow" />
		</a>
	</div>
</div>
</div>