<div class="tail-header">
		<div class="hd select" >产品说明</div>
		<div class="hd"  >投保须知</div>
		<div class="hd "  >常见问题</div>
	</div>

	<div id="template-container">
		<div class="introd-container">
			<div class="detail-container">
			  <div>
				<img src="/img/product/dtbcrzj.png" ></div>
			</div>
		</div>
		<!--
		-----------------我是注释示例开始-------------
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.承保年龄</h4>
			<p>1-80周岁，被保险人常住地为中华人民共和国境内。</p>
			<h4>2. 承保范围</h4>
			<p>滑雪、潜水、骑马等；承保恐怖分子行为造成的伤害；但滑翔翼，跳伞活动等空中活动不承保。</p>
			<h4>3. 限制区域</h4>
			<p>本保险不承保任何直接或间接由于前往或途经阿富汗、缅甸、古巴、刚果民主共和国、伊朗、伊拉克、利比里亚、苏丹、叙利亚，或在上述国家旅行期间发生的保险事故。</p>
			<h4 class="hide">4. 在中国境内（不含港澳台）的外籍人士购买本产品需满足：至少在中国境内居住或工作满半年以上。不承保回原国籍。</h4>
			<h4 class="hide">5. 如保险期限为一年，则本计划保障的单次最长旅行期限为182天。</h4>
            <h4 class="hide">6. 投保份数限定：被产品每一被保险人限投保一份，多投无效，保险公司不承担多投的保险责任。</h4>


			</div>
			<div class="more-1-container ">
				查看更多  <img src="/img/jiantou.png" />
			</div>

			<div class="button-container">
				<div class="left"><a href="javascript:;" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="javascript:;" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>
		</div>
		-----------------我是注释示例结束-------------
		-->
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.承保年龄</h4>
			<p>17~40周岁身体健康能正常生活学习工作的自然人。</p>
			<h4>2.合同生效日</h4>
			<p>本保险合同自您成功购买保险的4日后零时开始生效，自生效日零时起开始承担保险责任。</p>
			<h4>3.等待期</h4>
			<p>被保险人首次投保，等待期为30天。</p>
			<h4 class="hide">4.保障期限</h4>
			<p class="hide">保障期间为1年。</p>
			<h4 class="hide">5.限投份数</h4>
			<p class="hide">每位被保险人最多投保一份，多投无效。</p>
			</div>
			<div class="more-1-container ">
				查看更多  <img src="/img/temai/blue_arrow.jpg" />
			</div>

			<div class="button-container">
				<div class="left"><a href="http://web.youbaowuxian.com/ybwx-web/api/web_page/256" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="http://web.youbaowuxian.com/#/claim_information?claim_id=39" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>

		</div>
		<div class="qa-container" style="display: none;">
			<ul >
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>是否保证续保到40岁？</div>	</div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>如果符合该产品健康告知，是可以续保的，但是本产品没有绝对保证可以续保到40岁。</div>	
				</div>
			</li>
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>得了肝病可以购买该产品吗？</div></div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>该款产品要求被保险人健康体投保且在投保时如实填写健康告知。</div>	
				</div>
			</li>
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>包括所有癌症吗？观察期多久？</div></div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>该产品保障范围是30种重大疾病，观察期30天，以下恶性肿瘤不在保障范围内：1.原位癌；2.相当于Binet分期方案A期程度的慢性淋巴细胞白血病；3.相当于Ann Arbor分期方案I期程度的何杰金氏病；4.皮肤癌（不包括恶性黑色素瘤及已发生转移的皮肤癌）；5.TNM分期为T1N0M0期或更轻分期的前列腺癌；6.感染艾滋病病毒或患艾滋病期间所患恶性肿瘤。</div>	
				</div>
			</li>
			<li class="qa-item  question hide">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>今天买了，什么时间生效呢？</div></div>	
			</li>
			<li class="qa-item answer hide">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>本保险合同自您成功购买保险的4日后零时开始生效。</div>
				</div>
			</li>
			<li class="qa-item  question hide">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>请问最大投保年龄为40岁，我今年39岁，可以续保到多少岁？</div></div>	
			</li>
			<li class="qa-item answer hide">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>该款产品最大的可保年龄是40周岁，即超过40周岁不能进行投保和续保。</div>	
				</div>
			</li>
			</ul>
			<div class="more_ctrl">
				<a href="javascript:;" class="weui_btn weui_btn_plain_more word_color ">查看更多
					<img src="/img/temai/blue_arrow.jpg" class="arrow" />
				</a>
			</div>
		</div>
	</div>
