<div class="tail-header">
		<div class="hd select" >产品说明</div>
		<div class="hd"  >投保须知</div>
		<div class="hd "  >常见问题</div>
	</div>

	<div id="template-container">
		<div class="introd-container">
			<div class="detail-container">
			  <div>
				<img src="http://static.nuobei.cn/img/product/zyseyw01.png" ></div>
			</div>
		</div>
		<!--
		-----------------我是注释示例开始-------------
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.承保年龄</h4>
			<p>1-80周岁，被保险人常住地为中华人民共和国境内。</p>
			<h4>2. 承保范围</h4>
			<p>滑雪、潜水、骑马等；承保恐怖分子行为造成的伤害；但滑翔翼，跳伞活动等空中活动不承保。</p>
			<h4>3. 限制区域</h4>
			<p>本保险不承保任何直接或间接由于前往或途经阿富汗、缅甸、古巴、刚果民主共和国、伊朗、伊拉克、利比里亚、苏丹、叙利亚，或在上述国家旅行期间发生的保险事故。</p>
			<h4 class="hide">4. 在中国境内（不含港澳台）的外籍人士购买本产品需满足：至少在中国境内居住或工作满半年以上。不承保回原国籍。</h4>
			<h4 class="hide">5. 如保险期限为一年，则本计划保障的单次最长旅行期限为182天。</h4>
            <h4 class="hide">6. 投保份数限定：被产品每一被保险人限投保一份，多投无效，保险公司不承担多投的保险责任。</h4>


			</div>
			<div class="more-1-container ">
				查看更多  <img src="http://static.nuobei.cn/img/jiantou.png" />
			</div>

			<div class="button-container">
				<div class="left"><a href="javascript:;" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="javascript:;" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>
		</div>
		-----------------我是注释示例结束-------------
		-->
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.承保年龄</h4>
			<p>计划一承保年龄为3-9周岁(含3、9周岁)，计划二承保年龄为10-18周岁(含10、18周岁)，未成年人累计意外身故保额以保监会规定为准。</p>
			<h4>2.承保范围</h4>
			<p>承保地域范围为中华人民共和国境内，不包括港澳台地区；	意外伤害医疗的就诊范围为中国境内的二级或二级以上医院。</p>
			<h4>3.生效时间</h4>
			<p>本产品购买生成保单后，所对应的保险责任最早于第三日零时生效。</p>
			<h4 class="hide">4.份数限制 </h4>
			<p class="hide">本保险计划每一被保险人限投保一份，超出部分无效。</p>
			<h4 class="hide">5.投保限制 </h4>
			<p class="hide">本产品不支持外籍人士购买。</p>


			</div>
			<div class="more-1-container ">
				查看更多  <img src="http://static.nuobei.cn/img/temai/blue_arrow.jpg" />
			</div>

			<div class="button-container">
				<div class="left"><a href="/ybwx-web/api/web_page/237" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="/#/claim_information?claim_id=35" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>

		</div>
		<div class="qa-container" style="display: none;">
			<ul >
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>已经为孩子购买过此类保险（其他保险公司），这款产品还能购买么？购买的话是能和其他保险公司的同时享受理赔么？</div>	</div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好，少儿意外是可以购买的，可以分别在不同公司理赔，但是要注意关于意外医疗的报销，在一家保险公司报销后在另外一家只能报销差额部分。</div>	
				</div>
			</li>
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>免赔额和赔付比例是什么意思？</div></div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好，免赔额是指社保用药的所有费用扣除100元后进行医疗费用的报销；赔付比例是指社保用药费用扣除100元后剩余费用部分的报销比例。</div>	
				</div>
			</li>
			<li class="qa-item  question hide">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>发生意外后要保留哪些凭证？</div></div>	
			</li>
			<li class="qa-item answer hide">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好，要保留的凭证包括：二级及二级以上公立医院的门诊或住院病例、有关部门出具的意外事故证明、伤残鉴定报告等，资料准备得越全面获赔速度将更快。</div>
				</div>
			</li>
			</ul>
			<div class="more_ctrl">
				<a href="javascript:;" class="weui_btn weui_btn_plain_more word_color ">查看更多
					<img src="http://static.nuobei.cn/img/temai/blue_arrow.jpg" class="arrow" />
				</a>
			</div>
		</div>
	</div>