<div class="tail-header">
		<div class="hd select" >产品说明</div>
		<div class="hd"  >投保须知</div>
		<div class="hd "  >常见问题</div>
	</div>

	<div id="template-container">
		<div class="introd-container">
			<div class="detail-container">
			  <div>
				<img src="img/product/tpyhkyw02.png" ></div>
			</div>
		</div>
		<!--
		-----------------我是注释示例开始-------------
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.承保年龄</h4>
			<p>1-80周岁，被保险人常住地为中华人民共和国境内。</p>
			<h4>2. 承保范围</h4>
			<p>滑雪、潜水、骑马等；承保恐怖分子行为造成的伤害；但滑翔翼，跳伞活动等空中活动不承保。</p>
			<h4>3. 限制区域</h4>
			<p>本保险不承保任何直接或间接由于前往或途经阿富汗、缅甸、古巴、刚果民主共和国、伊朗、伊拉克、利比里亚、苏丹、叙利亚，或在上述国家旅行期间发生的保险事故。</p>
			<h4 class="hide">4. 在中国境内（不含港澳台）的外籍人士购买本产品需满足：至少在中国境内居住或工作满半年以上。不承保回原国籍。</h4>
			<h4 class="hide">5. 如保险期限为一年，则本计划保障的单次最长旅行期限为182天。</h4>
            <h4 class="hide">6. 投保份数限定：被产品每一被保险人限投保一份，多投无效，保险公司不承担多投的保险责任。</h4>


			</div>
			<div class="more-1-container ">
				查看更多  <img src="img/jiantou.png" />
			</div>

			<div class="button-container">
				<div class="left"><a href="javascript:;" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="javascript:;" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>
		</div>
		-----------------我是注释示例结束-------------
		-->
		<div class="showknow-container" style="display: none;">
			<div class="know-content">
			<h4>1.承保年龄</h4>
			<p>本产品承保年龄为0-100周岁（含0、100周岁）。</p>
			<h4 >2.投保限制 </h4>
			<p >外籍人士购买本产品只要符合投保规则即可，无其它特殊要求，但不承保回原国籍。</p>
			<h4 >3.限制区域 </h4>
			<p >本产品承保全球，但不承保任何直接或间接前往或途径索马里、利比亚、利比里亚、叙利亚、阿富汗、南北苏丹、刚果民主共和国、伊拉克、中非、也门，巴勒斯坦、以色列、南极、北极以及投保时已经处于战争状态或已被宣布为紧急状态的国家或地区。</p>
            <h4 class="hide">4.投保份数 </h4>
			<p class="hide">被产品每一被保险人限投保一份，多投无效，保险公司不承担多投的保险责任。</p>

			</div>
			<div class="more-1-container">
				查看更多  
				<img src="img/temai/blue_arrow.jpg" />
			</div>

			<div class="button-container">
				<div class="left"><a href="/api/web_page/16" class="weui_btn weui_btn_plain_more">产品条款</a></div>
				<div class="right"><a href="http://wechat.nuobei.cn/#/claim_information?claim_id=25" class="weui_btn weui_btn_plain_more">理赔资料</a></div>
			</div>

		</div>
		<div class="qa-container" style="display: none;">
			<ul >
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>请问从香港起飞的航班可以投保吗</div>	</div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好，可以的，该产品是全球航班通用的。</div>	
				</div>
			</li>
			<li class="qa-item  question">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>您好，春秋航空的在保险范围吗？</div></div>	
			</li>
			<li class="qa-item answer">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好，该产品是全球航班通用的，您可以放心购买。</div>	
				</div>
			</li>
			<li class="qa-item  question hide">
				<div class="qa-icon "></div>	
				<div class="qa-content"><div>已经购买过太平洋其他的航空意外险，可以累积理赔么</div></div>	
			</li>
			<li class="qa-item answer hide">
				<div class="qa-icon" ></div>	
				<div class="qa-content">
					<div>您好，可以的，请放心购买。</div>
				</div>
			</li>
			</ul>
			<div class="more_ctrl">
				<a href="javascript:;" class="weui_btn weui_btn_plain_more word_color ">查看更多
					<img src="img/temai/blue_arrow.jpg" class="arrow" />
				</a>
			</div>
		</div>
	</div>