<link rel="stylesheet" href="css/about_nuobei.css">
<div class="nuobei_ctrl">
	<div class="nuobei">
		<div class="nuobei_head">诺贝保险管家</div>
		<div class="nuobei_info">找到你真正需要的保险</div>
		<div class="nuobei_img">
			<img src="img/about_nuobei/1.png">
		</div>
	</div>
	<div class="space"></div>
	<div class="nuobei">
		<div class="nuobei_head">个性定制</div>
		<div class="nuobei_info">通过简单的资料设定 了解用户的需求</div>
		<div class="nuobei_img">
			<!-- <img src=""> -->
		</div>
	</div>
	<div class="space"></div>
	<div class="nuobei">
		<div class="nuobei_head">智能管理</div>
		<div class="nuobei_info">建立科学的用户模型 根据职能算法<br/>帮助用户管理已有保险 推荐需要补充的保险</div>
		<div class="nuobei_img">
			<!-- <img src=""> -->
		</div>
	</div>
	<div class="space"></div>
	<div class="nuobei">
		<div class="nuobei_head">产品打分</div>
		<div class="nuobei_info"> 对保险产品进行精细打分<br/>让用户轻松了解保险产品的各项指标</div>
		<div class="nuobei_img">
			<!-- <img src=""> -->
		</div>
	</div>
	<div class="space"></div>
	<div class="nuobei">
		<div class="nuobei_head">一站式方案</div>
		<div class="nuobei_info"> 集合多家产品 提供一站式了解方案</div>
		<div class="nuobei_img">
			<!-- <img src=""> -->
		</div>
	</div>
</div>