<link rel="stylesheet" type="text/css" href="/css/baodan_detail.css?rev=37d34aa029c2857ca76d246bae14782a">
<link rel="stylesheet" type="text/css" href="/css/bd_detail.css?rev=d41d8cd98f00b204e9800998ecf8427e">
<div class="nuobei_header">
  <div class="img_ctrl"><img src="/img/nuobei_header/logo640.png"></div>
  <div class="back_homePage"><a href="/#/index">回首页</a></div>
  <div class="concern" id="foucs_button">关 注</div>
</div>
<div  class="detail_container padd">
	<h4>{{order.order_name}}</h4>
	<div class="sub_container">
		<p>保单号:{{order.policy_no}} <span class="fr orange" style="color:{{getBdColor(order.order_status)}}">{{getBdStatus(status,order.order_status)}} </span></p>
		<p>创建时间:{{order.create_time  |  date:'yyyy-MM-dd HH:mm:ss' }}</p>
		<p>生效时间:{{order.effective_date  |  date:'yyyy-MM-dd HH:mm:ss' }}</p>
		<p>终止时间:{{order.ineffective_date  |  date:'yyyy-MM-dd HH:mm:ss' }}</p>
		<p>保障额度:<span class="red">￥{{order.sum_insured | number:2}}</span>元</p>
		<p>支付金额:<span class="red">￥{{order.order_amount | number:2}}</span>元</p> 
		<p>本产品由<span class="blue">{{order.insurance_company_name}}</span>提供</p>
	</div>

	<div class="bd_detail_btn_border"  ng-click="showDialog()" ng-if="getBdStatus(status,order.order_status)=='待生效' || getBdStatus(status,order.order_status)=='已失效' || getBdStatus(status,order.order_status)=='保障中'"　 >电子保单 <span class="fr blue ">发送</span></div>

</div>

<div  class="detail_container bottm_border" >
	<h4>投保人信息</h4>
	<p>姓名：{{order.name}}</p>	
	<p>身份证号:{{order.social_id}}</p>	
	<p class="padd_bot">手机号码:{{order.mobile}}</p>
	<div class="line"></div>
	<h4>被保险人信息</h4>	

	<div ng-repeat="person in order.insured_peoples" class="padd_bot">
	<p>姓名：{{person.name}}</p>	
	<p>身份证号:{{person.social_id}}</p>	
	<p>手机号码:{{person.mobile}}</p>	
	</div>
	
</div>

  <div class="weui_dialog_confirm" id="email_dialog" style="display:none">
    <form class="" role="form" name="sendForm" novalidate>
      <div class="weui_mask"></div>
      <div class="weui_dialog">
        <div class="weui_dialog_bd">
          <input type="email"  style="border:1px solid #D7D7D7" class="ipt" ng-minlength="1"  name="email" ng-model="user.email" required   onfocus="this.placeholder = ''" onblur="this.placeholder = '输入电子邮箱'" placeholder="输入电子邮箱" />
        </div>
        <div  style="color:red;text-align:left;padding:0 20px;"
                          ng-show="sendForm.email.$dirty && sendForm.email.$invalid ">
          <small class="error" ng-show="sendForm.email.$error.required">邮箱必填</small>
          <small class="error" ng-show="sendForm.email.$error.email">邮件格式不正确</small>
        </div>
        <div class="weui_dialog_ft">
          <div class="cell_hd " style="width:1000px;border:none">
            <a href="javascript:void(0)" class="btn btn_disabled  " ng-click="hideDialog()" >取消</a>
          </div>
          <div class="cell_hd" style="width:200px;border:none"></div>

          <div class="cell_hd " style="width:1000px;border:none">
            <a href="javascript:void(0)" class="btn btn_n_primary "    ng-click="send_bd()" >发送电子保单</a>
          </div>
        </div>
      </div>
    </form>
	</div>
