<style>
body{
	background-color: #f5f5f5;
}
.bd_container{
	padding:0.51rem 0.26rem 0.31rem;
	
	/*background-color: #fff;*/
}
.bd_tail_container{
	padding:0 0.26rem;
}

.bd_tail_container{
	margin-bottom: 0.26rem;
	text-align: center;
	/*border-top: 1px solid #e2e2e2;*/
	background-color: #f5f5f5;
}
.bd_tail_container >div {
	border:1px solid #1e4e8e;
	border-radius: 3px;
	padding:0.26rem 0.13rem;
	background-color: #fff;
}
.bd_tail_container .title{
	color:#555555;
	font-size:0.2rem;
	line-height: 0.8;
}
.bd_tail_container .subtitle{
	color:#ff5c00;
	font-size:0.13rem;
	line-height: 0.3;
}
.special-btn{
	border:1px solid #cccccc;
	background-color:#fff;
	color:#1e4e8e;
	/*height:0.65rem;*/
	/*line-height: 0.65rem;*/
}
.big-btn{
	height:0.65rem;
	line-height: 0.65rem;
}

.btn_up_primary{
	background-color: #1e4e8e;
	color: #fff;
}
</style>
<div class="bd_container" >
	<div class="cell ">
		<a href="javascript:void(0)" id="chooseImage" ng-click="upLoadMyBdPic()" class="btn btn_n_primary " >上传我的保单照片</a>
	</div>
	<div class="cell " style="margin-top: 0.26rem">
		<a href="javascript:void(0)" id="chooseImage" ng-click="upLoadFamilyBdPic()" class="btn special-btn" >上传家人保单照片</a>
	</div>
</div>
<div class="bd_tail_container" >
	<p class="title" >如何拍摄保单照片</p>
	<!-- <p class="subtitle">注：请拍清保单下的以下信息</p> -->
	<div >
		<img src="img/baodan_3.jpg" style="width:100%;">		
	</div>
</div>
