<link rel="stylesheet" type="text/css" href="css/baodan.css?rev=fghfhgh">

    <div class="cell" style="color:#555;background: #fff;">
      <div class="cell_hd  cell_primary item" ng-class='{"red":tog==""}' ng-click='tog=""'>全部</div>
      <div class="cell_hd  cell_primary item" ng-class='{"red":tog=="1"}' ng-click='tog="1"'>待支付</div>
      <div class="cell_hd  cell_primary item" ng-class='{"red":tog=="8"}' ng-click='tog="8"'>保障中</div>
      <div class="cell_hd  cell_primary item" ng-class='{"red":tog=="6"}' ng-click='tog="6"'>待生效</div>
    </div>
      <div class=" gradient-shadow" ></div>
      <p class="default_text" ng-show="filtered.length==0" >暂时没有保单</p>
    <ul class="ul_container"   cg-busy="myPromise" data-ng-init="init()">


    <!--
    <div infinite-scroll="nextPage()" infinite-scroll-distance="0">
     </div>s
      <div style="background-color: #fff;">
      <div style="width:100px;margin:0 auto;text-align: center;background-color: #fff;">
          <img src="img/loading.gif" style="width:50px;">
      </div>
     -->
    <ul class="bd_list_controller">
      <li class="list_item"   ng-repeat="order in filtered = (orders |filter:filterFn )">
        <div class="order_title" style="position:relative">订单号：{{order.order_no}} <span class="bd_status">{{order.create_time  |  date:'yyyy-MM-dd'}}</span></div>
        <div class="line"></div>
        <div>
            <div ng-repeat="insurance in order.insurance_orders" ng-click="goDetail(insurance.order_no,order.status)" style="border-bottom: 1px solid #d2d2d2;">
              <p style="position:relative;margin-top:13px;color:#000;font-size: 15px;">{{insurance.order_name}} </p>
              <div ng-repeat="people in insurance.insured_peoples">
                <p>被保人:{{people.name}}</p>
                <p>手机号:{{people.mobile}}</p>
                <p>身份证:{{people.social_id}}</p>
                <p style="position: relative;margin-bottom: 10px;" >
                  <img style="width: 14px;vertical-align:-2px;" src="img/clock.jpg"/> 
                  {{insurance.effective_date|date:"yyyy.MM.dd"}} - {{insurance.ineffective_date|date:"yyyy.MM.dd"}}
                  <span class="bd_status_text" style="position:absolute;right: 5px;color:{{getBdColor(insurance.order_status)}}">{{getBdStatus(order.status,insurance.order_status)}} </span>
                </p>
               </div>
                <!-- <div class="line" style="clear:both;"></div> -->
            </div>
         
         
          <div style="padding:20px 10px;color:#555555;position: relative;font-size: 13px;"  ng-show="order.status=='1' ||  order.status=='2'   || order.status=='3'   || order.status=='5' ">
             订单金额:
            <span style="color:#555555">{{order.premium/100 | number:2}}</span>
            <div class="pay_button" ng-click="goPay(order.order_id,order.order_no,order.premium)">立即支付</div>
          </div>
        </div>
      </li>
    </div>
        <!--
      <li class="list_item"  ng-click="goDetail(order.order_no)"  ng-repeat="order in filtered = (orders |filter:filterFn )">
        <div class="order_title" style="position:relative">订单号:{{order.order_no}}  <span class="bd_status">{{order.create_time  |  date:'yyyy-MM-dd'}}</span></div>
        <div class="line"></div>
        <div>
          <div class="">
            <p style="position:relative;margin-top:13px;color:#6caaea">{{order.order_name}}<span class="bd_status_text" style="position:absolute;right:0" >{{order.order_status_text}}</span></p>
            <p>被保人:<span ng-repeat="person in order.insured_peoples">{{person.name}}</span></p>
            <p>保险金额:<span class="red">￥{{order.order_amount/100 | number:2}}</span></p>
            <p>生效时间:{{order.effective_date |  date:'yyyy-MM-dd HH:mm:ss'}}</p>
          </div>
          <div class="line" style="clear:both;"></div>
        </div>
      </li>
    </ul> 
    -->
    </ul>