<link rel="stylesheet" type="text/css" href="css/bdm_detail.css?rev=eba82e9ba95050261263fa6f28639420">
div ng-if="isTest == false"  cg-busy="loadingPromise" style="margin-bottom:70px;">
	<div class="wrapper " id="my_baodan">
		<img src="img/yiyanzhen.png" style="position: absolute;top:9px;right:11px;width:70px;z-index: 5;display: none">
		<div class="container" >
			<div class="sub-container">
				<div class="title ">
					<p class="logo">
						<img  ng-src="{{data.icon}}"/>
					</p>
					<div class="gd">{{data.name}}</div>
				</div>
				<div class="btnline"> </div>
				<div class="hei18"> </div>
				<div style="padding-left: 0.07rem">
					<div class="insured-item ">
						<span class="gray fontW">保单号</span><span>：</span>
						{{data.policy_no}}
						<div class="score">{{data.score | number:2}}<span class="colr">分</span></div>
					</div>
					<div class="insured-item">
						<span class="gray fontW">被保人</span><span>：</span>
						{{data.insured_people_name}}	
					</div>
					<div class="insured-item">
						<span class="gray">缴费方式</span><span style="padding-left: .07rem">：</span>
						{{getChargePeroidType(data.charge_period_type)}}
					</div>
					<div class="insured-item" ng-if="data.charge_period">
						<span class="gray">缴费期间</span><span style="padding-left: .07rem">：</span>
						{{data.charge_period}}{{getChargePeroidTypeAbbre(data.charge_period_type)}}
					</div>
					<div class="insured-item" ng-if="data.charge_date">
						<span class="gray">缴费时间</span><span style="padding-left: .07rem">：</span>
						{{data.charge_date}}
					</div>
					<div class="hei18"> </div>
				</div>

				<table >
					<tr class="bd_th">
						<th style="text-align: left;width:40%;">保障项目</th>
						<th style="text-align: left;">保额(元)</th>
						<th style="text-align: center;">保费(元)</th>
					</tr>
					<tr class="bd_tr" ng-repeat="item in data.coverages">
						<td>
							<span class="gray">{{item.name}}</span>
						</td>
						<td class="right-border blue">{{processMoney(item.sum_insured)}}</td>
						<td ng-if="$index==0" rowspan="{{data.coverages.length}}" class="blue" style="vertical-align: middle;text-align: center;">
							{{data.premium}}
							<br/>
						</td>
					</tr>
					<tr class="bd_tr">
						<td>
							<span class="gray">保障期限</span>
							<div class="bd-effective">
								<img src="img/cover.png"  ng-show="data.effective" />
								<img src="img/shixiao.png"   ng-show="!data.effective" />
							</div>
						</td>
						<td colspan="2">
						{{data.coverageDate}}
						
						</td>
					</tr>
				</table>

				<table style="margin-top: 0.25rem;">
					<tr class="bd_th">
						<th style="text-align: left;">被保人信息</th>
					</tr>
					<tr class="top20"></tr>
					<tr ng-repeat="(key, value) in data.insured_info"  >
						<td>
							<span class="gray">{{key}}:</span>
							{{value}}
						</td>
					</tr>
					<tr class="btn40"></tr>
				</table>
				<table >
					<tr class="bd_th">
						<th style="text-align: left;">其他信息</th>
					</tr>
					<tr class="top20"></tr>
					<tr ng-repeat="(key, value) in data.extra_info"  >
						<td>
							<span class="gray" ng-class="'twowid':key.length==2">{{key}}:</span>
							{{value}}
						</td>
					</tr>
					<tr class="btn40"></tr>
				</table>
				<table >
					<tr class="bd_th">
						<th style="text-align: left;">销售信息</th>
					</tr>
					<tr class="top20"></tr>
					<tr ng-repeat="(key, value) in data.sale_info"  >
						<td>
							<span class="gray">{{key}}:</span>
							{{value}}
						</td>
					</tr>
					<tr class="btn40"></tr>
				</table>

			</div>
		</div>
	</div>

	<div class="bd-wrapper" ng-if="data.image_urls.length>0">
		<div  class="bd-name">保单照片</div>
		<div class="bd-pic-container"  ng-click="preview()">
			<img ng-src="{{data.image_urls[0]}}"  />
			<div class="number">{{data.image_urls.length}}张</div>
		</div>
	</div>
</div>

<div>
	<div class="tail-container">
		<div class="cell ">
			<div class="cell_hd cell_primary" ng-click="goClaimInfo(data.claim_info_id )">
				<div class="img-box">
					<img src="img/tiaokuan.png"/>
				</div>
				<div>产品条款</div>
			</div>
			<div class="cell_hd cell_primary" >
				<a href="/ybwx-web/api/web_page/{{data.provision_id}}" style="color:#555;">
					<div  class="img-box">
						<img src="img/baodan.png"/>
					</div>
					<div>理赔资料</div>
				</a>
			</div>
			<div class="cell_hd cell_primary" >
				<a  class="rexian" href="tel:13764567708">
					<div  class="img-box">
						<img src="img/rexian.jpg"/>
					</div>
					<div>理赔热线</div>
				</a>
			</div>
			<div class="cell_hd cell_primary" ng-click="showTip()">
				<div  class="img-box">
					<img src="img/fenxiang.png"/>
				</div>
				<div>发送保单</div>
			</div>
		</div>
	</div>
</div>

<div id="test_baodan" style="display: none">
	<div class="wrapper " >
		<img src="img/yiyanzhen.png" style="position: absolute;top:9px;right:11px;width:70px;z-index: 5;display: none">
		<div class="container">
			<div class="sub-container">
				<div class="title">
					<p class="logo">
						<img  src="img/picc_logo.jpg"/>
					</p>
					平安7天意外险
				</div>
				<!-- <div class="btnline"> </div> -->
				<div class="example">示例保单</div>
				<div>
					<div class="bd-number">
						<span class="gray fontW">保单号：</span>
						10020200120342
					</div>
					<div class="insured-name">
						<span class="gray fontW">被保人：</span>
						诺小贝
						<div class="score">8分</div>
					</div>
				</div>

				<table >
					<tr class="bd_th">
						<th style="text-align: left;width:40%;">保障项目</th>
						<th style="text-align: left;">保额(元)</th>
						<th style="text-align: center;">保费(元)</th>
					</tr>
					<tr class="bd_tr">
						<td>
							<span class="gray">综合意外</span>
						</td>
						<td  class="right-border blue">80000000.00</td>
						<td  rowspan="3" class="blue" style="vertical-align: middle;text-align: center;">
							128.00
							<br/>
							1年
						</td>
					</tr>
					<tr class="bd_tr">
						<td>
							<span class="gray">航空意外</span>
						</td>
						<td  class="right-border blue">200000000.00</td>
					</tr>
					<tr class="bd_tr">
						<td>
							<span class="gray">火车意外</span>
						</td>
						<td  class="right-border blue">60000.00</td>
					</tr>

					<tr class="bd_tr">
						<td>
							<span class="gray">保障期限</span>
							<div style="position: relative;">
								<img src="img/cover.png" style="position: absolute;top:0.1rem;left:0.5rem;width:0.8rem;" />
							</div>
						</td>
						<td colspan="2">2016.05.06 00:00:00-2020.05.05 24:00:00</td>
					</tr>
				</table>

				<table style="margin-top: 0.2rem;">
					<tr class="bd_th">
						<th style="text-align: left;">被保人信息</th>
					</tr>
					<tr >
						<td>
							<span class="gray fontW">被保人</span><span>:</span>
							诺小贝
						</td>
					</tr>
					<tr >
						<td>
							<span class="gray twowid">性别:</span>
							男
						</td>
					</tr>
					<tr >
						<td>
							<span class="gray twowid">生日:</span>
							1984-10-27
						</td>
					</tr>
					<tr >
						<td>
							<span class="gray twowid">电话:</span>
							158****0018
						</td>
					</tr>
					<tr >
						<td>
							<span class="gray">证件类型:</span>
							身份证
						</td>
					</tr>
					<tr >
						<td>
							<span class="gray fontW">证件号:</span>
							4324323423****32423
						</td>
					</tr>
				</table>
				<table >
					<tr class="bd_th">
						<th style="text-align: left;">其他信息</th>
					</tr>
					<tr >
						<td>
							<span class="gray fontW">被保人:</span>
							诺小贝
						</td>
					</tr>
					<tr >
						<td>
							<span class="gray twowid">电话:</span>
							15638332323423
						</td>
					</tr>
					<tr >
						<td>
							<span class="gray fontW">受益人:</span>
							诺大北(法定)
						</td>
					</tr>
				</table>
				<table >
					<tr class="bd_th">
						<th style="text-align: left;">销售信息</th>
					</tr>
					<tr >
						<td>
							<span class="gray">销售机构:</span>
							中国平安保险
						</td>
					</tr>
					<tr >
						<td>
							<span class="gray">业务员(代码):</span>
							马三 901029812737
						</td>
					</tr>

				</table>

			</div>
		</div>
	</div>

	<div class="bd-wrapper">
		<div  class="bd-name">保单照片</div>
		<div class="bd-pic-container">
			<img src="img/pic.jpg"  />
			<div class="number">88张</div>
		</div>
	</div>
	<div class="tail-container">
	<div class="cell ">
		<div class="cell_hd cell_primary">
			<div class="img-box">
				<img src="img/qian1.png"/>
			</div>
			<div class="twowid">产品条款</div>
		</div>
		<div class="cell_hd cell_primary" >
			<div  class="img-box">
				<img src="img/tiaokuan.png"/>
			</div>
			<div class="twowid">理赔资料</div>
		</div>
		<div class="cell_hd cell_primary" >
			<div  class="img-box">
				<img src="img/baodan.png"/>
			</div>
			<div class="twowid">理赔热线</div>
		</div>
		<div class="cell_hd cell_primary" >
			<div  class="img-box">
				<img src="img/fenxiang.png"/>
			</div>
			<div class="twowid">发送保单</div>
		</div>
	   <!-- <div class="btn40"></div> -->

	</div>
</div>

</div>
