<link rel="stylesheet" type="text/css" href="css/bdm_list.css?rev=fghgfhf">
<header>
	<div class="left">
		<!--
		<img src="../img/toubao_type.jpg"  />
			<img src="../img/nuo.png"  />
		-->
		<img ng-src="{{data.image}}"  />
	</div>
	<div class="right">
		<div class="title">{{data.nickname}}</div>
		<div class="subtitle">
			总保费 {{data.total_premium}}元 &emsp;综合评分
			<span class="money">{{data.total_score | number:2}}</span>
		</div>
	</div>
</header>
<div class="cell nav" style="color:#555555">
	<div class="cell_hd  cell_primary "  ng-class='{"select":type=="4"}' ng-click='setType("4")' >
		意外
		<span>{{typeGroup[4].length}}</span>
	</div>
	<div class="cell_hd  cell_primary "   ng-class='{"select":type=="3"}' ng-click='setType("3")' >
		人寿
		<span>{{typeGroup[3].length}}</span>
	</div>
	<div class="cell_hd  cell_primary "  ng-class='{"select":type=="2"}' ng-click='setType("2")'  >
		健康
		<span>{{typeGroup[2].length}}</span>
	</div>
	<div class="cell_hd  cell_primary "  ng-class='{"select":type=="1"}' ng-click='setType("1")'  >
		家庭	
		<span>{{typeGroup[1].length}}</span>
	</div>
	<div class="cell_hd  cell_primary "  ng-class='{"select":type=="5"}' ng-click='setType("5")' >
		财产
		<span>{{typeGroup[5].length}}</span>
	</div>
</div>

<div class="container"  cg-busy="loadingPromise">
	<ul >

		<li class="default-li"  ng-if="data.un_settled_policies_amount > 0">
			<div class="wrapper" style="padding:0.2rem 0">
				<div class="bg"></div>
				<div class="process-container-left">
					<img src="img/loadding.png" >
				</div>	
				<div class="process-container-right">
					<p class="name"><span class="blue">{{data.un_settled_policies_amount}}</span>份保单待处理</p>
					<p class="subtitle">正在识别中……</p>
				</div>
			</div>
		</li>

		<li class="default-li" ng-click="goDetail(policy.id)"   ng-repeat="policy in filtered = (data.policies |filter:filterFn )">
				<div class="bg"></div>
			<div class="wrapper">
				<div class="shadow"></div>
				<div class="title">保单号:{{policy.policy_no}} <!--<span class="example">示例保单</span>--></div>
				<div class="des ">
					<img class="logo" ng-src="{{policy.icon}}"   />
					<div style="margin-right: 1rem;">
						<div class="product">{{policy.name}}</div>
						<div class="time" ><img src="img/clock.jpg"/>  {{policy.coverageDate.substring(0,11)}} ~ {{policy.coverageDate.substring(20,30)}} </div>
					</div>
					<div style="clear:both;"></div>

					<div class="bd-effective">
						<img src="img/wsx.png"  ng-show="policy.insure_status==0 " />
						<img src="img/cover.png"  ng-show="policy.insure_status==1 " />
						<img src="img/shixiao.png"  ng-show="policy.insure_status==2" />
					</div>
					<!--
					<div class="status success"></div>
					-->
				</div>
				<div class="sub-container">
					<div class="bd-score">
						<span>{{policy.score | number:2}}</span>
						分
					</div>
					<div class="pei_button" ng-click="goClaimInfo(policy.claim_info_id )">理&nbsp;赔</div>
				</div>
			</div>
			<div class="bottom">
				<!---->
				<div class="linebox">
				</div>
			</div>
		</li>
	
	<!-- ng-if="data.policies.length == 0" -->
		<li ng-click="goDetail('test')"  ng-if="data.policies.length == 0" >
			<div class="wrapper">
				<div class="bg"></div>
				<div class="title">保单号:231312312312 <span class="example">示例保单</span></div>
				<div class="des ">
					<img class="logo" src="img/picc_logo.jpg" />
					<div style="margin-right: 1rem;">
						<div class="product">中国人保|爱心天使7天综合意外险</div>
						<div class="time"><img src="img/clock.jpg"/>2016.03.03-2016.04.05</div>
					</div>
					<div style="clear:both;"></div>
					<div class="status success"></div>
				</div>
				<div class="sub-container">
					<div class="bd-score">
						<span>0.2</span>
						分
					</div>
					<div class="pei_button" >理赔</div>
				</div>
			</div>
			<div class="bottom">
				<div>
				</div>
			</div>
		</li>
	 <!---->
	</ul>
</div>

<div class="tip"  ng-if="data.policies.length == 0" >
	点击上传 进行保单管理
	<div></div>
</div>
<div class="cell pay_container">
  <a href="javascript:void(0)" class="btn btn_dark_2_primary" ng-click="goBdUpload();" style="border-radius: 0px;">
		<img src="img/upload_icon.png">&nbsp;上传保单</a>
</div>

