<link rel="stylesheet" type="text/css" href="css/bz.css?rev=44fdf2fb76a1e648cd1130028f035a06">
<div class="mask" id="popup">
	<div class="toast"></div>h
</div>

<div class="wrapper"  data-ng-init="init()" cg-busy="myPromise" style="margin-bottom: 80px;" >

	<h5 class="h5">
		<img src="img/safe.jpg">主要保障
		<div class="line"></div>
	</h5>

	<div class="bz_container">

		<div ng-if="data.main_coverages.length>
			7">
			<table>
				<tr ng-repeat="item in data.main_coverages" class="bz_item" title="{{item.description}}" name="{{item.name}}">
					<td class="left_td">
						<img src="img/list_bz_main.jpg" >&nbsp;{{item.name}}</td>
					<td style="text-align: center">
						<span class="money_color">{{processMoney(item.sum_insured)}}</span>
					</td>
					<td  class="right_td">
						<img src="img/arrow.jpg" ></td>
				</tr>
			</table>
		</div>

		<div ng-if="data.main_coverages.length<=7">
			<div class="sub_container sub_container_{{data.main_coverages.length}} sub_container_{{data.main_coverages.length}}_blue "  >
				<div class="bz_text bz_text_{{$index+1}} bz_item" ng-repeat="item in data.main_coverages" title="{{item.description}}" name="{{item.name}}">
					<span class="main_color">{{item.name}}</span><br>
					<span ng-class="item.coverage_type==1?'color_red':''">{{processMoney(item.sum_insured)}}</span>
				</div>
			</div>
		</div>

	</div>

	<h5 class="h5" ng-if="data.second_coverages.length>
		0" style="color: #222;">
		<img src="img/safe.jpg" style="width:15px; vertical-align:-4px;margin-right: 5px;">其他保障
		<div class="line"></div>
	</h5>

	<div ng-if="data.second_coverages.length>
		7">
		<table>
			<tr ng-repeat="item in data.second_coverages" class="bz_item" title="{{item.description}}" name="{{item.name}}">
				<td class="left_td">
					<img src="img/list_bz.jpg" >&nbsp;{{item.name}}</td>
				<td style="text-align: center"><br>
					<span class="color_red">{{processMoney(item.sum_insured)}}</span>
				</td>
				<td  class="right_td">
					<img src="img/arrow.jpg" ></td>
			</tr>
		</table>

	</div>

	<div ng-if="data.second_coverages.length<=7">

		<div class="sub_container sub_container_{{data.second_coverages.length}} sub_container_{{data.second_coverages.length}}_blue "  >
			<div class="bz_text bz_text_{{$index+1}} bz_item" ng-repeat="item in data.second_coverages" title="{{item.description}}" name="{{item.name}}">
				<span>{{item.name}}</span><br>
				<span class="color_red">{{processMoney(item.sum_insured)}}</span>
			</div>
		</div>
	</div>

	<h5 ng-show="data.escape_coverages.length>
		0">
			免除责任
		<div class="line">
			<span>根据保障合同，以下情况不在赔偿范围</span>
		</div>
	</h5>
	<div class="bz_container" ng-show="data.escape_coverages.length>
		0">
		<div ng-if="data.escape_coverages.length>
			7">
			<table>
				<tr>
					<th>保障项目</th>
					<th>详情</th>
				</tr>
				<tr ng-repeat="item in data.escape_coverages" class="bz_item" title="{{item.description}}" name="{{item.name}}">
					<td class="left_td">
						<img src="img/left_logo.jpg" >&nbsp;{{item.name}}</td>
					<td  class="right_td">
						<img src="img/arrow.jpg" ></td>

				</tr>
			</table>
		</div>
		<div ng-if="data.escape_coverages.length<=7">
			<div class="sub_container sub_container_{{data.escape_coverages.length}}">
				<div class="bz_text bz_text_{{$index+1}} bz_item" ng-repeat="item in data.escape_coverages"  title="{{item.description}}" name="{{item.name}}">{{item.name}}</div>
			</div>
		</div>
	</div>
	<!-- <div  class="word_container">
		<div>
			综合保障评分：
			<span class="score blue" id="sum_score">{{sum_score}}</span>
			<span class="">分</span>
		</div>
		<div>
			预估保费：
			<span class="score red">{{estimate_money}}</span>
			<span class="red">元/年</span>
		</div>
	</div> -->

	<div class="fix_container select_btn" >
		<div class="left" style="width: 65%;height: 48px;">
	        <a class="left_btn left">
				总 
				<span class="score font_wei" id="sum_score">{{sum_score}}</span>
				<span >分</span>
			</a>
			<a class="right_center"></a>
			<a class="right_btn right">
				<span class="score font_wei">{{estimate_money}}</span>
				<span >元</span>
			</a>
	    </div>
		<a href="javascript:void(0)" class="btn btn_n_primary right btn_right" ng-click="goInfo()" style="width: 35%;">立即投保</a>
	</div>

</div>
<script>
 $("body").on("click",".bz_item",function(){
 	var content = $(this).attr("title");
 	if(content==""){
		content = $(this).attr("name");
 	}
 	_hmt.push(['_trackEvent', 'baozhangzeren', 'showBzItem']);
    $("#popup").find(".toast").html(content);
   	$("#popup").show();
 });
/*
$(".mask").click(function(){
	$(this).hide();
})*/
</script>