<link rel="stylesheet" href="css/bz_ts.css?rev=f448a36450c1f2f2df3eef5c9928c828">
<div class="promote_ctrl">
	<div class="head_ctrl">
		<div class="head_left">
			<div class="head_word"><span></span>建议分值 <span>8.0</span></div>
			<div class="head_state">
				优先保障家庭经济支柱<br>
				先保人后保物<br>
				将每项提升至推荐分数
			</div>
		</div>
		<div class="head_right" ng-click="goTarget()">一键提升</div>
	</div>
	<div class="promote_main">
		<div class="main_word" ng-click="goSelect(4)">
			<div class="logo_ctrl"><img class="left" style="width: 30px;vertical-align: middle;" src="img/promote/feiji.png"></div>
			<div class="main_l left">
				<div class="main_head">意外保障</div>
				<div class="change_word">造成的损失大，建议优先提升</div>
			</div>
		</div>
		<div class="main_word" ng-click="goSelect(3)">
			<div class="logo_ctrl"><img class="left" style="width: 30px;vertical-align: middle;" src="img/promote/zhong.png"></div>
			<div class="main_l left">
				<div class="main_head">人寿保障</div>
				<div class="change_word">保障身故损失，建议提升</div>
			</div>
		</div>
		<div class="main_word" ng-click="goSelect(2)">
			<div class="logo_ctrl"><img class="left" style="width: 30px;vertical-align: middle;" src="img/promote/yiliao.png"></div>
			<div class="main_l left">
				<div class="main_head">健康保障</div>
				<div class="change_word">先保重疾，再补充医疗报销</div>
			</div>
		</div>
		<div class="main_word" ng-click="goContinue()">
			<div class="logo_ctrl"><img class="left" style="width: 30px;vertical-align: middle;" src="img/promote/ren.png"></div>
			<div class="main_l left">
				<div class="main_head">家庭保障</div>
				<div class="change_word">先保收入支柱，再保老人小孩</div>
			</div>
		</div>
		<div class="main_word" ng-click="goContinue()">
			<div class="logo_ctrl"><img class="left" style="width: 30px;vertical-align: middle;" src="img/promote/money.png"></div>
			<div class="main_l left">
				<div class="main_head">财产保障</div>
				<div class="change_word">优先保障价值大的财产</div>
			</div>
		</div>
	</div>
</div>