<link rel="stylesheet" href="css/bz_ts.css?rev=34356a2ba646130f434f16b59b5e67f5">
<div class="promote_ctrl">
	<div class="head_ctrl">
		<div class="head_left">
			<div class="head_word"><span></span>提升建议</div>
			<div class="head_state">
				优先保障家庭经济支柱<br>
				先保人后保物<br>
				将每项提升至推荐分数
			</div>
		</div>
		<div class="head_center">
			<img src="img/bz_ts/jian.png">
			建议分值
		</div>
		<div class="head_right">
			<div class="score" style="width:1.16rem">8.0</div>
			<div style="display:none">一键提升</div>
		</div>
	</div>
	<div class="promote_main">
		<div class="left main_left">
			<div class="shuxian"></div>
			<div class="quan_img"><img src="img/bz_ts/fj.png"></div>
			<div class="shuxian"></div>
			<div class="quan_img" style="background: #54e5a3;"><img src="img/bz_ts/rs.png"></div>
			<div class="shuxian"></div>
			<div class="quan_img" style="background: #5ab7ff;"><img src="img/bz_ts/yl.png"></div>
			<div class="shuxian"></div>
			<div class="quan_img" style="background: #df85ef;"><img src="img/bz_ts/jt.png"></div>
			<div class="shuxian"></div>
			<div class="quan_img" style="background: #f1de92;"><img src="img/bz_ts/cx.png"></div>
		</div>
		<div class="left pro_main_ctrl">
			<div class="main_word" ng-click="goSelect(4)">
				<div class="main_l">
					<div class="main_head">意外保障</div>
					<div class="change_word">造成的损失大，建议优先提升</div>
				</div>
				<div class="main_r ts_btn">立即提升</div>
			</div>

			<div class="main_word" ng-click="goSelect(3)">
				<div class="main_l">
					<div class="main_head">人寿保障</div>
					<div class="change_word">保障身故损失，建议提升</div>
				</div>
				<div class="main_r ts_btn">立即提升</div>
			</div>
			<div class="main_word main2" ng-click="goSelect(2)">
				<div class="main_l">
					<div class="main_head">健康保障</div>
					<div class="change_word">先保重疾，再补充医疗报销</div>
				</div>
				<div class="main_r ts_btn">立即提升</div>
			</div>
			<div class="main_word main3" ng-click="goContinue()">
				<div class="main_l">
					<div class="main_head">家庭保障</div>
					<div class="change_word">先保收入支柱，再保老人小孩</div>
				</div>
				<div class="main_r ts_btn">立即提升</div>
			</div>
			<div class="main_word" ng-click="goContinue()">
				<div class="main_l">
					<div class="main_head">财产保障</div>
					<div class="change_word">优先保障价值大的财产</div>
				</div>
				<div class="main_r ts_btn">立即提升</div>
			</div>
			<!-- <div>
				<div class="left">人寿保障
					<p>造成意外损失大，建议优先提升</p>
				</div>
				<div class="right ts_btn">立即提升</div>
			</div>
			<div>健康保障</div>
			<div>家庭保障</div>
			<div>财产保障</div> -->
		</div>
	</div>
</div>

<!--<div class="promote_ctrl">
	<div class="head_ctrl">
		<div class="head_left">
			<div class="head_word"><span></span>建议分值 <span>8.0</span></div>
			<div class="head_state">
				优先保障家庭经济支柱<br>
				先保人后保物<br>
				将每项提升至推荐分数
			</div>
		</div>
		<div class="head_right" ng-click="goTarget()">一键提升</div>
	</div>
	<div class="promote_main">
		<div class="main_word" ng-click="goSelect(4)">
			<div class="logo_ctrl"><img class="left" style="width: 30px;vertical-align: middle;" src="img/promote/feiji.png"></div>
			<div class="main_l left">
				<div class="main_head">意外保障</div>
				<div class="change_word">造成的损失大，建议优先提升</div>
			</div>
		</div>
		<div class="main_word" ng-click="goSelect(3)">
			<div class="logo_ctrl"><img class="left" style="width: 30px;vertical-align: middle;" src="img/promote/zhong.png"></div>
			<div class="main_l left">
				<div class="main_head">人寿保障</div>
				<div class="change_word">保障身故损失，建议提升</div>
			</div>
		</div>
		<div class="main_word" ng-click="goSelect(2)">
			<div class="logo_ctrl"><img class="left" style="width: 30px;vertical-align: middle;" src="img/promote/yiliao.png"></div>
			<div class="main_l left">
				<div class="main_head">健康保障</div>
				<div class="change_word">先保重疾，再补充医疗报销</div>
			</div>
		</div>
		<div class="main_word" ng-click="goContinue()">
			<div class="logo_ctrl"><img class="left" style="width: 30px;vertical-align: middle;" src="img/promote/ren.png"></div>
			<div class="main_l left">
				<div class="main_head">家庭保障</div>
				<div class="change_word">先保收入支柱，再保老人小孩</div>
			</div>
		</div>
		<div class="main_word" ng-click="goContinue()">
			<div class="logo_ctrl"><img class="left" style="width: 30px;vertical-align: middle;" src="img/promote/money.png"></div>
			<div class="main_l left">
				<div class="main_head">财产保障</div>
				<div class="change_word">优先保障价值大的财产</div>
			</div>
		</div>
	</div>
</div>-->