<link rel="stylesheet" type="text/css" href="css/bz_ts.css">
<div class="promote_ctrl">
	<div class="head_ctrl">
		<div class="head_left">
			<div class="head_word"><span></span>提升建议</div>
			<div class="head_state">
				优先保障家庭经济支柱<br>
				先报人后保物<br>
				将每项提升至推荐分数
			</div>
		</div>
		<div class="head_center">
			<img src="img/bz_ts/jian.png">
			建议分值
		</div>
		<div class="head_right">
			<div class="score">8.9</div>
			<div>一键提升</div>
		</div>
	</div>
	<div class="promote_main">
		<div class="left main_left">
			<div class="shuxian"></div>
			<div class="quan_img"><img src="img/bz_ts/fj.png"></div>
			<div class="shuxian"></div>
			<div class="quan_img" style="background: #54e5a3;"><img src="img/bz_ts/rs.png"></div>
			<div class="shuxian"></div>
			<div class="quan_img" style="background: #5ab7ff;"><img src="img/bz_ts/yl.png"></div>
			<div class="shuxian"></div>
			<div class="quan_img" style="background: #df85ef;"><img src="img/bz_ts/jt.png"></div>
			<div class="shuxian"></div>
			<div class="quan_img" style="background: #f1de92;"><img src="img/bz_ts/cx.png"></div>

			<!-- <div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div> -->
		</div>
		<div class="left pro_main_ctrl">
			<div class="main_word" ng-click="goSelect(4)">
				<div class="left">
					<div class="main_head">意外保障</div>
					<div class="change_word">造成意外损失大，建议优先提升</div>
				</div>
				<div class="right ts_btn">立即提升</div>
			</div>

			<div class="main_word" ng-click="goSelect(3)">
				<div class="left">
					<div class="main_head">人寿保障</div>
					<div class="change_word">造成意外损失大，建议优先提升</div>
				</div>
				<div class="right ts_btn">立即提升</div>
			</div>
			<div class="main_word" ng-click="goSelect(2)">
				<div class="left">
					<div class="main_head">健康保障</div>
					<div class="change_word">造成意外损失大，建议优先提升</div>
				</div>
				<div class="right ts_btn">立即提升</div>
			</div>
			<div class="main_word" ng-click="goContinue()">
				<div class="left">
					<div class="main_head">家庭保障</div>
					<div class="change_word">造成意外损失大，建议优先提升</div>
				</div>
				<div class="right ts_btn">立即提升</div>
			</div>
			<div class="main_word" ng-click="goContinue()">
				<div class="left">
					<div class="main_head">财产保障</div>
					<div class="change_word">造成意外损失大，建议优先提升</div>
				</div>
				<div class="right ts_btn">立即提升</div>
			</div>
			<!-- <div>
				<div class="left">人寿保障
					<p>造成意外损失大，建议优先提升</p>
				</div>
				<div class="right ts_btn">立即提升</div>
			</div>
			<div>健康保障</div>
			<div>家庭保障</div>
			<div>财产保障</div> -->
		</div>
	</div>
</div>