<link rel="stylesheet" href="/css/child_dental.css?rev=5679f6261646e1f2fe9a3ebeb3b518ee">

<div class="child-dental-container">
    <!--  第一页-->
	<img src="/img/child_dental/index_banner.png">
	<div class="child-dental-container_introl">
		<div class="child-dental-container_introl--company">诺贝泰康少儿齿科保障计划</div>
		<div class="orange child-dental-container_introl--price">318元/年起</div>
	</div>
    <div class="child-dental-container_word">让宝宝享受专业的口腔检查、虫牙预防、龋齿治疗、咬合畸形检查，无需体检，无等待期，当日购买即可预约就诊。</div>
    <div class="kong"></div>
<!--     <div class="child-dental-container_setMeal"> 
        <div class="child-dental-container_setMeal--word"  ng-click="showMask()">选择套餐：套餐A 瑞泰/普尔-基础保健套餐</div>
        <div><i class="iconfont" style="color: #e2e2e2;font-size: 15px;">&#xe60f;</i></div>
    </div> -->
    <div class="kong"></div>
	<!--  第二页-->
    <div class="main-list">
    	<!-- table切换 -->
    	<div class="switch" id="switch">
    		<div class="switch-child border_3px">简 介</div>
    		<div class="switch-child">套 餐</div>
    		<div class="switch-child">合作医院</div>
    	</div>

    	<!-- 简介 -->
        <div class="main-list-profile" id="jianjie">
            <div class="main-list-profile_professor">专家提醒</div>
            <img src="/img/child_dental/profile/profile_1.png">
            <div class="main-list-profile_word main-list-profile_word--padd">乳牙不好，恒牙就长不好</div>
            <img src="/img/child_dental/profile/profile_2.png">
             <div class="main-list-profile_word">乳牙需要使用5~10年<br/>对宝宝健康影响重大</div>
            <img src="/img/child_dental/profile/profile_3.png">
            <div class="main-list-profile_word">牙疼影响宝宝的快乐<br/>牙齿难看影响宝宝的自信</div>
            <div class="main-list-profile_problem">
                <div class="main-list-profile_problem_paddBottom">针对三大问题</div>
                <img src="/img/child_dental/profile/profile_4.png">
            </div>
             <div class="main-list_intro" >
                <img src="/img/child_dental/1.png?v=1">
                <img src="/img/child_dental/1-1.png?v=1">
                <img src="/img/child_dental/2.png?v=1">
                <img src="/img/child_dental/2-1.png?v=1">
                <img src="/img/child_dental/3.png?v=1">
                <img src="/img/child_dental/3-1.png?v=1">
                <img src="/img/child_dental/4.png?v=1">
                <img src="/img/child_dental/4-1.png?v=1">
            </div>  
            <img src="/img/child_dental/yuyue.png">
            <img class="border_bottom" src="/img/child_dental/yuyue_word.png">
        </div>
       
    	<!-- 套餐 -->
    	<div class="main-list_intro" id="taocan" style="display: none;">
            <img src="/img/child_dental/package/package_1.png?v=1">
            <img src="/img/child_dental/package/package_11.png?v=1">
            <img src="/img/child_dental/package/package_2.png?v=1">
            <img src="/img/child_dental/package/package_22.png?v=1">
            <img src="/img/child_dental/package/package_3.png?v=1">
            <img src="/img/child_dental/package/package_33.png?v=1">
             <img src="/img/child_dental/package/package_4.png?v=1">
            <img src="/img/child_dental/package/package_44.png?v=1">
        </div><!-- <div class="kong"></div> -->
        

    	<!-- 合作医院 -->
        <div class="main-list_hospital" id="yiyuan" style="display: none;">
            <div class="main-list_hospital_box">
                <div class="main-list_hospital_box_tit"><span class="num_blue">3</span>家知名口腔医院 <span class="num_blue">24</span>家分院</div>
                <!-- 医院logo and detail -->
                <div class="main-list_hospital_list">
                    <img src="/img/child_dental/hospital/hos_logo_1.png">
                    <div>
                        <div class="hospital_name">瑞泰口腔</div>
                        <div class="hospital_name_detail">瑞尔齿科旗下中端品牌，曾经获得"最佳医疗服务连锁机构奖"，"最受百姓信赖的健康品牌”。</div>
                    </div>
                </div>
                <div class="shop_detail"><div class="shop">北京<span>7</span>家门店</div><div ng-click="showToast(1)">点击查看</div></div>
                 <div class="main-list_hospital_list">
                    <img src="/img/child_dental/hospital/hos_logo_2.png">
                    <div>
                        <div class="hospital_name">拜博口腔</div>
                        <div class="hospital_name_detail">成立于1993年， 联想控股成员企业，中国口腔医疗服务市场消费者满意首选品牌、中国口腔医疗连锁行业十大具有影响力品牌。</div>
                    </div>
                </div>
                <div class="shop_detail"><div class="shop">北京14家门店 &nbsp;&nbsp;广州1家门店</div><div ng-click="showToast(2)">点击查看</div></div>
                 <div class="main-list_hospital_list">
                    <img src="/img/child_dental/hospital/hos_logo_3.png">
                    <div>
                        <div class="hospital_name">普尔口腔</div>
                        <div class="hospital_name_detail">成立于2002年的高档齿科医院。温馨舒适的诊疗环境，具有资深水准的医疗团队，严格的消毒隔离流程，完善的管理体系。</div>
                    </div>
                </div>
                <div class="shop_detail"><div class="shop">北京1家门店 &nbsp;&nbsp;上海1家门店</div><div ng-click="showToast(3)">点击查看</div></div>
            </div>
            <div class="main-list_hospital_doctor">
                <div class="main-list_hospital_doctor_tit">权威的儿童口腔医生</div>
                <div class="main-list_hospital_doctor_pic">
                    <div class="docter_detail">
                        <div class="docter_pic"><img src="/img/child_dental/docter/docter_1.png"></div>
                        <div class="docter_name">葛立宏教授</div>
                        <div class="docter_detail-word">瑞泰口腔北京总院</div>
                        <div>北大口腔儿科主任医师</div>
                    </div>
                    <div class="docter_detail">
                        <div class="docter_pic"><img src="/img/child_dental/docter/docter_2.png"></div>
                        <div class="docter_name">李丹副主任</div>
                        <div class="docter_detail-word">拜博口腔北京总院</div>
                        <div>儿童口腔专家</div>
                    </div>
                    <div class="docter_detail docter_detail--last">
                        <div class="docter_pic"><img src="/img/child_dental/docter/docter_3.png"></div>
                        <div class="docter_name">陈育松医生</div>
                        <div class="docter_detail-word">拜博口腔广州分院</div>
                        <div>口腔正畸专家</div>
                    </div>
                </div>
            </div>
            <div class="kong"></div>
            <!-- 合作医院环境 -->
            <img src="/img/child_dental/huanjing/huanjing_1.png">
            <img src="/img/child_dental/huanjing/huanjing_2.png">
            <div class="kong"></div>
        </div>
	</div>
	<footer>
		<div class="footer-first" ng-click="home()"><i class="iconfont" style="font-size: 20px;color: #999;">&#xe61c;</i></div>
		<div class="footer-about-nuobei" ng-click="showQrcode()">关注诺贝</div>
		<div class="footer-about-mai" ng-click="showMask()">立即购买</div>
	</footer>

    <div  class="mask" id="dental_mask_container"  style="display:none;z-index:2000000">
        <div class="head-container">
            <img src="img/mask_close.jpg" style="width:20px;height:20px;float:right;margin-top: 5px;margin-right: 5px;" ng-click="close()" />
            <div class="taocan">
                <div class="title">请选择购买的套餐</div>
                <div class="ybwx-btn ybwx-btn--primary"   ng-click="choose($event,577)">A:瑞泰/普尔-乳牙保健套餐 318元/年</div>         
                <div class="ybwx-btn ybwx-btn--white" style="margin-top:10px;" ng-click="choose($event,578)">B:拜博-儿童虫牙预防套餐 498元/年</div>         
                <div class="ybwx-btn ybwx-btn--white" style="margin-top:10px;" ng-click="choose($event,579)">C:瑞泰/普尔-虫牙治疗套餐 1138元/年</div>         
                <div class="ybwx-btn ybwx-btn--white" style="margin-top:10px;" ng-click="choose($event,580)">D:拜博-咬合畸形检查套餐 418元/年</div>   
        
                <div class="mask_des" >   A、C套餐支持北京和上海使用 </div>
                <div class="" >   B、D套餐支持北京和广州使用 </div>
            </div>
            <div class="submit-wrapper">
             <div class="ybwx-btn ybwx-btn--primary" ng-click="submit()">确定</div>   
             </div>
        </div>
        
    </div>
</div>
<!-- 点击查看 -->
<!-- 瑞泰 -->
<div class="child-dental-container_mask" id="toast_1" >
    <div class="child-dental-container_toast"> 
        <div class="toast-tit">瑞泰口腔医院各分院地址</div>
        <div class="toast-main">
            <div class="toast-main_tit">1、瑞泰口腔医院总院</div>
            <div class="toast-main_word">北京市朝阳区北苑路媒体村天居园一号楼</div>
            <div class="toast-main_tit">2、瑞泰口腔医院亦庄分院</div>
            <div class="toast-main_word">北京亦庄经济技术开发区文化园东路沃尔玛广场山姆会员商店入口旁</div>
            <div class="toast-main_tit">3、瑞泰口腔医院上地分院</div>
            <div class="toast-main_word">北京市海淀区上地十街辉煌国际1号院6号楼2层206</div>
            <div class="toast-main_tit">4、瑞泰口腔医院望京分院</div>
            <div class="toast-main_word">北京市朝阳区广顺北大街望京六佰本北区三层B03</div>
            <div class="toast-main_tit">5、瑞泰口腔医院双井分院</div>
            <div class="toast-main_word">北京市朝阳区广渠路金茂街7号楼一层7-7地铁大郊亭站A口</div>
            <div class="toast-main_tit">6、瑞泰口腔医院海淀万柳分院</div>
            <div class="toast-main_word">北京市海淀区万柳中路15号303</div>
            <div class="toast-main_tit">7、瑞泰口腔医院亦庄经开分院</div>
            <div class="toast-main_word">北京经济技术开发区地盛北街1号院40号楼</div>
        </div>
    </div>
</div>
<!-- 普洱 -->
<div class="child-dental-container_mask" id="toast_2">
    <div class="child-dental-container_toast"> 
        <div class="toast-tit">北京拜博口腔各分院地址</div>
        <div class="toast-main">
            <div class="toast-main_tit">1、北京拜博拜尔口腔医院（总部）</div>
            <div class="toast-main_word">北京市东城区祈年大街兴隆国际18号院4号楼</div>
            <div class="toast-main_tit">2、北京拜博拜尔口腔医院樱花门诊部</div>
            <div class="toast-main_word">北京市朝阳区樱花园东街1号</div>
            <div class="toast-main_tit">3、北京拜博拜尔口腔医院劲松门诊部</div>
            <div class="toast-main_word">朝阳区劲松农光里21号楼南三号楼</div>
            <div class="toast-main_tit">4、北京拜博拜尔口腔医院知春路门诊部</div>
            <div class="toast-main_word">北京市海淀区白塔庵汉荣家园一号楼一层</div>
            <div class="toast-main_tit">5、北京拜博拜尔口腔医院东城门诊部</div>
            <div class="toast-main_word">北京市东城区海运仓一号瀚海海运仓大厦一层159号</div>
            <div class="toast-main_tit">6、北京拜博拜尔口腔医院青年路门诊部</div>
            <div class="toast-main_word">朝阳区朝阳北路青年汇112号楼底商1-126/127室</div>
            <div class="toast-main_tit">7、北京拜博拜尔口腔医院阜通门诊</div>
            <div class="toast-main_word">北京朝阳区阜通东大街望京园605号楼1层。</div>
            <div class="toast-main_tit">8、北京拜博拜尔口腔医院望京西门诊部</div>
            <div class="toast-main_word">北京市朝阳区湖光中街南湖西园216号楼底商2层</div>
            <div class="toast-main_tit">9、北京拜博拜尔口腔医院金融街门诊部</div>
            <div class="toast-main_word">北京市西城区金融街广成街4号金宸国际公寓2号楼2单元303室。</div>
            <div class="toast-main_tit">10、北京拜博拜尔口腔医院姚家园门诊部</div>
            <div class="toast-main_word">北京市朝阳区东三环北路30号紫荆豪庭A座底商</div>
            <div class="toast-main_tit">11、北京拜博拜尔口腔医院金台路门诊部</div>
            <div class="toast-main_word">北京市朝阳区金台里10号3层综合楼</div>
            <div class="toast-main_tit">12、大都会门诊（试营业））</div>
            <div class="toast-main_word">北京市朝阳区东三环中路甲10号2层201室</div>
            <div class="toast-main_tit">13、北京拜博拜尔口腔医院观巢门诊部（待开业）</div>
            <div class="toast-main_word">北京市朝阳区慧忠里122号1层104、2层202、三层301局部 </div>
            <div class="toast-main_tit">14、北京拜博拜尔口腔医院融科门诊部（待开业）</div>
            <div class="toast-main_word" style="margin-bottom: 10px;">北京市海淀区中关村科学院南路2号融科资讯中心B座二层</div>
        </div>
        <div class="toast-tit">广州拜博口腔医院地址</div>
        <div class="toast-main">
            <div class="toast-main_tit">1、广州拜博口腔医院惠尔分院</div>
            <div class="toast-main_word">广州市海珠区新港东路2-4号</div>
        </div>
    </div>
</div>
<!-- 拜博 -->
<div class="child-dental-container_mask" id="toast_3" >
    <div class="child-dental-container_toast"> 
        <div class="toast-tit">普尔口腔各分院地址</div>
        <div class="toast-main">
            <div class="toast-main_tit">1、普尔口腔北京</div>
            <div class="toast-main_word">北京市朝阳区建国路88号SOHO现代城A座0324室</div>
            <div class="toast-main_tit">2、普尔口腔上海</div>
            <div class="toast-main_word">上海市黄浦区淮海中路381号中环广场1305室</div>
        </div>
    </div>
</div>