<link rel="stylesheet" href="css/child_dental.css?rev=a9804facf9b508f84110afc8a68d7d20">

<div class="child-dental-container">
	<img src="img/child_dental/banner.png">
	<div class="child-dental-container_introl">
		<div class="child-dental-container_introl--company">诺贝泰康少儿齿科保障计划</div>
		<div class="orange child-dental-container_introl--price">318元/年起</div>

	</div>
	<!--  第二页-->
    <div class="main-list">
    	<!-- table切换 -->
    	<ul class="switch" id="switch">
    		<li class="border_3px">简 介</li>
    		<li>套 餐</li>
    		<li>合作医院</li>
    	</ul>
    	<!-- 简介 -->
    	<!-- 套餐 -->
    	<div class="main-list_intro">
    		<img src="img/child_dental/1.png">
    		<img src="img/child_dental/1-1.png">
    		<img src="img/child_dental/2.png">
    		<img src="img/child_dental/2-1.png">
    		<img src="img/child_dental/3.png">
    		<img src="img/child_dental/3-1.png">
    	</div>
    	<img src="img/child_dental/yuyue.png" alt="">
    	<img class="border_bottom" src="img/child_dental/yuyue_word.png" alt="">
    	<!-- 合作医院 -->

	</div>
	<footer>
		<div class="footer-first"><i class="iconfont" style="font-size: 20px;color: #999;">&#xe61c;</i></div>
		<div class="footer-about-nuobei">关于诺贝</div>
		<div class="footer-about-mai">立即购买</div>
	</footer>
</div>
<script>
	$("#switch li").click(function(){
		$("#switch").find("li").removeClass("border_3px");
		$(this).addClass("border_3px");
		// $("#switch").find("li").addClass("blue");
	});
</script>