<link rel="stylesheet" href="css/recognizee_compile.css?rev=c1ea042a22fb350336f9a283aa4fc3ba">
<div class="recognizee_compile_ctrl" data-ng-init="init()"  cg-busy="secondPromise">
	<div class="head_ctrl">
		<div class="head" ng-click="addPeople()"><img src="wx_share/img/rc/jiahao.png" >  新增被保险人</div>
	</div>
	<div class="bor"></div>
	<div class="main" ng-repeat="item in data" ng-click="choose($event,item)">
		<div class="main_head">
			<div class="head_left">{{item.username}}</div>
			<div class="head_right">{{getRelation(item.relation)}} <!--<span class="moren" ng-if="item.is_default==true">默认</span> --></div>
			<div class="head_bottom" ng-click="editUserInfo(item.id)" ng-show="item.relation!=1"><img src="img/pianji.png" ></div>
		</div>
		<div class="status">身份证号：<div style="display: inline-block">{{item.social_id}}</div></div>
		<div class="phone">手机号码：<div style="display: inline-block">{{item.mobile}}</div><span class="right" ng-if="item.is_current===true"> <img src="img/gou.png"></span></div>
	</div>

	<div class="head_ctrl">
		<div class="head" ng-click="return()">  返回</div>
	</div>
</div>