

<div class="contact_ctrl">
	<div class ="contact_head">
		<img src="img/contact/logo.png">
		<div class="paddTop_20">保险咨询 保险理赔<br>建议投诉 商务合作</div>
	</div>
	<div class="contact_main">
	   <a href="tel:400-992-0205" class="blue"><div class='left black' tel="4000992-0205"><img src="img/contact/kefu.png">客服热线</div>
	   <div class="right">400-992-0205</div></a>
	</div>
	<div class="contact_main">
	   <div class='left'><img src="img/contact/youjian.png">电子邮件</div>
	   <div class="right gory">kf@nuobei.cn</div>
	</div>
	<div class="contact_main bottom_bor">
	   <div class='left'><img src="img/contact/hezuo.png">商务合作</div>
	   <div class="right gory">bd@nuobei.cn</div>
	</div>
</div>