
<link rel="stylesheet" href="css/docter_detail.css">

<link rel="stylesheet" href="css/dental_docter.css?rev=377d74238a97abee519db4c189a0db2b">

<div class="docter-detail">
	<div class="dental-docter_header">
		<div class="dental-docter_header_list">
			<div class="dental-docter_header_list_steps">
				<div class=" flex1"></div>
				<img src="img/child_dental/yi.jpg">
				<div class="padd_18 flex1"></div>
			</div>
			<div class="dental-docter_header_list-word">选择诊所</div>
		</div>
		<div class="dental-docter_header_list">
			<div class="dental-docter_header_list_steps">
				<div class="padd_18 flex1 color_ccc"></div>
				<img src="img/child_dental/er.jpg">
				<div class="padd_18 flex1 color_ccc"></div>
			</div>
			<div class="dental-docter_header_list-word">电话确认</div>
		</div>
		<div class="dental-docter_header_list">
			<div class="dental-docter_header_list_steps">
				<div class="padd_18 flex1 color_ccc"></div>
				<img src="img/child_dental/san.jpg">
				<div class="flex1"></div>
			</div>
			<div class="dental-docter_header_list-word">按时就诊</div>
		</div>
	</div>
	<div class="docter-detail-main">
		<div class="docter-detail-main_docter">
			<img src="img/child_dental/docter_pic.jpg">
			<div class="docter-detail-main_docter_name">刘文婷</div>
			<div class="docter-detail-main_docter_detail"><span>瑞泰口腔医院</span><span>儿童口腔专科医院</span></div>
		</div>
		<div class="docter-detail-main_docter_intro">
			<div class="docter-detail-main_docter_intro_detail">
				<div class="docter-detail-main_docter_intro_detail_tit"><span></span>学历资源</div>
				<div class="docter-detail-main_docter_intro_detail_word">山东大学口腔医学院硕士。师从儿童口腔与预防专家山东大学口腔医院姜广水教授。</div>
			</div>
			<div class="docter-detail-main_docter_intro_detail">
				<div class="docter-detail-main_docter_intro_detail_tit"><span></span>学历资源</div>
				<div class="docter-detail-main_docter_intro_detail_word">山东大学口腔医学院硕士。师从儿童口腔与预防专家山东大学口腔医院姜广水教授。</div>
			</div>
		</div>
	</div>
	<div class="kong"></div>
	<div class="bottom_ctrl">
		<div class="finish">立即购买</div>
	</div>
</div>

