<style>
.ed-index-container{
	margin-bottom: 1rem;
}
.ed-index-container h4{
	margin:0.3rem 0 0.1rem 0;
	color: #247ad1;
	font-size: 0.17rem;
}
.ed-index-container p{
	font-size:0.16rem;
	margin:0;
}
.ed-index-container>img{
	margin-top:0.4rem;
	width:100%;
	max-height: 6rem;	
}
.hp_img{
	width:22px;
	vertical-align:top; 
}
</style>

<div class="wrapper" data-ng-init="init()" >
	<div class="ed-index-container">
	
		<a href="http://mp.weixin.qq.com/s?__biz=MzI0NDE2Mjk2OA==&mid=507249567&idx=1&sn=3b2f4a588e4791a126275f01bd40c1d7#rd"><h4>保险是什么&nbsp;&nbsp;<img src="/wx_share/img/help.jpg" class="hp_img"></h4></a>
		<p>保险是规避风险的工具</p>
		<p>保险的意义在于让生活不因风险而改变</p>
			
		<a href="http://mp.weixin.qq.com/s?__biz=MzI0NDE2Mjk2OA==&mid=507249572&idx=1&sn=a345312b13c11f15960783ff64990cb4#rd"><h4>保险怎么保&nbsp;&nbsp;<img src="/wx_share/img/help.jpg" class="hp_img"></h4></a>
		<p>保障范围：优先保障不能承受的，会给生活带来较大改变的风险</p>
		<p>保障金额：你想得到的赔偿，一般为年收入+负债的2-10倍</p>
		<p>保&emsp;&emsp;费：一般为家庭年收入的2-10%</p>
		<img src="/img/ed_index.png">
	</div>	

	
</div>

	<div class=" fix_container ">
 	 <a href="#/index" class="btn btn_n_primary"  >提升保障</a>
	</div>