<div data-ng-init="init()"  style="margin-bottom: 80px;">
	
	<div class="ed-container"  ng-if="type=='2'">
		<h4>重大疾病发生率</h4>
		<img ng-src="img/ed_cancer.png">
		<img ng-src="img/ed_cancer_chart.png">
		<h4>保障额度</h4>
		<img ng-src="img/ed_cancer_money.png">
	</div>
	<div class="ed-container"  ng-if="type=='3'">
		<h4>经验生命表</h4>
		<img ng-src="img/eduction_income.png">
		<h4>保障额度</h4>
		<img ng-src="img/ed_ed.jpg">
	</div>
	<div class="ed-container accident"  ng-if="type=='4'">
		<div class="headline"><img src="img/white_dun.png">常见意外发生及死亡率</div>
		<div class="die_img_ctrl"><img src="img/yw_rh_1.png" ></div>
		<div class="h_10"></div>
	    <div class="headline"><img src="img/white_dun.png">意外导致后果概率</div>
	    <div class="die_img_ctrl"><img src="img/yw_rh_2.png" ></div>
	    <div class="h_10"></div>
		<div class="headline"><img src="img/white_dun.png">保障额度</div>
		<p>建议为年收入加负债的<span>2-10倍</span></p>
	</div>
</div>

<div class="fix_container" ng-show="type==2">
	<a href="javascript:void(0)" class="btn btn_n_primary"  ng-click="goDingzhi()" id="submitButton" style="">提升健康保障</a>
</div>
<div class="fix_container" ng-show="type==3">
	<a href="javascript:void(0)" class="btn btn_n_primary"  ng-click="goDingzhi()" id="submitButton" style="">提升人寿保障</a>
</div>
<div class="fix_container" ng-show="type==4">
	<a href="javascript:void(0)" class="btn btn_n_primary"  ng-click="goDingzhi()" id="submitButton" style="">提升意外保障</a>
</div>
