<link rel="stylesheet" href="css/preference.css?rev=8e3517ace603e60b6bfbdd609d4807d5">
<div class="hobby">
	<div class="piont">保障偏好</div>
	<label class="switch">
		<input class="switch-input" type="checkbox" />
		<span class="switch-label" data-on="重点" data-off="全面"></span> 
		<span class="switch-handle"></span> 
	</label>
	<div class="select">性价比高 重点保障损失较大的风险</div>
	<div class="trouble">您还担心的问题</div>
	<div class="select">可多选 或不选</div>
	<div class="relation" id="relation">
		<div class="btn_ctrl">
			<div class="hobby_btn" touch-action="none">
				<img src="img/promote/gou.png" style="width: 20px;veritical-align: 20px;position: absolute; left: -30px;top: 25%;">交通意外
			</div>
		</div>
		<div class="btn_ctrl">
			<div class="hobby_btn" touch-action="none">
				<img src="img/promote/gou.png" style="width: 20px;veritical-align: 20px;position: absolute; left: -30px;top: 25%;">患上大病花费高
			</div>
		</div>
		<div class="btn_ctrl">
			<div class="hobby_btn" touch-action="none">
				<img src="img/promote/gou.png" style="width: 20px;veritical-align: 20px;position: absolute; left: -30px;top: 25%;">看病报销
			</div>
		</div>
		<div class="btn_ctrl">
			<div class="hobby_btn" touch-action="none">
				<img src="img/promote/gou.png" style="width: 20px;veritical-align: 20px;position: absolute; left: -30px;top: 25%;">国外看病
			</div>
		</div>
		<div class="btn_ctrl">
			<div class="hobby_btn" touch-action="none">
				<img src="img/promote/gou.png" style="width: 20px;veritical-align: 20px;position: absolute; left: -30px;top: 25%;">家庭失去经济来源
			</div>
		</div>
	</div>
	<div class="target_btn">生成方案</div>
</div>
<!-- <script src="js/fastclick.js"></script> -->
<script type="text/javascript">
	/*$("#relation .btn").click(function() {
			$(this).toggle("blue");
			if ($(this).attr("class")=="btn"){
				$(this).attr("class","blue");
			}else{
				$(this).attr("class","btn");
			}
			
		});*/
$(function(){
	 $("#relation .hobby_btn").click(function(){
        $(this).toggleClass("blue");
 		$(this).find("img").toggle();
	 })
});

</script>
