
<link rel="stylesheet" href="css/preference.css?rev=d41d8cd98f00b204e9800998ecf8427e">
<div class="hobby">
	<div class="piont">保障偏好</div>
	<label class="switch needsclick">
		<input class="switch-input piont_type needsclick" type="checkbox" />
		<span class="switch-label needsclick" data-on="基础" data-off="高端"></span> 
		<span class="switch-handle needsclick"></span> 
	</label>
	<div class="select">性价比高 重点保障损失较大的风险</div>
	<div class="trouble">您还担心的问题</div>
	<div class="select">可多选 或不选</div>
	<div class="relation" id="relation"  data-ng-init="init()"   cg-busy="hobbyPromise" >
		<!-- data-ng-init="init()" -->
		<div class="btn_ctrl" ng-repeat="item in data" >
			<div class="hobby_btn" data-main="{{item.id}}" ng-click="setId($event)">
				<img src="img/promote/gou.png" >{{item.name}}
			</div>
		</div>
	</div>
	<div class="target_btn" ng-click="goScheme()">生成方案</div>
</div>
<script type="text/javascript">
	/*$("#relation .btn").click(function() {
			$(this).toggle("blue");
			if ($(this).attr("class")=="btn"){
				$(this).attr("class","blue");
			}else{
				$(this).attr("class","btn");
			}
			
		});
$(function(){
	 // $("#relation .hobby_btn").bind("touchstart",function(e){
	 $("#relation .btn_ctrl .hobby_btn").click(function(){
        $(this).toggleClass("blue");
 		$(this).find("img").toggle();
 		// e.preventDefault();
	 })
});*/
</script>