<link rel="stylesheet" href="css/preference.css">
<div class="hobby">
	<div>根据您的保障偏好</div>
	<div>我们将进一步优化方案</div>
	<div class="relation" id="relation">
		<img src="img/promote/gou.png"><div class="btn_ctrl"> <div class="btn">交通意外</div></div>
		<div class="btn_ctrl"><div class="btn">患上大病花费高</div></div>
		<div class="btn_ctrl"><div class="btn">看病报销</div></div>
		<div class="btn_ctrl"><div class="btn">国外看病</div></div>
		<div class="btn_ctrl"><div class="btn">家庭失去经济来源</div></div>
	</div>
	<div class="point">可多选 或跳过</div>
	<div class="target_btn">下一步</div>
</div>
<script>
	// $("#relation .btn").click(function() {
	// 		$(this).toggle("blue");
	// 		if ($(this).attr("class")=="btn"){
	// 			$(this).attr("class","blue");
	// 		}else{
	// 			$(this).attr("class","btn");
	// 		}
			
	// 	});
$("#relation .btn").click(function(event){
    $(this).toggleClass("blue");
})

</script>
