
<style>
.wrapper{
  padding:0 10px;
}
body{
  background-color: #f5f5f5;
}
.text_container {
  margin-bottom: 80px;
}
.text_container p {
  text-align: center;
  line-height: 10px;
}
.text_container .subtitle {
 font-size:0.16rem;color:#999;
}

.text_container .tip {
 font-size:0.2rem;
 color:#ffb594;
}

.text_container .bd_yz {
 margin-top: 0.5rem;
 font-size:0.17rem;
 color:#588dd4;
}

.pay_container{
  overflow: hidden;position: fixed;bottom:0;width:100%;
  border-top: 1px solid #e2e2e2;
}
.pay_container .left{
  color:#1e4e8e;
  background-color:#f0f0f0 ;margin-right:50%;width:auto;border-radius: 0;
}
.left:active{
  background-color:#e0e0e0;
}
.pay_container .right{
  background-color: #1e4e8e;
  float:right;
  width:50%;
  border-radius: 0;
}
.pay_container img{
  width:0.19rem;
  vertical-align: middle;
  margin-top: -0.045rem
}
#loadingContainer{
  height:350px;
  background: #fff url(img/loading.gif) no-repeat center/50px;
}
#pieChartContainer{
  padding-top: 0.1rem;
}
</style>
<div id="wrapper" class="wrapper"  data-ng-init="init()">

  <div id="pieChartContainer">
    

    <div id="loadingContainer" >

    </div>
  </div>
  <div class="text_container"  >
    <p class="subtitle" >您的综合评分</p>
    <p class="tip" >低于平均水平</p>
    <p class="bd_yz" style="display:none;" >保单验真 > </p>

  </div>

  <!--
  <div class="cell " style="padding:0 0.25rem;">
    <a href="javascript:void(0)"  ng-click="showTip()" class="btn btn_n_primary" >评分解析</a>
  </div>
  -->

</div>
<!--
<div class="cell pay_container">
  <a href="javascript:void(0)" class="btn btn_n_primary " style="background-color: #1e4e8e;border-radius: 0;" ng-click="showTip()" ><img src="img/tsbz.png"> 提升保障</a>

</div>
-->

<div class="cell pay_container">
  <a href="javascript:void(0)" class="btn btn_n_primary right" ng-click="showTip()" ><img src="img/tsbz.png"> 提升保障</a>

  <a href="javascript:void(0)" class="btn btn_n_primary left " ng-click="goBdMange()"><img src="img/bdgl.png"> 保单管理</a>
</div>
 <div class="mask" id="share">
     <div id="tip_text" style="margin:0 auto;position: relative;">

       <img  src="img/tishi.png" style="width:2rem;position:absolute;left:-1.25rem;top:0.02rem;">
      <!--
     <img class="pic" src="img/tip_pic.png" style="position:absolute;left:-0.45rem;top:0.05rem;">
     <img class="word" src="img/tip_word.png?v=1" style="position:absolute;left:0.3rem;top:0.60rem;">
     <img class="tip" src="img/tip_text.png" style="position:absolute;left:0.2rem;top:1.2rem;z-index:100;">
     -->
   </div>
  </div>
<!-- /wrapper -->


<script>

   
/*
 $("#menu").on("click","a",function(e){
    e.preventDefault;
    slideLeft.close();
 });
  var slideLeft = new Menu({
    wrapper: '#wrapper',
    type: 'slide-left',
    menuOpenerClass: '.c-button',
    maskId: '#c-mask'
  });
 $("#wrapper").on("click","#c-button--slide-left",function(e){
   console.log("click");
    e.preventDefault;
    slideLeft.open();
 });
  var slideLeftBtn = document.querySelector('#c-button--slide-left');
  slideLeftBtn.addEventListener('click', function(e) {
    e.preventDefault;
    slideLeft.open();
  });*/

  </script>