<link rel="stylesheet" href="wx_bx_gl/css/swiper.min.css">

<style>
.wrapper{
  padding:0 10px;
}
body{
  background-color: #f5f5f5;
}
.text_container {
  /*margin-bottom: 80px;*/
}
.text_container p {
  text-align: center;
  line-height: 0.07rem;
}
.text_container .subtitle {
 font-size:0.16rem;color:#999;
}

.text_container .tip {
 font-size:0.2rem;
 color:#ffb594;
}

.text_container .bd_yz {
 margin-top: 0.7rem;
 font-size:0.17rem;
 color:#588dd4;
}
.fix_container img{
  width:14px;
  vertical-align: -1.5px;
}
/*礼物弹窗*/
.swiper-container {
  /*display: none;*/
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999999999;
}
.opacity_ctrl {
  position: fixed;
  left: 0;
  top: 0;
  background: #000;
  opacity: .4;
  width: 100%;
  height: 100%;
  z-index: 999999;
}
.off {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  z-index: 9999999999999999;
}
.off img {
  width: 100%;
  height: 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-wrapper {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 30% auto;
  z-index: 99999999;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 3.35rem;
  /*width: 60%;*/
  height: 60%;
  height: 0;
  border-radius: 10px;
}
.swiper-slide img {
  /*width: 3.34rem;*/
  width: 3.35rem;
}
/*
.fix_container .left{
  color:#1e4e8e;
  background-color:#1e4e8e ;margin-right:50%;width:auto;border-radius: 0;
  color: #fff;
  border-right: 1px solid #13325c;
}
.select_btn {
  height: 48px;
  box-sizing: border-box;
}
.left:active{
  background-color:#e0e0e0;
}
.fix_container .right{
  background-color: #1e4e8e;
  float:right;
  width:50%;
  border-radius: 0;
}
.fix_container img{
  width:14px;
  vertical-align: -1.5px;
}
*/
#loadingContainer{
  height:350px;
  background: #fff url(img/loading.gif) no-repeat center/50px;
}
#pieChartContainer{
  padding-top: 0.1rem;
}
</style>
<div id="wrapper" class="wrapper"  data-ng-init="init()">
  <div id="pieChartContainer">
    <div id="loadingContainer" >
    </div>
  </div>
  <div class="text_container"  >
    <p class="subtitle" >您的综合评分</p>
    <p class="tip" >低于平均水平</p>
    <p class="bd_yz" ng-click="goVerfiy()">保单验真 > </p>
  </div>

  <!--
  <div class="cell " style="padding:0 0.25rem;">
    <a href="javascript:void(0)"  ng-click="showTip()" class="btn btn_n_primary" >评分解析</a>
  </div>
  -->

</div>
<!--
<div class="cell pay_container">
  <a href="javascript:void(0)" class="btn btn_n_primary " style="background-color: #1e4e8e;border-radius: 0;" ng-click="showTip()" ><img src="img/tsbz.png"> 提升保障</a>

</div>
-->
<div class="fix_container select_btn ng-scope">
    <div class="cell_hd cell_primary" style="border-right:1px solid #13325c;">
      <a href="javascript:void(0)" class="btn btn_n_primary left " ng-click="goBdMange()"><img src="img/bdgl.png">&nbsp;保障管理</a>
    </div>
    <div class="cell_hd cell_primary">
     <a href="javascript:void(0)" class="btn btn_n_primary right" ng-click="showTip()" ><img src="img/tsbz.png">&nbsp;提升保障</a>
    </div>
    
</div>

 <div class="mask" id="share">
     <div id="tip_text" style="margin:0 auto;position: relative;">
       <img  src="img/tishi.png" style="width:2rem;position:absolute;left:-1.25rem;top:0.02rem;">
      <!--
     <img class="pic" src="img/tip_pic.png" style="position:absolute;left:-0.45rem;top:0.05rem;">
     <img class="word" src="img/tip_word.png?v=1" style="position:absolute;left:0.3rem;top:0.60rem;">
     <img class="tip" src="img/tip_text.png" style="position:absolute;left:0.2rem;top:1.2rem;z-index:100;">
     -->
   </div>
  </div>
<!-- 礼物弹窗 -->
<div class="swiper-container" id ="share_ctrl">
  <div class="off" ng-click="shareHide()"><img src="img/index_img/X.png" srcset="img/index_img/xx.png 568w, img/index_img/X.png 667w, img/index_img/X.png 736w"></div>
  <div class="opacity_ctrl"></div>
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="width: 260px;" ><img ng-click="goSports()" src="img/index_img/jixian_big.png" srcset="img/index_img/jixian_small.png 568w, img/index_img/jixian_big.png 667w, img/index_img/jixian_big.png 736w"></div>
    <div class="swiper-slide" style="width: 260px;" ><img ng-click="goIndexShare()" src="img/index_img/five_big.png" srcset="img/index_img/five_small.png 568w, img/index_img/five_big.png 667w, img/index_img/five_big.png 736w"></div>
  </div>
</div>
<script src="wx_bx_gl/js/swiper.min.js"></script>
<!-- /wrapper -->

<script>
/*
 $("#menu").on("click","a",function(e){
    e.preventDefault;
    slideLeft.close();
 });
  var slideLeft = new Menu({
    wrapper: '#wrapper',
    type: 'slide-left',
    menuOpenerClass: '.c-button',
    maskId: '#c-mask'
  });
 $("#wrapper").on("click","#c-button--slide-left",function(e){
   console.log("click");
    e.preventDefault;
    slideLeft.open();
 });
  var slideLeftBtn = document.querySelector('#c-button--slide-left');
  slideLeftBtn.addEventListener('click', function(e) {
    e.preventDefault;
    slideLeft.open();
  });*/
/*Swiper Js*/
  var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      slidesPerView: 1.2,
      centeredSlides: true,
      paginationClickable: true,
      spaceBetween: 12
  });
</script>