<div id="wrapper" class="wrapper"  data-ng-init="init()">
<div class="gift" id="gift" ><i class="iconfont" style="color:#1e4e8e">&#xe618;</i></div>
  <div id="pieChartContainer">
    <div id="loadingContainer" >
    </div>
  </div>
  <!--
  <div class="text_container"  >
    <p class="subtitle" >您的综合评分</p>
    <p class="tip" >低于平均水平</p>
    <p class="bd_yz" ng-click="goVerfiy()">保单验真 > </p>
  </div>
  -->
   <!--  -->


  <div calss="mag-container" style="position: fixed;left:0;bottom: 80px;">
       <div class="cell_hd cell_primary">
             <div class="cell-circle " ng-click="goBdMange()"><i class="iconfont" style="color:#99b8de">&#xe600;</i><div>保单管理</div></div>
       </div>
       <div class="cell_hd cell_primary">
             <div class="cell-circle " ng-click="goPromote()"><i class="iconfont"  style="color:#99b8de">&#xe602;</i><div>保障提升</div></div>
       </div>
  </div>

    
</div>
<div class="fix_container select_btn " >
    <div class="cell_hd cell_primary " >
    <div class="cell-footer hover" ng-click="goIndex($event)"><i class="iconfont">&#xe61b;</i><div>首页</div></div>
    </div>
    <div class="cell_hd cell_primary">
      <div class="cell-footer" ng-click="goTemai($event)"><i class="iconfont">&#xe623;</i><div>严选</div></div>
    </div>
    <div class="cell_hd cell_primary">
      <div class="cell-footer" ng-click="goService($event)"><i class="iconfont">&#xe60a;</i><div>服务</div></div>
    </div>
</div>
<script>
/*
var calendar = new LCalendar();
    calendar.init({
        'trigger': '#demo1', //标签id
        'type': 'date', //date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择,
        'minDate': '1980-5-1', //最小日期
        'maxDate': new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate() //最大日期
    });
    */
</script>
<!-- /wrapper -->
