<!-- 投保须知 -->
<link rel="stylesheet" href="css/information.css?rev=b147ea0d9bd8dd9e9458ba582f64f0ba">
<div  data-ng-init="init()" cg-busy="myPromise">
	<ul class="claim_controller">
		<li>
			<p ng-show="data.age_restrictions.length>0"><img src="img/claim_information/logo.jpg" alt=""><span class="font_size29">年龄限制</span></p>
			<a class="content"  ng-repeat="restriction in data.age_restrictions">{{restriction}}</a>
		</li>
		<li ng-show="data.health_restrictions.length>0">
			<p>
				<img src="img/claim_information/logo.jpg" >
				<span>健康限制</span>
			</p>
			<a class="content" ng-repeat="restriction in data.health_restrictions">
				{{restriction}}	
			</a>
		</li>
		<li>
			<p ng-show="data.locale_restrictions.length>0">
				<img src="img/claim_information/logo.jpg" >
				<span>区域限制</span>
			</p>
			<a class="content" ng-repeat="restriction in data.locale_restrictions">	
				{{restriction}}
			</a>
		</li>
		<li>
			<p ng-show="data.extra_restrictions.length>0">
				<img src="img/claim_information/logo.jpg">
				<span>其他限制</span>
			</p>
			<a class="content" ng-repeat="restriction in data.extra_restrictions">	
				{{restriction}}
			</a>
		</li>
	</ul>
<div class="cut_container" >
		<a class="cut_cell" ng-click="showTip()">
			部分情况有
		</a>
		<a class="cut_cell"  ng-click="goToubao()">
			以上情况全无
		</a>
	</div>
</div>