<!-- 投保须知 -->
<link rel="stylesheet" href="css/information.css?rev=8cf5db84ab54afcde13c97298b939a80">
<div  data-ng-init="init()" cg-busy="myPromise">
	<ul class="claim_controller">
		<li ng-if="data.age_notice">
			<p><img src="img/claim_information/logo.jpg" alt=""><span class="font_size29">年龄限制</span></p>
			<a class="content"  >{{data.age_notice}}</a>
		</li>
	
		<li ng-if="data.locale_notice">
			<p >
				<img src="img/claim_information/logo.jpg" >
				<span>区域限制</span>
			</p>
			<a class="content" >	
				{{data.locale_notice}}
			</a>
		</li>

		<li ng-if="isHaveHealth">
			<p>
				<img src="img/claim_information/logo.jpg" >
				<span>健康限制</span>
			</p>
			<a class="content" ng-repeat="notice in data.notices">
				{{notice.insurance_name}} 	{{notice.plan_name}}<br/>
				<div ng-repeat="item in notice.healthNotices" style="font-size:12px;">{{item}}</div>
			</a>
		</li>
		<li  ng-if="isExtranotice">
			<p >
				<img src="img/claim_information/logo.jpg">
				<span>其他限制</span>
			</p>
			<a class="content" ng-repeat="notice in data.notices">
				{{notice.insurance_name}} 	{{notice.plan_name}}<br/>
				{{notice.extra_notice}} 	
			</a>
		</li>
	</ul>




<div class="cut_container" >
		<a class="cut_cell" ng-click="showTip()">
			部分情况有
		</a>
		<a class="cut_cell"  ng-click="goToubao()">
			以上情况全无
		</a>
	</div>
</div>