<script src="js/slider_component.js?rev=afafafafafafafafsaffafaa"></script>
<link rel="stylesheet" href="css/ring.css">
<link rel="stylesheet" href="css/jk_bzts.css">
<div class="jk_bzts">
	<div class="jk_bzts_tit">选择保障金额 <span class="jk_bzts--blue" ><span id="money">30</span>万</span></div>
	<div class="jk_bzts_prompt">我们将优先配置符合该保额的保险</div>
	<div  class="bottom_container">
		<div id="money_container">
			
		</div>
	</div>
</div>
<div class="jk_bzts" ng-show="type!=3">
	<div class="jk_bzts_tit">选择保障期间 </div>
	<div class="jk_bzts_tit">重疾<span class="jk_bzts--blue" id="duration">20</span>年期 医疗报销及其他<span class="jk_bzts--blue">1年期</span> </div>
	<div class="jk_bzts_prompt">我们将优先配置符合该期间的保险</div>
	<div  class="bottom_container">
		<div id="duration_container">
			
		</div>
	</div>
</div>

<div class="bottom_ctrl">
	<!-- <a href="javascript:history.go(-1);" ><div class="finish">完 成</div></a> -->
	<a ng-click="goBack()" href="javascript:void(0)" ><div class="finish">完 成</div></a>
</div>
