
<link rel="stylesheet" href="css/ring.css">
<link rel="stylesheet" href="css/jk_bzts.css">
<div class="jk_bzts">
	<div class="jk_bzts_tit">选择保障金额 <span class="jk_bzts--blue">30万</span></div>
	<div class="jk_bzts_prompt">我们将优先配置符合该保额的保险</div>
	<div  class="bottom_container" id="customerSlider" ng-hide="type==2">
	
	<div class="weui_progress_bar" >
		<div class="weui_progress_inner_bar" id="bar" style="width: 16px;">
			<div style="background:transparent;" id="zhizhen">
				<img src="img/slider-btn.png?v=2" id="btnCircle" class="bar_btn" style=""></div>
		</div>
		<div  class="kedu" style="left:2%;">
			<div class="zz"></div>
			<p>0</p>
		</div>
		<div  class="kedu" style="left:6.8%;">
			<div class="small-zz"></div>
		</div>
		<div  class="kedu" style="left:11.6%;">
			<div class="small-zz"></div>
		</div>
		<div  class="kedu" style="left:16.4%;">
			<div class="small-zz"></div>
		</div>
	
		<div  class="kedu" style="left:21.2%;">
			<div class="zz"></div>
			<p>10</p>
		</div>
		<div  class="kedu" style="left:26%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:30.8%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:35.6%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:40.4%;">
			<div class="zz"></div>
			<p>20</p>
		</div>
		<div  class="kedu" style="left:45.1%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:49.9%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:54.7%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:59.59%;">
			<div class="zz"></div>
			<p>30</p>
		</div>
		<div  class="kedu" style="left:64.39%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:69.1%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:73.99%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:78.79%;">
			<div class="zz"></div>
			<p>40</p>
		</div>
		<div  class="kedu" style="left:83.59%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:88.39%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:93.1%"> <div class="small-zz"></div> </div> 

		<div  class="kedu" style="left:97.99%;">
			<div class="zz"></div>	
			<p >50(万)</p>
		</div>
	</div>
</div>
</div>
<div class="jk_bzts">
	<div class="jk_bzts_tit">选择保障期间 </div>
	<div class="jk_bzts_tit">重疾<span class="jk_bzts--blue">20</span>年期 医疗报销及其他<span class="jk_bzts--blue">1年期</span> </div>
	<div class="jk_bzts_prompt">我们将优先配置符合该期间的保险</div>
	<div  class="bottom_container">
		<div id="duration_container">
			
		</div>
	</div>
</div>

<div class="bottom_ctrl">
	<a href="javascript:history.go(-1);"><div class="finish">完 成</div></a>
</div>
<!-- <script src="js/slider.js?rev=afafafafafafafafsaffafaa"></script> -->
<!-- <script src="js/select.js?rev=avaafafafafsdfafafafaags"></script> -->