<div id="wrapper" class="wrapper"  data-ng-init="init()">



  <div class="dash">
  <canvas id="dash_container" >
   
  </canvas>
  </div>
 




<script type="text/javascript" src="js/dashboard.js"></script>

  <script>
    
    var dashboard = new Dashboard();
  </script>


</div>
<div class="fix_container select_btn " >
    <div class="cell_hd cell_primary " >
    <div class="cell-footer hover" ng-click="goIndex($event)"><i class="iconfont">&#xe61b;</i><div>首页</div></div>
    </div>
    <div class="cell_hd cell_primary">
      <div class="cell-footer" ng-click="goTemai($event)"><i class="iconfont">&#xe623;</i><div>严选</div></div>
    </div>
    <div class="cell_hd cell_primary">
      <div class="cell-footer" ng-click="goService($event)"><i class="iconfont">&#xe60a;</i><div>服务</div></div>
    </div>
</div>
<script>

</script>
<!-- /wrapper -->
