<div id="wrapper" class="wrapper"  data-ng-init="init()"  cg-busy="loadingPromise">

<div class="gift" ng-click="showToast()"><i class="iconfont" style="color:#97bfff">&#xe627;</i></div>

  <div class="dash">
  <canvas id="dash_bg_container" >
   
  </canvas>
  <canvas  id="dash_container" style="position: absolute; left: 0px; top: 35px; background: transparent;" ></canvas>
  </div>
 

  <div class="navigation" style="padding: 20px 0;">
    <div class="navigation__leftbtn"></div>
    <div class="navigation__name">
      <div style="line-height: 12px;">本人</div> 
      <!-- <div></div>  -->
    </div>
    <div class="navigation__rightbtn"></div>
  </div>


  <div class="pannel-container">
    <div class="pannel"> 
      <div class="pannel__nav">
        <div class="pannel__nav__item  pannel__nav__item_hover " ng-click="nav($event,1)">
        已有保障
        <div class="pannel__nav__item_rightline" ></div>
        </div> 
          <div class="pannel__nav__item"  ng-click="nav($event,2)">提升保障</div> 
      </div>



        <div class="pannel__body pannel__body-init" ng-show="pannelId==0">
          <div class="pannel__body_tip">还没有任何保障</div>
          <div class="pannel__body_des" >
            <div>建议立即提升保障</div> 
            <div>诺贝提供一站式解决方案</div> 
          </div>
          <img src="/img/index/solution_introd.png" style="width:100%;">
        </div> 

      <div class="pannel__body" ng-show="pannelId==1">
         <div class="pannel__body__item" ng-click="goBaodan(4)">
          <i class="iconfont icon_size" >&#xe629;</i>
          <div class="pannel__body__item_bar" >
            <div class="pannel__body__item_yiyou">意外保障</div>
            <div class="progress"><div class="progress_innerbar" style="width:{{data.scores[4]*10}}%;"></div></div></div>
          <i class="iconfont arrow_size"  >&#xe60f;</i>
          </div> 
        <div class="pannel__body__item" ng-click="goBaodan(2)">
          <i class="iconfont icon_size" >&#xe62a;</i>
          <div class="pannel__body__item_bar" > 
            <div class="pannel__body__item_yiyou">健康保障</div>
            <div class="progress"><div class="progress_innerbar"  style="width:{{data.scores[2]*10}}%;"></div></div></div>
          <i class="iconfont arrow_size"  >&#xe60f;</i>
          </div> 
         <div class="pannel__body__item"  ng-click="goBaodan(3)">
          <i class="iconfont icon_size" styl>&#xe62b;</i>
          <div class="pannel__body__item_bar"> 
            <div class="pannel__body__item_yiyou">人寿保障</div>
            <div class="progress"><div class="progress_innerbar"  style="width:{{data.scores[3]*10}}%;"></div></div></div>
          <i class="iconfont arrow_size" >&#xe60f;</i>
          </div>

            <div class="pannel__body__item"  ng-click="goBaodan(1)">
          <i class="iconfont icon_size" >&#xe61c;</i>
          <div class="pannel__body__item_bar"> 
            <div class="pannel__body__item_yiyou">家庭保障</div>
            <div class="progress"><div class="progress_innerbar"  style="width:{{data.scores[1]*10}}%;"></div></div></div>
          <i class="iconfont arrow_size"  >&#xe60f;</i>
          </div> 
    
         <div class="pannel__body__item"  ng-click="goBaodan(5)">
          <i class="iconfont icon_size" >&#xe618;</i>
          <div class="pannel__body__item_bar"> 
            <div class="pannel__body__item_yiyou">财产保障</div>
            <div class="progress"><div class="progress_innerbar"  style="width:{{data.scores[5]*10}}%;"></div></div></div>
          <i class="iconfont arrow_size"  >&#xe60f;</i>
          </div> 



        </div> 

        <div class="pannel__body"  ng-show="pannelId==2">

          <div class="pannel__body__item pannel__body__item_title">
            建议提升至8.0分 
            <div class="pannel__body__item_btn" ng-click="goAutoPromote()"><i class="iconfont arrow_size" style="color:#4285f4;font-size:19px;" >&#xe62c;</i>一键提升</div>
          </div>
         <div class="pannel__body__item"   ng-click="goPromote(4)">
          <i class="iconfont icon_size" >&#xe629;</i>
          <div class="pannel__body__item_bar"> 
            <div class="pannel__body__item_head">意外保障</div>
            <div class="pannel__body__item_des">造成的损失大，建议优先提升</div>
          </div>
          <i class="iconfont arrow_size" >&#xe60f;</i>
          </div> 
        <div class="pannel__body__item"   ng-click="goPromote(2)">
          <i class="iconfont icon_size" >&#xe62a;</i>
          <div class="pannel__body__item_bar">  
            <div class="pannel__body__item_head">健康保障</div>
            <div class="pannel__body__item_des">先保重疾，再补充医疗报销</div></div>
          <i class="iconfont arrow_size"  >&#xe60f;</i>
          </div> 

         <div class="pannel__body__item"  ng-click="goPromote(3)">
          <i class="iconfont icon_size" styl>&#xe62b;</i>
          <div class="pannel__body__item_bar">  
            <div class="pannel__body__item_head">人寿保障</div>
            <div class="pannel__body__item_des">保障身故损失，建议提升</div></div>
          <i class="iconfont arrow_size" >&#xe60f;</i>
          </div> 
      
          <div class="pannel__body__item"  ng-click="goPromote(1)">
          <i class="iconfont icon_size" styl>&#xe61c;</i>
          <div class="pannel__body__item_bar">  
            <div class="pannel__body__item_head">家庭保障</div>
            <div class="pannel__body__item_des">先保收入支柱，再保老人小孩</div></div>
          <i class="iconfont arrow_size" >&#xe60f;</i>
          </div> 


         <div class="pannel__body__item"  ng-click="goPromote(5)">
          <i class="iconfont icon_size" >&#xe618;</i>
          <div class="pannel__body__item_bar"> 
            <div class="pannel__body__item_head">财产保障</div> 
            <div class="pannel__body__item_des">优先保障价值大的财物</div></div>
          <i class="iconfont arrow_size"  >&#xe60f;</i>
          </div> 
        </div> 




    </div>
  </div>


 


</div>
<div class="fix_container select_btn " >
    <div class="cell_hd cell_primary " >
    <div class="cell-footer hover" ng-click="goIndex($event)"><i class="iconfont">&#xe61b;</i><div>首页</div></div>
    </div>
    <div class="cell_hd cell_primary">
      <div class="cell-footer" ng-click="goTemai($event)"><i class="iconfont">&#xe623;</i><div>严选</div></div>
    </div>
    <div class="cell_hd cell_primary">
      <div class="cell-footer" ng-click="goService($event)"><i class="iconfont">&#xe60a;</i><div>服务</div></div>
    </div>
</div>
<script>

</script>
<!-- /wrapper -->
