<style>
	.main-container{
		padding:10px;
	}
	.tip{
	background:#f5f5f5;
	padding:15px;
	border:1px solid #e2e2e2;
	color:#ff5c00;
	font-size:0.13rem;
	margin-bottom: 20px;
	}
	table {
	  width: 100%;
	  border-collapse: collapse;
	}
	table td, table th {
	  padding: 0.07rem;
	  vertical-align:top;
	   font-weight: normal;
	}

	.bd_th{
	  font-size:0.18rem;

	  border-bottom:1px solid #e2e2e2;text-align: left;
	}
	.bd_tr{
	  border-bottom:1px solid #e2e2e2;text-align: left;
	}
	.status{
	  text-align: center;
	  padding:5px;
	  border-radius: 3px;
	  color:#fff;
	  margin:10px 0 8px;
	}
	.tb{
	  background-color: #ff5c00;
	}
	.contract{
		display: inline-block;
		margin:0.1rem 0 0;
	}
</style>
<div class="main-container">
	<div class="tip">注：方案中的产品，诺贝暂不支持投保请到官网进行购买</div>
			<table>
			<tr class="bd_th">
				<th class="main_color" style="width:50%;">产品</th>
				<th class="main_color">保额</th>
				<th></th>
				<th class="main_color" style="text-align: right">保费</th>
			</tr>

			<tr class="bd_tr" ng-repeat="plan in plans">
				<td>
					{{plan.name}}
					<br/>
					<a href="/ybwx-web/api/web_page/{{plan.provision_page_id}}" class="contract">
						<span class="blue">保险合同</span>
					</a>
				</td>
				<td >{{process_insured_money(plan.sum_insured)}}</td>
				<td>1份</td>
				<td style="text-align: right">
					<span ng-if="">100元</span>
					<a href="{{plan.official_site}}"> <div class="status tb">官网购买</div></a>
				</td>
			</tr>
		</table>
</div>