<link rel="stylesheet" type="text/css" href="/css/pay_success.css">
<div  ng-show="!isChildDental">
	<div class="pay_success_ctrl">
		<div class="win">
			<img src="/wx_share/img/win.png">&nbsp;支付成功，投保中...</div>
		<div class="hint">
			请按照以下操作
			<br>查看投保记录，获取电子保单</div>
	</div>
	<div class="main">
		<img src="/img/win_hint/main.png"></div>

</div>

<div ng-show="isChildDental">
	<div class="pay_success_ctrl">
		<div class="win">
			<img src="/wx_share/img/win.png">&nbsp;支付成功，投保中...</div>
		<div class="hint">
			您现在即可
			<br>按照以下操作进行预约就诊</div>
	</div>
	<div class="main">
		<img src="/img/child_dental/pay_success.png"></div>

</div>