<!-- 投保须知 -->
<link rel="stylesheet" href="css/information.css?rev=bf6071117a7d435b56d77e5d79e8ab2c">
<div  data-ng-init="init()" cg-busy="myPromise" style="margin-bottom: 50px;">
	<ul class="claim_controller">
		<li ng-if="data.age_notice">
			<p><img src="img/claim_information/logo.jpg" alt=""><span class="font_size29">年龄限制</span></p>
			<a class="content"  >{{data.age_notice}}</a>
		</li>
	
		<li ng-if="data.locales">
			<p >
				<img src="img/claim_information/logo.jpg" >
				<span>区域限制</span>
			</p>
			<a class="content" ng-repeat="notice in data.locales">
				{{notice}}<br/>
			</a>
		</li>

		<li ng-if="data.healths">
			<p>
				<img src="img/claim_information/logo.jpg" >
				<span>健康限制</span>
			</p>
			<a class="content" ng-repeat="notice in data.healths">
				{{notice}}<br/>
			</a>
		</li>
		<li  ng-if="data.extras">
			<p >
				<img src="img/claim_information/logo.jpg" >
				<span>其他限制</span>
			</p>
			<a class="content" ng-repeat="notice in data.extras">
				{{notice}}<br/>
			</a>
		</li>
	</ul>




<div class="cut_container" >
		<a class="cut_cell" ng-click="showTip()">
			部分情况有
		</a>
		<a class="cut_cell"  ng-click="goToubao()">
			以上情况全无
		</a>
	</div>
</div>