<style>
	@charset "UTF-8";
.terms_ctrl {
  padding: 20px;
  color: #555; }
  .terms_ctrl .title {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
    font-weight: 700; }
  .terms_ctrl .state {
    font-size: 13px;
    line-height: 22px; }
  .terms_ctrl .second_tit {
    color: #006ee9;
    font-size: 15px;
    font-weight: 700;
    margin-top: 30px; }
    .terms_ctrl .second_tit .main {
      color: #555;
      font-size: 13px;
      line-height: 22px;
      font-weight: normal;
      margin-top: 15px; }
.terms_btn {
  color: #fff;
  font-size: 15px;
  background: #006ee9;
  text-align: center;
  line-height: 49px; }
</style>
<div class="terms_ctrl">
	<div class="title">美亚 “万国游踪” 国际旅游保障计划投保须知及产品条款</div>
	<div class="state">保险利益是指投保人对保险标的具有的法律上承认的利益。通常投保人会因为保险标的的损害或者丧失而遭受经济上的损失。</div>
	<div class="second_tit">协议
		<div class="main">保险利益是指投保人对保险标的具有的法律上承认的利益。通常投保人会因为保险标的的损害或者丧失而遭受经济上的损失。</div>
	</div>

</div>
<a href=""><div class="terms_btn">官网购买</div></a>