<link rel="stylesheet" href="css/recognizee.css?rev=ad019bee92aa43377d20af3b41ac4af0">
<div class="recognizee_contrl">
	<ul class="delete">
		<li>被保人资料</li>
		<li>删 除</li>
	</ul>
	<div class="regenizee_main">
		<ul>
			<li>姓名</li><input type="text" ng-model="username" placeholder="宋仲基">
		</ul>
		<ul>
			<li>身份证号</li><input type="text" ng-model="social_id" placeholder="1525454544545454545454">
		</ul>
		<ul>
			<li>手机号码</li><input type="text" ng-model="mobile" placeholder="13639765495">
		</ul>
		<ul class="weui_cell">
			<li>关系</li>
			<select id="relation">
				<option value="spouse" value="1" selected="selected">本人</option>
				<option value="2">父亲</option>
				<option value="3">子女</option>
				<option value="4">配偶</option>
				<option value="5">同事</option>
				<option value="6">其他</option>
				<img  style="width: 14px;" src="img/down_jian.jpg">
			</select>
		</ul>
		<ul class="moren">
			<li>设为默认被保人</li>
            <div class="weui_cell_ft">
                <input class="weui_switch" type="checkbox"/>
            </div>
		</ul>
	</div>
</div>
<div class="recognizee_btn" ng-click="save()">保存</div>