<link rel="stylesheet" href="css/scheme.css?rev=c6eabf7cf7892348c5c736d53e8eb7bd">
<div class="scheme-contrller">
	
	<div class="main-contrller">
		<div class="scheme-head">潇洒哥型</div>
		<div class="img_ctrl"><img src="img/scheme/back.jpg"></div>
		<div class="scheme_word">针对高收入壮年男性的基础方案，主要保障对个人生活造成严重影响的风险</div>
		<div class="marBtn"></div>
	</div>
	
	<div class="main-contrller">
		<div class="main-head">意外保障</div>
		<div class="main_word">
			<div class="main_top"><img src="img/scheme/gou_dun.png"><span class="orange">综合意外</span> 覆盖日常风险 </div>
			<div class="zi">保险包括交通意外、日常意外、自然灾害等风险,是意外险中的基础配置。</div>
		</div>
		<div class="marBtn"></div>
	</div>

</div>

<div class="scheme_btn" ng-click="goKeySolution()">查看方案详情</div>