<link rel="stylesheet" href="css/score_reading.css">

<div class="score-reading">
	<div class="score-reading_ctrl">
		<div class="score-reading-head">评分模型</div>
		<div class="score-reading-word">根据保障项目和保障额度进行评分</div>
		<div class="score-reading-fen">满分 10 分</div>
		<img src="img/score_reading/score_1.png">
	</div>
	<div class="kong"></div>
	<div class="score-reading_ctrl score-reading--padd">
		<div class="score-reading-head">保障项目评分规则</div>
		<div class="score-reading-fen">满分 10 分</div>
		<div class="score-reading-yiwai">意外险项目</div>
		<img src="img/score_reading/score_2.png">
		<div class="score-reading-yiwai">健康险项目</div>
		<img src="img/score_reading/score_3.png">
	</div>
	<div class="kong"></div>
	<div class="score-reading_ctrl score-reading_ctrl--paddBot44">
		<div class="score-reading-head">保障额度评分规则</div>
		<div class="score-reading-yiwai score-reading-yiwai--marBot40">保障额度越高  评分越高</div>
		<div class="score-reading-head">其他指标</div>
		<div class="score-reading-word">根据免赔额、报销比例等评分指标</div>
		<div class="score-reading-yiwai score-reading-yiwai--marBot40">不同产品的保障评分将更加精确</div>
		<div class="score-reading-head">个性因素</div>
		<div class="score-reading-word">根据性格、年龄、及收入等因素</div>
		<div>不同用户的保障评分略有差异</div>
		<a href="javascript:history.go(-1);"><div class="score-reading-word-xx"><img src="img/score_reading/xx.png"></div></a>
	</div>
</div>
