<link rel="stylesheet" type="text/css" href="css/ring.css?rev=891200b47864c2f327697002745b1f0d">
<div  class="wrapper"  data-ng-init="init()" style="overflow: hidden;padding:0 10px;">
	<!--
	<div  class="head-container" style="overflow: hidden;" >
		<label class="switch">
		<input class="switch-input" type="checkbox" checked ng-click="test();" />
		<span class="switch-label" data-on="个性定制" data-off="直接购买"></span> 
		<span class="switch-handle"></span> 
	</label>
	</div>
	-->
	<div class="head-container"  ng-click="goJingzhun()">
		<div class="cell_hd">
			<a href="javascript:void(0)"   class="btn btn_n_primary " >个性定制</a>
		</div>
		<div class="cell_hd">
			<a href="javascript:void(0)" class="btn btn_unchoose" >直接购买</a>
		</div>
	</div>

	

	<div  class="bt_container">
		<img src="img/safe.jpg" style="width:15px;vertical-align: -3px;">
		选择保障范围
	</div>
	<div style="position: relative;" id="clockContainer">
		<div class="score_container" style="bottom:40px;" >
			<span id="fanwei_score"  class="score">{{fanweiScore}}</span><span class="danwei">分</span>
			</div>
		<canvas id="bgchartContainer" ></canvas>
		<canvas id="chartContainer"  style="background:transparent;position:absolute;left:0;top:0;" ></canvas>
		<div  id = "chartTextContainer" class="canvas_text"   style = "position:absolute;">
			<!---->
			<p  style="position:absolute;left:27%;margin:0;top:40%;font-size:0.20rem;text-align: center;color:#588dd4;line-height: 24px;" id="default_text">
			顺时针滑动<br/>
			<span style="color:#999;">选择范围</span>
			</p>

			<div  style="position:relative;left:-0.5rem;opacity:0;color:#bbb;"  class="small">&nbsp;&nbsp;</div>
			<div  style="position:relative;left:0.4rem;font-size:0.16rem;opacity: 0;color:#999;">&nbsp;&nbsp;</div>
			<div  style="position:relative;font-size:0.26rem;text-align: center;opacity: 1;color:#777;">&nbsp;&nbsp;</div>
			<div  style="position:relative;left:0.3rem;opacity: 0;font-size:0.13rem;color:#999;" >&nbsp;&nbsp;</div>
			<div  style="position:relative;left:-0.2rem;font-size:0.17rem;opacity: 0;color:#bbb;" class="small" >&nbsp;&nbsp;</div>
		</div>
		<div id="log"></div>
	</div>

	<div  class="bt_container">

		<div style="">
			<img src="img/safe.jpg" style="width:15px;vertical-align: -3px;">
			选择保障金额
		</div>
		<!--
		<a href="javascript:void(0)"   class="btn btn_n_primary"  ng-click="showCompute()">保额测算</a>
	-->
</div>

<div  class="bottom_container" id="customerSlider" >
	<div class="score_container" style="top:-25px; ">
			<span id="money_score" class="score">0</span>
			<span class="danwei">分</span>
	</div>
	
	<div class="weui_progress_bar" >
		<div class="weui_progress_inner_bar" id="bar" style="width: 16px;">
			<div style="background:transparent;" id="zhizhen">
				<img src="img/slider-btn.png?v=1" id="btnCircle" class="bar_btn" style=""></div>
		</div>
		<div  class="kedu" style="left:2%;">
			<div class="zz"></div>
			<p>0</p>
		</div>
		<div  class="kedu" style="left:6.5%;">
			<div class="small-zz"></div>
		</div>
		<div  class="kedu" style="left:11%;">
			<div class="small-zz"></div>
		</div>
		<div  class="kedu" style="left:15.5%;">
			<div class="small-zz"></div>
		</div>
	
		<div  class="kedu" style="left:20%;">
			<div class="zz"></div>
			<p>10</p>
		</div>
		<div  class="kedu" style="left:25%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:30%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:35%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:40%;">
			<div class="zz"></div>
			<p>20</p>
		</div>
		<div  class="kedu" style="left:45%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:50%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:55%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:60%;">
			<div class="zz"></div>
			<p>30</p>
			<div class="bottom-word">基本</div>
		</div>
		<div  class="kedu" style="left:65%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:70%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:75%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:80%;">
			<div class="zz"></div>
			<p>40</p>
			<div class="bottom-word">推荐</div>
		</div>
		<div  class="kedu" style="left:84.5%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:89%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:93.5%"> <div class="small-zz"></div> </div> 

		<div  class="kedu" style="left:97.3%;">
			<div class="zz"></div>	
			<p >50(万)</p>
			<div class="bottom-word">无忧</div>
		</div>

	</div>


</div>

<div  class="word_container" style="margin-bottom: 80px;line-height:1;">
	<!-- <div  >
		综合保障评分：
		<span class="score blue" id="sum_score">10</span>
		<span class="">分</span>
	</div>
	<div  >
		预估保费：
		<span class="score red" id="estimateMoneyContainer">{{estimateMoney}}</span>
		<span class=" red">元/年</span>
	</div> -->
</div>

<div class="fix_container select_btn">
	<div class="left" style="width: 65%;height: 48px;">
        <a class="left_btn left">
			总 
			<span class="score" id="sum_score">10</span>
			<span >分</span>
		</a>
		<a class="right_center"></a>
		<a class="right_btn right">
			<span class="score font_wei" id="estimateMoneyContainer">{{estimateMoney}}</span>
			<span >元</span>
		</a>
	</div>
	<a href="javascript:void(0)"style="width: 35%;" class="btn btn_n_primary_default right" style="width: 70%;" id="dzSbButton" ng-click="goBz()">生成方案</a>
</div>

</div>

<div class="mask" id="baozhang_popup" style="display: none;">
<div class="toast" >
	<div class="close">
		<img src="img/close.jpg" ></div>
	<h4 >保障范围评分标准</h4>
	<img  ng-src="img/introd_0{{type}}.png" style="width:100%"></div>
</div>

<div class="mask" id="baozhang_compute" style="display: none;">
<div class="toast" >
	<div class="close">
		<img src="img/close.jpg" ></div>
	<h3 >保额测算</h3>
	<h5 >根据收入和负债精准测算保额</h5>

	<div class="cell cell_container ">
		<div class="cell_hd" >
			<img src="img/salary.jpg" class="logo" ></div>
		<div class="cell_hd word">收&nbsp;&nbsp;入</div>
		<div class="cell_hd  cell_primary " style="height:40px;padding:0 10px;" >
			<input type="text" class="ipt "    name="salary" min="1951-01-01"  max="2016-12-31"  ng-model="salary"  required></div>
		<div class="cell_hd danwei" >元/月</div>
	</div>

	<div class="cell cell_container ">
		<div class="cell_hd" >
			<img src="img/home.jpg" class="logo" ></div>
		<div class="cell_hd word">房&nbsp;&nbsp;贷</div>
		<div class="cell_hd  cell_primary " style="height:40px;padding:0 10px;" >
			<input type="text" class="ipt "    name="houseloan" min="1951-01-01"  max="2016-12-31"  ng-model="houseloan"  required></div>
		<div class="cell_hd danwei" >元/月</div>
	</div>

	<div class="cell cell_container ">
		<div class="cell_hd" >
			<img src="img/car.jpg" class="logo" ></div>
		<div class="cell_hd word">车&nbsp;&nbsp;贷</div>
		<div class="cell_hd  cell_primary " style="height:40px;padding:0 10px;" >
			<input type="text" class="ipt "    name="carloan" min="1951-01-01"  max="2016-12-31"  ng-model="carloan"  required></div>
		<div class="cell_hd danwei" >元/月</div>
	</div>

	<div class="cell" style="margin-top:20px;">
		<a href="javascript:void(0)" class="btn btn_n_primary " >测算</a>
	</div>

</div>
</div>
<script src="js/slider.js?rev=afafafafafafafafsaffafaa"></script>
<script src="js/select.js?rev=avaafafafafsdfafafafaags"></script>