
<div  class=""  data-ng-init="init()" style="overflow: hidden;padding:0 10px;"  cg-busy="selectPromise" >


	<!--
	<div class="head-container"  ng-click="goJingzhun()">
		<div class="select_cell_hd">
			<a href="javascript:void(0)"   class="btn btn_n_primary " >个性定制</a>
		</div>
		<div class="select_cell_hd">
			<a href="javascript:void(0)" class="btn btn_unchoose" >直接购买</a>
		</div>
	</div>
	-->

	<div  class="bt_container">
		<img src="img/safe.jpg" style="width:15px;vertical-align: -3px;">
		选择保障项目
	</div>
	<div style="position: relative;" id="clockContainer">
		<div class="score_container" style="bottom:40px;" >
			<span id="fanwei_score"  class="score">{{fanweiScore}}</span><span class="danwei">分</span>
			</div>
		<canvas id="bgchartContainer" ></canvas>
		<canvas id="chartContainer"  style="background:transparent;position:absolute;left:0;top:0;" ></canvas>
		<div  id = "chartTextContainer" class="canvas_text"   style = "position:absolute;">
			<!---->
			<p  style="position:absolute;left:20%;margin:0;top:40%;font-size:0.20rem;text-align: center;color:#588dd4;line-height: 24px;display:none" id="default_text">
			顺时针滑动<br/>
			<span style="color:#999;">选择保障项目</span>
			</p>

			<div  style="position:relative;left:-0.5rem;opacity:0;color:#bbb;"  class="small">&nbsp;&nbsp;</div>
			<div  style="position:relative;left:0.4rem;font-size:0.16rem;opacity: 0;color:#999;">&nbsp;&nbsp;</div>
			<div  style="position:relative;font-size:0.26rem;text-align: center;opacity: 1;color:#777;">&nbsp;&nbsp;</div>
			<div  style="position:relative;left:0.3rem;opacity: 0;font-size:0.13rem;color:#999;" >&nbsp;&nbsp;</div>
			<div  style="position:relative;left:-0.2rem;font-size:0.17rem;opacity: 0;color:#bbb;" class="small" >&nbsp;&nbsp;</div>
		</div>
		<div id="log"></div>
	</div>

	<div  class="bt_container">

		<div style="line-height: 25px;">
			<img src="img/safe.jpg" style="width:15px;vertical-align: -3px;">
			选择保障金额 <span style="color:#999;"> 最高赔付额 </span><span class="intell-reck" ng-click="showIntellReckon()" >智能测算</span>
		</div>
		<!--
		<a href="javascript:void(0)"   class="btn btn_n_primary"  ng-click="showCompute()">保额测算</a>
	-->
</div>

<div  class="bottom_container" id="customerSlider" >
	<div class="score_container" style="top:-25px; ">
			<span id="money_score" class="score">0</span>
			<span class="danwei">万</span>
	</div>
	<div  style="position: absolute;right:0;top:-33px; font-size:16px;color:#999;text-align: right;" ng-if="type==4 || type ==2">
			保1年
	</div>
	
	<div class="weui_progress_bar" >
		<div class="weui_progress_inner_bar" id="bar" style="width: 16px;">
			<div style="background:transparent;" id="zhizhen">
				<img src="img/slider-btn.png?v=2" id="btnCircle" class="bar_btn" style=""></div>
		</div>
		<div  class="kedu" style="left:2%;">
			<div class="zz"></div>
			<p>0</p>
		</div>
		<div  class="kedu" style="left:6.8%;">
			<div class="small-zz"></div>
		</div>
		<div  class="kedu" style="left:11.6%;">
			<div class="small-zz"></div>
		</div>
		<div  class="kedu" style="left:16.4%;">
			<div class="small-zz"></div>
		</div>
	
		<div  class="kedu" style="left:21.2%;">
			<div class="zz"></div>
			<p>10</p>
		</div>
		<div  class="kedu" style="left:26%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:30.8%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:35.6%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:40.4%;">
			<div class="zz"></div>
			<p>20</p>
		</div>
		<div  class="kedu" style="left:45.1%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:49.9%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:54.7%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:59.59%;">
			<div class="zz"></div>
			<p>30</p>
			<div class="bottom-word">基本</div>
		</div>
		<div  class="kedu" style="left:64.39%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:69.1%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:73.99%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:78.79%;">
			<div class="zz"></div>
			<p>40</p>
			<div class="bottom-word">推荐</div>
		</div>
		<div  class="kedu" style="left:83.59%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:88.39%"> <div class="small-zz"></div> </div> 
		<div  class="kedu" style="left:93.1%"> <div class="small-zz"></div> </div> 

		<div  class="kedu" style="left:97.99%;">
			<div class="zz"></div>	
			<p >50(万)</p>
			<div class="bottom-word">无忧</div>
		</div>

	</div>
</div>



<!-- <div  class="bt_container">
		<div style="line-height: 25px;">
			<img src="img/safe.jpg" style="width:15px;vertical-align: -3px;">
			选择保障期间
		</div>
</div>
<div  class="bottom_container">
	<div class="score_container" style="top:-25px; ">
			<span id="money_score" class="score">20</span>
			<span class="danwei">年</span>
	</div>
	<div id="duration_container">
		
		
	</div>
</div>
 -->

<div class="mask" id="popup">
		<div class="toast_cs toast accident_mask">
			<div class="income_ctrl">选择年收入<div class="off" id="off"><img src="img/select/off.png"></div></div>
			<div class="calculate">我们将根据您的年收入测算保额</div>
			<div class="income_details" id="details">
				<div class="income">5万以下</div>
				<div class="income">10万</div>
				<div class="income">20万</div>
				<div class="income">30万</div>
				<div class="income">40万</div>
				<div class="income">50万以上</div>
			</div>

		</div>
	</div>

<div class="fix_container select_btn">
	<div class="left" style="width: 65%;height: 48px;">
        <a class="left_btn left">
			总 
			<span class="" id="sum_score">{{data.scoreFix }}</span>
			<span >分</span>
		</a>
		<a class="right_center"></a>
		<a class="right_btn right">
			<span class="score font_wei" id="estimateMoneyContainer">{{data.premium}}</span>
			<span >元</span>
		</a>
	</div>
	<a href="javascript:void(0)"style="width: 35%;" class="btn btn_n_primary_default right" style="width: 70%;" id="dzSbButton" ng-click="goBz()">生成方案</a>
</div>

</div>

<div class="mask" id="baozhang_popup" style="display: none;">
<div class="toast" >
	<div class="close">
		<img src="img/close.jpg" ></div>
	<h4 >保障范围评分标准</h4>
	<img  ng-src="img/introd_0{{type}}.png" style="width:100%"></div>
</div>
<!--
<div class="mask" id="baozhang_compute" style="display: none;">
<div class="toast" >
	<div class="close">
		<img src="img/close.jpg" ></div>
	<h3 >保额测算</h3>
	<h5 >根据收入和负债精准测算保额</h5>

	<div class="cell cell_container ">
		<div class="cell_hd" >
			<img src="img/salary.jpg" class="logo" ></div>
		<div class="cell_hd word">收&nbsp;&nbsp;入</div>
		<div class="cell_hd  cell_primary " style="height:40px;padding:0 10px;" >
			<input type="text" class="ipt "    name="salary" min="1951-01-01"  max="2016-12-31"  ng-model="salary"  required></div>
		<div class="cell_hd danwei" >元/月</div>
	</div>

	<div class="cell cell_container ">
		<div class="cell_hd" >
			<img src="img/home.jpg" class="logo" ></div>
		<div class="cell_hd word">房&nbsp;&nbsp;贷</div>
		<div class="cell_hd  cell_primary " style="height:40px;padding:0 10px;" >
			<input type="text" class="ipt "    name="houseloan" min="1951-01-01"  max="2016-12-31"  ng-model="houseloan"  required></div>
		<div class="cell_hd danwei" >元/月</div>
	</div>

	<div class="cell cell_container ">
		<div class="cell_hd" >
			<img src="img/car.jpg" class="logo" ></div>
		<div class="cell_hd word">车&nbsp;&nbsp;贷</div>
		<div class="cell_hd  cell_primary " style="height:40px;padding:0 10px;" >
			<input type="text" class="ipt "    name="carloan" min="1951-01-01"  max="2016-12-31"  ng-model="carloan"  required></div>
		<div class="cell_hd danwei" >元/月</div>
	</div>

	<div class="cell" style="margin-top:20px;">
		<a href="javascript:void(0)" class="btn btn_n_primary " >测算</a>
	</div>

</div>
</div>
-->

<script src="js/slider.js?rev=afafafafafafafafsaffafaa"></script>
<script src="js/select.js?rev=avaafafafafsdfafafafaags"></script>
<script src="js/slider_component.js?rev=afafafafafafafafsaffafaa"></script>
<script>
/*	
var slider = new Slider({
			id:'#duration_container',
			text:[
				'0',
				'1',
				'5',
				'10',
				'20',
				'30(年)'
			]
		});
*/		
</script>