
<div class="head" ng-click="goVerfiy()">
	<div>
		<!-- <div class="icon"> </div> -->
		<div style="text-align: center;line-height: 0;"><i class="iconfont" style="font-size:40px;">&#xe617;</i></div>
		<div style="margin-top:5px;">保单验真</div>
	</div>
</div>

<div class="service-container">
	<div class="service-item"  ng-click="goBaoDan()"> <div><div class="icon"><i class="iconfont"  style="color:#ff6155;">&#xe612;</i></div><div class="text">我的保单</div></div></div>
	<div class="service-item"  ng-click="goTradeRecord()"><div><div class="icon"><i class="iconfont"  style="color:#37adff;">&#xe613;</i></div><div class="text">投保记录</div></div></div>
	<div class="service-item"  ng-click="goInsuranceCard()"><div><div class="icon"><i class="iconfont"  style="color:#ff6155;">&#xe614;</i></div><div class="text">我的优惠劵</div></div></div>
	
</div>


<div class="service-container">
	<div class="service-item"  ng-click="goContact()">  <div><div class="icon"><i class="iconfont"  style="color:#00be7d;">&#xe615;</i></div><div class="text">联系我们</div></div></div>
	<div class="service-item" ng-click="goNuobei()"><div style="text-align: center;"><div class="icon"><i class="iconfont"  style="color:#37adff;">&#xe616;</i></div><div class="text">关于诺贝</div></div></div>
	<div class="service-item">  <div></div></div>
</div>

	<a href="tel:4009920205"><div class="phone-container"><i class="iconfont">&#xe61e;</i>  客服电话 400-992-0205 </div></a>

<div class="fix_container select_btn" >
    <div class="cell_hd cell_primary" >
    <div class="cell-footer " ng-click="goIndex($event)"><i class="iconfont">&#xe61c;</i><div>首页</div></div>
    </div>
    <div class="cell_hd cell_primary">
      <div class="cell-footer " ng-click="goTemai($event)"><i class="iconfont">&#xe623;</i><div>严选</div></div>
    </div>
    <div class="cell_hd cell_primary">
      <div class="cell-footer hover" ng-click="goService($event)"><i class="iconfont">&#xe609;</i><div>服务</div></div>
    </div>
</div>