
<div class="header">
	<div class="logo"> </div>
	<div class="contaienr">
		<div class="title">意外保障方案 8分</div>	
		<div class="sub-title">方案金额:80000 元</div>	
	</div>
</div>
<div class="table-wrapper">
	<table>
		<tr><td><div>境内的旅游身故/伤残</div><div>境内旅游保险，也称国内旅游保险</div></td><td>40万</td></tr>
		<tr><td><div>境内的旅游身故/伤残</div><div>境内旅游保险，也称国内旅游保险</div></td><td>40万</td></tr>
		<tr><td><div>境内的旅游身故/伤残</div><div>境内旅游保险，也称国内旅游保险</div></td><td>40万</td></tr>
		<tr><td><div>境内的旅游身故/伤残</div><div>境内旅游保险，也称国内旅游保险</div></td><td>40万</td></tr>
		<tr><td><div>境内的旅游身故/伤残</div><div>境内旅游保险，也称国内旅游保险</div></td><td>40万</td></tr>
		<tr>查看更多</tr>
	</table>	

</div>

<div class="introd">方案内容</div>
<ul>
	<li>
		<div class="checkbox"></div>	
		<div class="product">
			<div class="product-name">阳光-交通工具意外险 交通意外交通工</div>	
			<div class="product-des">保额：300000元 保20年</div>	
			<div class="product-price"> 2500元/年</div>
		</div>	
		<div class="arrow"></div>	
	</li>	
	<li>
		<div class="checkbox"></div>	
		<div class="product">
			<div class="product-name">阳光-交通工具意外险 交通意外交通工</div>	
			<div class="product-des">保额：300000元 保20年</div>	
			<div class="product-price"> 2500元/年</div>
		</div>	
		<div class="arrow"></div>	
	</li>	

	<li>
		<div class="checkbox"></div>	
		<div class="product">
			<div class="product-name">阳光-交通工具意外险 交通意外交通工</div>	
			<div class="product-des">保额：300000元 保20年</div>	
			<div class="product-price"> 2500元/年</div>
		</div>	
		<div class="arrow"></div>	
	</li>	
	<li>
		<div class="checkbox"></div>	
		<div class="product">
			<div class="product-name">阳光-交通工具意外险 交通意外交通工</div>	
			<div class="product-des">保额：300000元 保20年</div>	
			<div class="product-price"> 2500元/年</div>
		</div>	
		<div class="arrow"></div>	
	</li>	


</ul>
