<div class="mask" id="popup">
	<div class="toast"></div>h
</div>

<div class="solution-container"  cg-busy="solutionPromise">
<div class="header">
	<div class="logo icon_{{type}}"> </div>
	<div class="contaienr">
		<div class="title">意外保障方案 {{data.score}}分</div>	
		<div class="sub-title">方案金额:{{sumMoney}} 元</div>	
	</div>
</div>
<div class="table-wrapper"  data-ng-init="init()"  ng-class="{'border-bt': data.coverages.length<=(showNum+1)}">
	<table>
		<tr ng-repeat="coverage in data.coverages"  ng-hide="$index>showNum"><td  class="left-td" des="{{coverage.description}}"><div>{{coverage.name}}<div class="qa"></div></div><div  class="des" style="display: none">{{coverage.description}}</div></td><td class="right-td">{{processSpecialMoney(coverage.sum_insured)}}</td></tr>
	</table>	
</div>
	<div class="more" ng-if="data.coverages.length>(showNum+1)"  data-switch='on' ng-click="more($event)"><span>查看更多</span><div class="icon-arrow"></div></div>

<div class="introd">方案内容</div>
<ul class="solution">

	<li  ng-repeat="plan in data.plans" ng-click="go(plan)">
		<div class="checkbox "  ng-class="{'choose': plan.status==1 && !plan.unchecked, '': plan.status!=1 , 'unchoose':plan.status==1 && plan.unchecked }"></div>	
		<div class="product">
			<div class="product-name">{{plan.name}}</div>	
			<div class="product-des">最高保额：{{plan.premium}}元 保{{plan.coverage_period}}{{getCoverageType(plan.coverage_period_type)}}</div>	
			<div class="product-price"> {{processSpecialMoney(plan.sum_insured)}} <span ng-if="plan.status!=1" class="status {{get_taocan_css(plan.status)}}" > {{getTaoCanStatus(plan.status)}}</span>
			</div>
		</div>	
		<div class="arrow"></div>	
	</li>	
	<!--
	<li>
		<div class="checkbox choose"></div>	
		<div class="product">
			<div class="product-name">阳光-交通工具意外险 交通意外交通工</div>	
			<div class="product-des">保额：300000元 保20年</div>	
			<div class="product-price"> 2500元/年</div>
		</div>	
		<div class="arrow"></div>	
	</li>	
	-->
</ul>


<div class="fix_container">
	<div class="footer">
	<a href="javascript:void(0)" class="btn btn_n_primary left">投保金额<span class="money">{{sumMoney}}</span> 元</a>
	<a href="javascript:void(0)" class="btn btn_n_primary right" ng-click="goInfo()">立即投保</a>
	</div>
</div>

</div>
<script type="text/javascript">

 $("body").on("click",".left-td",function(){
 	
    $("#popup").find(".toast").html($(this).attr("des"));
   	$("#popup").show();
 });

</script>