<div class="solution-container">
<div class="header">
	<div class="logo"> </div>
	<div class="contaienr">
		<div class="title">意外保障方案 {{data.score}}分</div>	
		<div class="sub-title">方案金额:{{data.premium}} 元</div>	
	</div>
</div>
<div class="table-wrapper"  data-ng-init="init()" >
	<table>
		<tr ng-repeat="item in data.coverages"><td  class="left-td"><div>境内的旅游身故/伤残<div class="qa"></div></div><div  class="des">境内旅游保险，也称国内旅游保险</div></td><td class="right-td">40万</td></tr>
	</table>	
</div>
	<div class="more">查看更多</div>

<div class="introd">方案内容</div>
<ul class="solution">



	<li  ng-repeat="plan in data.plans">
		<div class="checkbox choose"></div>	
		<div class="product">
			<div class="product-name">{{plan.name}}</div>	
			<div class="product-des">保额：{{plan.premium}}元 保{{plan.coverage_period}}{{getCoverageType(plan.coverage_period_type)}}</div>	
			<div class="product-price"> {{processSpecialMoney(plan.sum_insured)}} <span class="status {{get_taocan_css(plan.status)}}" > {{getTaoCanStatus(plan.status)}}</span>

			</div>
		</div>	
		<div class="arrow"></div>	
	</li>	
	<!--
	<li>
		<div class="checkbox choose"></div>	
		<div class="product">
			<div class="product-name">阳光-交通工具意外险 交通意外交通工</div>	
			<div class="product-des">保额：300000元 保20年</div>	
			<div class="product-price"> 2500元/年</div>
		</div>	
		<div class="arrow"></div>	
	</li>	
	-->
</ul>


<div class="fix_container">
	<div class="footer">
	<a href="javascript:void(0)" class="btn btn_n_primary left" ng-click="submitbt()">投保金额<span class="money">{{money}}</span>元</a>
	<a href="javascript:void(0)" class="btn btn_n_primary right">立即投保</a>
	</div>
</div>

</div>