<link rel="stylesheet" href="css/recognizee_first.css?rev=5d4f24d08f64bc80cd7469a31c1d8fb9">
<div class="recognizee_first_ctrl">
	<div class="rgn_head">选择被保险人</div>
	<div class="choose">
		<div class="self">
			<label class="demo--label">
		        <input class="demo--radio" type="radio"  checked="checked" ng-model='for'  value="self">
		        <span class="demo--radioInput"></span> 为本人投保
		    </label>
		</div>
        <div class="others">
        	<label class="demo--label">
		        <input class="demo--radio" type="radio"   ng-model='for' value='other'>
		        <span class="demo--radioInput"></span>为他人投保
		    </label>
        </div>
	</div>
	<div class="insured" ng-show="">该产品仅支持为本人投保</div>
	<!-- 为本人 -->
	<form  role="form" name="userform" novalidate >
	<div class="self_people">
		<div class="ziliao">完善被保人资料
		</div>
		<div class="main">
			<div class="line-box">
				<div class="lable">姓名</div><input type="text"   required chinese placeholder="请输入被保人姓名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入被保人姓名'" name="insured_username" ng-model="insured_username" >
				
			</div>
			<div class="cell"  style="color:red"
			            ng-show="userform.insured_username.$dirty && userform.insured_username.$invalid">
				<small class="error" 
		            ng-show="userform.insured_username.$error.required">姓名必填</small>
				<small class="error"  ng-show="userform.insured_username.$error.chinese">姓名必须是汉字!</small>
			</div>
			<div class="line-box">
				<div class="lable">身份证号</div><input type="text" onfocus="this.placeholder=''" onblur="this.placeholder='请输入被保人身份证号'" placeholder="请输入被保人身份证号"   required  ng-minlength="18" ng-maxlength="18" ng-model="insured_social_id" name="insured_social_id">
					
			</div>
			<div class="cell"  style="color:red" 
         				   ng-show="userform.insured_social_id.$dirty && userform.insured_social_id.$invalid ">
				<small class="error" ng-show="userform.insured_social_id.$error.required">身份证必填</small>
				<small class="error" 
		                ng-show="userform.insured_social_id.$error.minlength">身份证必须是18位</small>
				<small class="error" 
		                ng-show="userform.insured_social_id.$error.maxlength">身份证必须是18位</small>
			</div>
			<div class="line-box noBor">



				<div class="lable">手机号码</div><input type="text" onfocus="this.placeholder=''" onblur="this.placeholder='用于接收保单信息'" placeholder="用于接收保单信息" ng-model="insured_mobile" name="insured_mobile"  required  ng-minlength="11" ng-maxlength="11">
				

			</div>
			<div class="cell"  style="color:red"
			            ng-show="userform.insured_mobile.$dirty && userform.insured_mobile.$invalid">
					<small class="error" 
			            ng-show="userform.insured_mobile.$error.required">手机号必填</small>
					<small class="error" 
			                ng-show="userform.insured_mobile.$error.minlength">手机号必须是11位数字</small>
					<small class="error" 
			                ng-show="userform.insured_mobile.$error.maxlength" >手机号必须是11位数字</small>
				</div>
			<div class="line-box noBor"  ng-if="for=='other'" >
                  <div class="lable ">他是您的</div>
                  <select  ng-model="data.relation" name="relation"    ng-options="option.name for option in relations track by option.id" style="border:none;width:100%;" >
                  </select>
           </div>

		</div>
	</div>
		
	<div class="others_people" ng-show="for=='other'">
			
			<div class="ziliao">完善投保人资料</div>
			<div class="main">
				<div class="line-box">
					<div class="lable">姓名</div>
					<input type="text" onfocus="this.placeholder=''" onblur="this.placeholder='请输入投保人姓名'" placeholder="请输入投保人姓名"  ng-model="username" name="username"    required chinese >
					
				</div>
				<div class="cell"  style="color:red" ng-show="userform.username.$dirty && userform.username.$invalid">
					<small class="error" ng-show="userform.username.$error.required">姓名必填</small>
					<small class="error" ng-show="userform.username.$error.chinese">姓名必须是汉字!</small>
				</div>
				<div class="line-box noBor">
					<div class="lable">身份证号</div><input type="text" onfocus="this.placeholder=''" onblur="this.placeholder='请输入投保人的身份证号'" placeholder="请输入投保人的身份证号"  ng-model="social_id" name="social_id"  required  ng-minlength="18" ng-maxlength="18" >
				</div>
				<div class="cell"  style="color:red" 
         				   ng-show="userform.social_id.$dirty && userform.social_id.$invalid ">
					<small class="error" ng-show="userform.social_id.$error.required">身份证必填</small>
					<small class="error" 
			                ng-show="userform.social_id.$error.minlength">身份证必须是18位</small>
					<small class="error" 
			                ng-show="userform.social_id.$error.maxlength">身份证必须是18位</small>
				</div>

				<div class="line-box noBor">
				<div class="lable">手机号码</div><input type="text" onfocus="this.placeholder=''" onblur="this.placeholder='用于接收保单信息'" placeholder="用于接收保单信息" ng-model="mobile" name="mobile"  required  ng-minlength="11" ng-maxlength="11">
				<div class="cell"  style="color:red"
			            ng-show="userform.mobile.$dirty && userform.mobile.$invalid">
					<small class="error" 
			            ng-show="userform.mobile.$error.required">手机号必填</small>
					<small class="error" 
			                ng-show="userform.mobile.$error.minlength">手机号必须是11位数字</small>
					<small class="error" 
			                ng-show="userform.mobile.$error.maxlength" >手机号必须是11位数字</small>
				</div>

				</div>
			</div>
	</div>
	</form>
	<!-- 为他人 -->

</div>
<div class="recognizee_first_btn" ng-click="submit()">完 成</div>