<link rel="stylesheet" href="css/ensuring_target.css?rev=fa3114468d3b3a8c3179231731b05e6d">
<div class="nuobei_header">
	<div class="img_ctrl"><img src="img/nuobei_header/logo640.png"></div>
	<div class="back_homePage"><a href="http://wechat.nuobei.cn/#/index">回首页</a></div>
	<div class="concern" id="foucs_button">关 注</div>
</div>
<div class="target_ctrl">
	<div class="who">为谁投保？</div>
	<div class="first">建议优先保障家庭收入的主要贡献者</div>
	<div class="relation" id="relation">
		<div class="column">
			<div class="column_btn blue linshi" data-relation="1" ng-click="clickBtn(1)">自 己</div>
			<div class="column_btn no_up" style="background:#ccc" data-relation="2" ng-click="clickBtn(3)">父 母</div>
		</div>

		<div class="column">
			 <div class="column_btn linshi"  data-relation="4" ng-click="clickBtn(2)">配 偶</div>
			<div class="column_btn linshi" data-relation="3" ng-click="clickBtn(4)">子 女</div>
		</div>
	</div>
	<div class="bottom_ctrl">
		<div class="finish" ng-click="goUserInfoNew()">完 成</div>
	</div>
</div>
