<link rel="stylesheet" href="css/ensuring_target.css?rev=3d6c009b82beaf6bf352dd8981713783">
<div class="target_ctrl">
	<div class="who">为谁投保？</div>
	<div class="first">建议优先保障家庭收入的主要贡献者</div>
	<div class="relation" id="relation">
		<div class="column">
			<div class="column_btn blue" data-relation="1">自 己</div>
		    <div class="column_btn"  data-relation="4">配 偶</div>
		</div>
		<div class="column">
			<div class="column_btn"  data-relation="2">父 母</div>
			<div class="column_btn"  data-relation="3">子 女</div>
		</div>
	</div>
	<div class="target_btn" ng-click="goUserInfoNew()">下一步</div>
</div>
