<link rel="stylesheet" href="css/teeth_reservation_detail.css?rev=4abcb7f91908f8486291457db141271d">

<div class="teeth-detail-wrapper">

	<div class="teeth-title-container">
			 
			 <div class="teeth-title-contaienr_title"><div class="teeth-tip"></div>少儿齿科保险治疗套餐</div>
			 <div class="teeth-title-contaienr_des"><span class="teeth-gray">保 单 号：</span>20174123412312312312</div>
			 <div class="teeth-title-contaienr_des"><span class="teeth-gray">被 保 人：</span>王宝宝</div>
			 <div class="teeth-title-contaienr_des"><span class="teeth-gray">保险时间：</span>2016年09月01日~2017年08月31日</div>
	 </div>	

	<div class="reservation-body">


	</div>

	<div class="reservation-footer">
		<div class="ybwx-btn ybwx-btn--primary"></div>
	</div>
</div>

