<link rel="stylesheet" type="text/css" href="css/temai_list.css?rev=001d8653236cba2fc95c56686b1c9124">
<div class="nav">
	<div class="item select">全部</div>
	<div class="item">航空</div>
	<div class="item">旅游</div>
	<div class="item">医疗</div>
</div>

<div class="insurance">
	<div class="insurance-item">
		<div class="logo">
			<img src="img/temai/120.jpg">
		</div>	
		<div class="wrap">
			<div class="title">平安重疾险重疾险重疾险</div>	
			<div class="des"><span class="hot">热卖</span> 25种重大疾病 1年期</div>	
			<div class="money">258元起</div>	
		</div>	
	</div>

	<div class="insurance-item">
		<div class="logo">
			<img src="img/temai/hospital.jpg">
		</div>	
		<div class="wrap">
			<div class="title">平安重疾险重疾险重疾险</div>	
			<div class="des"><span class="hot">热卖</span> 25种重大疾病 1年期</div>	
			<div class="money">258元起</div>	
		</div>	
	</div>

</div>