<link rel="stylesheet" type="text/css" href="css/temai_index.css?rev=555535f3b339c9b39aa9838dc76a0e1f">
<header>
	<div  class="logo-container">
		<div class="logo">
			<img src="img/temai/logo.png">
		</div>
	</div>
	保险本该如此
	<div class="fr" style="margin:6px 6px 0 0;">
			<a href="javascript:;" class="weui_btn weui_btn_plain_focus">关注</a>
	</div>
</header>
<div class="swiper-container">
	<img src="img/temai/header-top.jpg">
</div>
<div class="nav">
	<div class="item"><img src="img/temai/nav-1.png"><div>0元抢</div> </div>
	<div class="item"><img src="img/temai/nav-2.png"><div>怎么买</div></div>
	<div class="item"><img src="img/temai/nav-3.png"><div>专属方案</div></div>
	<div class="item"><img src="img/temai/nav-4.png"><div>更多保障</div></div>
</div>

<div class="recommend">
	<img src="img/temai/hot.jpg">	
	热门推荐		
</div>
<div style="margin-bottom: 60px">
<div class="recommend-content">
	<div class="introd">
		<div class="box">
			<img src="img/temai/introd.png"/>
			<div class="name">旅游</div>
			<div class="more">查看更多</div>
		</div>
	</div>
	<div class="recommend-container">
			<div class="flex-item">
				<div class="title">平安|航空延误险</div>
				<div class="des"><span class="hot">热卖</span> 延误2小时起赔，200元保障 仅需30元!</div>
				<div class="money">258元起</div>
			</div>	
			<div class="flex-item">
				<div class="title">平安|航空延误险</div>
				<div class="des">延误2小时起赔，200元保障 仅需30元!</div>
				<div class="money">258元起</div>
			</div>	
		
	</div>
</div>


<div class="recommend-content">
	<div class="introd">
		<div class="box">
			<img src="img/temai/introd.png"/>
			<div class="name">旅游</div>
			<div class="more">查看更多</div>
		</div>
	</div>
	<div class="recommend-container">
			<div class="flex-item">
				<div class="title">平安|航空延误险</div>
				<div class="des">延误2小时起赔，200元保障 仅需30元!</div>
				<div class="money">258元起</div>
			</div>	
			<div class="flex-item">
				<div class="title">平安|航空延误险</div>
				<div class="des">延误2小时起赔，200元保障 仅需30元!</div>
				<div class="money">258元起</div>
			</div>	
		
	</div>
</div>


</div>
<div class=" fix_container">
	<a href="javascript:void(0)" class="btn btn_n_primary " ><img src="img/temai/kefu.png"> <span>客服电话 </span>400-8080-988</a>
</div>
