<link rel="stylesheet" type="text/css" href="css/temai_list.css?rev=001d8653236cba2fc95c56686b1c9124">



<div cg-busy="listPromise">
<div class="nav" data-ng-init="init()" >
	<div class="item" ng-class='{"select":category_id==nav.id}'ng-repeat="nav in navItems" ng-click='getCateList(nav.id)'>{{nav.name}}</div>
</div>

<div class="insurance" >
	<div class="insurance-item"   ng-repeat="item in cateItems" ng-click="goCateDetail(item.id)">
		<div class="logo">
			<img ng-src="{{item.insurance_image_url}}">
		</div>	
		<div class="wrap">
			<div class="title">{{item.name}}</div>	
			<div class="des"><span class="hot">热卖</span> {{item.description}}</div>	
			<div class="money">{{item.front_price}}</div>	
		</div>	
	</div>
	<!-- <div class="insurance-item">
		<div class="logo">
			<img src="img/temai/120.jpg">
		</div>	
		<div class="wrap">
			<div class="title">平安重疾险重疾险重疾险</div>	
			<div class="des"><span class="hot">热卖</span> 25种重大疾病 1年期</div>	
			<div class="money">258元起</div>	
		</div>	
	</div>
	<div class="insurance-item">
		<div class="logo">
			<img src="img/temai/hospital.jpg">
		</div>	
		<div class="wrap">
			<div class="title">平安重疾险重疾险重疾险</div>	
			<div class="des"><span class="hot">热卖</span> 25种重大疾病 1年期</div>	
			<div class="money">258元起</div>	
		</div>	
	</div> -->
</div>
<ul ng-show="!isHaveResult" class="cell_font" style=" text-align: center;padding-top: 90px;" >
  <img src="img/qidai.png" >
  <div style="font-size: 15px;color:#999;padding-top: 10px">产品即将上线</div>
  <div style="font-size: 15px;color:#555;">敬请期待</div>
</ul>
<div>