<link rel="stylesheet" type="text/css" href="css/temai_detail.css?rev=775f6579c693788ebb828c45ea15132d">

<div  cg-busy="myPromise" >
	<header>
		<div class="top-container" >
			<img ng-src="{{data.hot_image}}" style="width:100%;">
			<div class="company">
				{{data.insurance_company_name}}承保
			</div>
			<div class="text-container">
				<div class="title">{{data.insurance_name}}</div>
				<div class="sub-title" >
					<img src="img/temai/dun.png">&nbsp;{{data.insurance_feature}} </div>
			</div>
		</div>
		<div class="bottom-container">
		
		<div ng-repeat="overview in coverage_overviews">{{overview}}</div>

		</div>
	</header>

	<div class="detail-content"  data-ng-init="init()"   >
		<div class="btn-container" ng-show="data.insurance_plans.length>
			1"   data-current-select-id="{{data.insurance_plans[0].id}}">
			<div class="fl-3" ng-repeat="plan in data.insurance_plans" data-id="{{plan.id}}">
				<a href="javascript:;" class="weui_btn weui_btn_plain_default"   ng-class="{'weui_btn_primary':$index==0}"  data-index="{{$index}}"  ng-click="headSelect($event, plan)"   >{{plan.name}}</a>
			</div>

		</div>
		<div id="content_{{$index}}"  ng-show="selectTable==$index" ng-repeat="plan in data.insurance_plans">

			<table class="content-table"   >
				<tr>
					<th width="70%" style="text-align: left">主要保障</th>
					<th>保额</th>
				</tr>
				<tr ng-repeat="item in plan.main_coverage_beans">
					<td class="td-left" style="cursor: pointer;">
						{{item.name}}
						<img src="img/temai/wen.png"  class="help-img" title="{{item.description}}"/>
						<br/>
						<span class="gray" >{{item.overview}}</span>
					</td>
					<td ng-if="item.sum_insured>0">{{item.sum_insured | number}}元{{item.danwei}}</td>
					<td ng-if="item.sum_insured==0">赠送</td>
				</tr>
			</table>

			<table class="content-table" style="margin-top:10px;"  ng-if="plan.second_coverage_beans.length>0">
				<tr>
					<th width="70%"  style="text-align: left">其他保障</th>
					<th>保额</th>
				</tr>
				<tr ng-repeat="item in plan.second_coverage_beans" ng-show="$index<6">
					<td class="td-left" style="cursor: pointer;">
						{{item.name}}
						<img src="img/temai/wen.png"  class="help-img" title="{{item.description}}"/>
						<br/>
						<span class="gray" >{{item.overview}}</span>
					</td>
					<td ng-if="item.sum_insured>0">{{item.sum_insured | number}}元{{item.danwei}}</td>
					<td ng-if="item.sum_insured==0">赠送</td>
				</tr>

				<!-- <tr  class="more_coverages_button" ng-show="plan.second_coverage_beans.length>6" data-switch='on' ng-click="more($event)"><td colspan="2" class=" word_color"><span>查看更多</span><img src="img/temai/blue_arrow.jpg" class="arrow"></td></tr> -->
				<tr  class="more_coverages_button" ng-show="plan.second_coverage_beans.length>6" data-switch='on' ng-click="more($event)"><td colspan="2" class=" word_color"><span>查看更多</span><div class="icon-arrow"></div></td></tr>
			</table>
		</div>
	</div>
	<div class="tail-container"></div>

	<div class="cell pay_container ">
		<a href="javascript:void(0)" class="btn btn_n_primary right"   ng-click="showMask()" >立即投保</a>
		<a href="javascript:void(0)" class="btn btn_n_primary left tg_dz_fr" >
			<span>{{plan.name }}</span>&nbsp;
			<span class="money_size">{{money | number}}</span>元<span ng-show="plan.premium_type==2">起</span>
		</a>
	</div>
</div>
<div  class="mask" id="detail_mask_container"  style="display: none;z-index:100000">
		<div class="head-container">
			<span class="close" id="close"></span>
			<div class="fl ">
				<div class="small_img_ctrl"><img ng-src="{{data.small_image}}" ></div>
			</div>
			<div class="fl">
				<p >
					<span  style="font-size:18px;color:#ff5c00;">{{money | number}}元</span>
					
				</p>
				<p><span style="color: #ff5c00">*</span>最终购买价格</p>
				<p>以被保险人身份信息测算为准</p>
			</div>
			<div  style="clear:both;height: 1px;"></div>
	        <div class="head_ctrl">
	        <div class="select-container">
	        	<h4>出生日期</h4>
	        	<input type="date" class="date_ctrl"  min="{{minDate | date:'yyyy-MM-dd'}}" max="{{maxDate | date:'yyyy-MM-dd'}}" ng-model="user.birthday"  name="birthday"  placeholder="yyyy/MM/dd" ng-click="stopPro($event)">
	        </div>
	        <div class="select-container"> 
	        	<h4>性别</h4>
	        	<a href="javascript:void(0)" class="button button_primary sex_id" ng-click="changeSex($event,1)" ng-class="gender==1?'button_hover':''" data-sex="1">男</a>
	        	<a href="javascript:void(0)" class="button button_primary sex_id" ng-click="changeSex($event,2)"  ng-class="gender==2?'button_hover':''" data-sex="2">女</a>
	        </div>
			<div class="select-container">
				<h4>保障方案</h4>
				<a href="javascript:void(0)" class="button button_primary" ng-click="changeTaoCan($event,item)" ng-class="item.id==plan.id?'button_hover':''" ng-repeat="item in data.insurance_plans">{{item.name}}</a>
					<!--
		      <a href="javascript:void(0)" class="button button_primary button_hover">经济型</a>
				<a href="javascript:void(0)" class="button button_primary">实惠制</a>
				-->
			</div>
		    <!-- <div class="select-container">
				<h4>保额</h4>
				<a href="javascript:void(0)" class="button button_primary"   ng-click=""  ng-class=""  ></a>
			</div> -->
			<div class="select-container">
				<h4>保障期间</h4>
				<a href="javascript:void(0)" class="button button_primary"   ng-click="changeDuration($event,item)"  ng-class="item==coverage_period?'button_hover':''"  ng-repeat="item in maskSelectPlan.coverage_periods">{{item}}{{genDanwei(maskSelectPlan.coverage_period_type)}}</a>
			</div>

			<div class="select-container">
				<h4>缴费期间</h4>

				<a href="javascript:void(0)" class="button button_primary"  ng-click="changeFee($event,nul)"   ng-class="charge_period==null?'button_hover':''">一次交清</a>

				<a href="javascript:void(0)" class="button button_primary"  ng-click="changeFee($event,item)"   ng-class="item==charge_period?'button_hover':''"  ng-repeat="item in maskSelectPlan.charge_periods">{{item}}</a>
			</div>
			<!-- <div class="select-container">
				<h4>份数</h4>
				<ul class="grade">
					<li ng-click="stopPro($event)"><img src="img/minus-2.jpg" ></li>
					<li id="number">1</li>
					<li ng-click="stopPro($event)"><img src="img/plus.jpg"></li>
				</ul>
			</div> -->
			<div class="fix_container">
				<a href="javascript:void(0)"  style="height:45px;line-height: 45px;"  ng-click="submit()"  class="btn btn_n_primary">确定</a>
			</div>
		</div>
    </div>
</div>

<div class="mask " id="popup">
<div class="toast"></div>
</div>
<script>

$(function(){
 $("body").on("click",".td-left",function(){
    $("#popup").find(".toast").html($(this).find("img").attr("title"));
    $("#popup").show()
 });

 $("body").on("click",".more-1-container",function(){
 	 $(".know-content").children().removeClass("hide");
     $(this).hide();
 });
  $("body").on("click",".more_ctrl",function(){
 	 $(".qa-container").find("li").removeClass("hide");
     $(this).hide();
 });
  /*
  $("body").on("click",".more_coverages_button",function(){
  		var switchValue = $(this).attr("data-switch");
  		if(switchValue === 'on'){
	 		$(this).siblings().removeClass("ng-hide");
	 		$(this).find("span").html("收起");
	 		$(this).attr("data-switch","off");
	 		$(this).find("img").addClass("up");
  		}else{
  			$(this).siblings(":gt(6)").addClass("ng-hide");
	 		$(this).find("span").html("查看更多");
  			$(this).attr("data-switch","on");
  			$(this).find("img").removeClass("up");
  		}
 });*/


  $(".tail-container").on("click",".hd",function(){
  	$(".tail-header").find(".hd").removeClass("select");
  	$(this).addClass("select");
  	var index = $(this).index()
  	$("#template-container").children().hide();
  	$("#template-container").children(":eq("+index+")").show();
 });
/* $(".mask").click(function(){
    $(this).hide(); 
 });*/

})
</script>