<link rel="stylesheet" type="text/css" href="css/temai_detail.css?rev=149fb6b25102600cd9303f0e64722122">



<header>
	<div class="top-container">
		<div class="company">中国平安承保</div>
		<div class="text-container">	
			<div class="title">中国平安7天意外险</div>
			<div class="sub-title"><img src="img/temai/dun.png">&nbsp;7天保额<span class="red">50万</span>起</div>
		</div>
	</div>
	<div class="bottom-container">
		范围：交通意外，意外身故，意外死亡，意外挂掉意外挂掉意外挂掉意外挂掉意外挂掉意外挂掉意外挂掉意外挂掉意外挂掉意外挂掉意外挂掉	

	</div>
</header>

<div class="detail-content">
	<div class="btn-container">
		<div class="fl-3"><a href="javascript:;" class="weui_btn weui_btn_primary ">经典版</a></div>
			<div class="fl-3"><a href="javascript:;" class="weui_btn weui_btn_plain_default">尊贵版</a></div>

	</div>


	 <table class="content-table">
    <tr>
      <th width="70%">保障范围</th>
      <th>保额</th>
    </tr>

    <tr >
      <td class="td-left" style="cursor: pointer;">
       意外身故/伤残
        <img src="wx_share/img/help.jpg"  class="help-img"><br/>
        <span class="gray">含高风险运动</span>
        </td>
      <td>50万元</td>
    </tr>
  </table>
</div>

<div class="tail-container">
	<div class="tail-header">
		<div class="hd">产品说明</div>
		<div class="hd">投保须知</div>
		<div class="hd">常见问题</div>
	</div>
	<ul class="qa-container">
		<li class="qa-item">
			<div class="qa-icon"></div>	
			<div class="qa-content"></div>	
		</li>

	</ul>
</div>

<div class="cell pay_container ">
	<a href="javascript:void(0)" class="btn btn_n_primary right"  >立即投保</a>
	<a href="javascript:void(0)" class="btn btn_n_primary left tg_dz_fr" > 经典版 <span class="money_size">258</span> 元</a>
</div>