
<link rel="stylesheet" type="text/css" href="/css/temai_list.css?rev=0e539480736a12281b466e8fa72795cb">
<div class="nuobei_header">
	<div class="img_ctrl"><img src="/img/nuobei_header/logo640.png"></div>
	<div class="back_homePage"><a href="/#/index">回首页</a></div>
	<div class="concern" id="foucs_button">关 注</div>
</div>
<div cg-busy="listPromise">
<div class="nav" data-ng-init="init()" >
	<div class="item" ng-class='{"select":category_id==nav.id}'ng-repeat="nav in navItems" ng-click='getCateList(nav.id)'>{{nav.name}}</div>
</div>

<div class="insurance" >
	<div class="insurance-item"   ng-repeat="item in cateItems" ng-click="goCateDetail(item.id)">
		<div class="logo">
			<img class="insurance-image" ng-src="{{item.insurance_image_url}}">
			<div class="conpany-logo">
				<img ng-src="{{item.company_image_url}}">
			</div>
		</div>	
		<div class="wrap">
			<div class="title">{{item.name}}</div>	
			<div class="des"><span class="hot" ng-if="item.status==4">热卖</span><span class="special_offer" ng-if="item.status==5">特惠</span>  {{item.description}}</div>	
			<div class="money">{{item.front_price}}</div>	
		</div>	
	</div>
</div>
<ul ng-show="!isHaveResult" class="cell_font" style=" text-align: center;padding-top: 90px;" >
  <img src="/img/qidai.png" >
  <div style="font-size: 15px;color:#999;padding-top: 10px">产品即将上线</div>
  <div style="font-size: 15px;color:#555;">敬请期待</div>
</ul>
</div>