<style>
.swiper-container{
	line-height:0;
}
.swiper-container img{
		width:100%;
 }	
 
.swiper-container-horizontal>.swiper-pagination-bullets{
	bottom: 7px;
}
.swiper-pagination-bullet{
	background-color: #fff;
	opacity: 1;
	height:6px;
	width:6px;
}
.swiper-pagination-bullet-active{
	background-color: #fff;
	width:16px;
	height:6px;
	border-radius: 10px;
}

</style>
<div class="nuobei_header">
	<div class="img_ctrl"><img src="/img/nuobei_header/logo640.png"></div>
	<div class="back_homePage">每款产品都由诺贝严选</div>
	<div class="concern" id="foucs_button">关 注</div>
</div>
<!-- <header>
	<div  class="logo-container">
		<div class="logo">
			<img src="/img/temai/logo.png">
		</div>
	</div>
	<div class = "div_inline left">	每款产品都由诺贝严选</div>
	<a href="javascript:;" class="focus_btn right" id="foucs_button">关 注</a>
</header> -->
<div class="swiper-container" >
	<div class="swiper-wrapper">
		<div class="swiper-slide item " >
			<a href="/wx_share.html#index"><img src="http://7xvrkw.com1.z0.glb.clouddn.com/huodong-1.jpg"></a>
		</div>
		<div class="swiper-slide  item " >
			<a href="/wx_share.html#jixian"><img src="http://7xvrkw.com1.z0.glb.clouddn.com/huodong-2.jpg"></a>
		</div>
		<div class="swiper-slide  item " >
			<a href="/wx_share.html#special"><img src="http://7xvrkw.com1.z0.glb.clouddn.com/huodong_3.png"></a>
		</div>
	</div>
	
	<!-- Add Pagination -->
	<div class="swiper-pagination" style="text-align:center"></div>
</div>
<div class="nav">
	<a href="javascript:" class="item" id="showShare"><img src="/img/temai/nav-1.png"><div >0元抢</div></a>
	<a href="/wx_gl.html" class="item"><img src="/img/temai/nav-2.png"><div>怎么买</div></a>
	<a href="/index.html#/target" class="item"><img src="/img/temai/nav-3.png"><div>专属方案</div></a>
	<a href="/#temailist" class="item"><img src="/img/temai/nav-4.png"><div>更多保障</div></a>
</div>

<div class="recommend">
	<i class="iconfont" style="color:#ff5c00">&#xe61d;</i> 
	热门推荐		
</div>
<div  cg-busy="listPromise" data-ng-init="init()">
<div style="margin-bottom: 10px">
<div class="recommend-content" ng-repeat="category in categorys">
	<div class="introd" ng-click="goCategory(category.id)">
		<div class="box">
			<img ng-src="{{category.category_image_url}}"/>
			<div class="name">{{category.name}}</div>
			<div class="more">查看更多</div>
		</div>
	</div>
	<div class="recommend-container">
		<div class="flex-item" ng-click="goDetail(insurance.id)" ng-repeat="insurance in category.insurances">
			<div>
				<div class="title">{{insurance.name}}</div>
				<div class="des">
					<span class="hot" ng-if="insurance.status==4">热卖</span>
					<span class="special_offer" ng-if="insurance.status==5">特惠</span> {{insurance.description}}</div>
				<div class="money orange">{{insurance.front_price}}</div>
			</div>
		</div>	
	</div>
</div>
</div>
<!--
<div class=" btn_container" ng-show="loadReady">
	<a href="tel:4009920205" class="btn btn_n_primary "  ><img src="/img/temai/kefu.png"> <span>客服电话 </span>400-992-0205</a>
</div>
-->
<a href="tel:4009920205" ><div class="phone-container" style="margin:20px 0 70px;"><i class="iconfont">&#xe61e;</i>  客服电话 400-992-0205 </div></a>

<div class="fix_container select_btn " >
    <div class="cell_hd cell_primary " >
    <div class="cell-footer " ng-click="goIndex($event)"><i class="iconfont">&#xe61c;</i><div>首页</div></div>
    </div>
    <div class="cell_hd cell_primary">
      <div class="cell-footer hover" ng-click="goTemai($event)"><i class="iconfont">&#xe622;</i><div>严选</div></div>
    </div>
    <div class="cell_hd cell_primary">
      <div class="cell-footer" ng-click="goService($event)"><i class="iconfont">&#xe60a;</i><div>服务</div></div>
    </div>
</div>


</div>
<div class="qrcode-wrapper">
	<div class="qrcode-container" >
		<!-- <img src="/img/temai/qcode_big.png" srcset="/img/temai/qcode_min.png 568w, /img/temai/qcode_big.png 667w, /img/temai/qcode_big.png 736w">	 -->
		 <img src="/img/temai/new_qrcode.png" >
	</div>
</div>
<script>
  var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplay:5000,
        loop : true
    });
</script>