<div cg-busy="prePromise" class="toubao_new_ctrl">
<form class="" role="form" name="tbform" novalidate>
<div class="main-wrapper"  data-ng-init="init()"  >
	<div class="people-container" ng-click="goRoute()">
		<div ng-show="isFirst" class="default-info">
			<div>请填写被保人、投保人信息</div>				
		</div>
		<div ng-show="!isFirst">
			<div class="name">{{data.insured.username}}<span class="tag">被保人<span class="insured">（{{userRelation}}）</span></span></div>
			<div class="mobile">手机号：{{data.insured.mobile}}</div>
			<div class="card">证件号：{{data.insured.social_id}}</div>
			<div >投保人：{{data.user.username}}<!-- (被保人{{userRelation}}) --></div>
			<div>受益人：法定受益人</div>	
			
		</div>
	</div>


	<div class="solution-title" ng-if="data.effective_date">

		<div class="icon-clock"></div>&nbsp;方案生效时间 <span class="fr"><input type="date" name="effectivedate" ng-model="user.effective_date" ng-change="genPlansInEffectiveDate()"   min="{{minDate | date:'yyyy-MM-dd'}}" max="{{maxDate | date:'yyyy-MM-dd'}}"   class="ipt"   placeholder="请输入目的地" required></span>
	</div>
	

	<ul class="toubao-container">
		<li ng-repeat="plan in data.plans">
			<div class="product">	
				<div class="name">{{plan.name}}</div>	
				<div class="duration" ng-show="plan.startDate && plan.endDate">{{plan.startDate | date:'yyyy-MM-dd'}}至{{plan.endDate | date:'yyyy-MM-dd'}}</div>
				<div class="reason">{{getTaocanReason(plan.status)}}</div>

				<div class="reason"  ng-show="tbform.effectivedate.$dirty && tbform.effectivedate.$invalid ">
					<small class="error" ng-show="tbform.effectivedate.$error.required">生效日期必填</small>
					<small class="error" ng-show="tbform.effectivedate.$error.min">生效日期不得早于{{minDate | date:'yyyy-MM-dd'}}</small>
					<small class="error" ng-show="tbform.effectivedate.$error.max">生效日期不得大于{{maxDate | date:'yyyy-MM-dd'}}</small>
				</div>
				<div class="money">保额:{{processSpecialMoney(plan.sum_insured)}}  &nbsp;&nbsp;保{{coverage_period ||  plan.coverage_period}}{{getCoverageType(plan.coverage_period_type)}}</div>
			</div>
			<div class="money-container">
				<span class="fee">{{plan.premium}}元</span>		<span class="fr" style="display: none">20年交清  <span class="modify">修改</span></span>
			</div>
		</li>
	</ul>
	<div class="supply-info" ng-if="data.address || data.car_no || data.destination || data.flight_no ">
		<div class="title" >补充信息</div>



		<div class="supply-item" ng-if="data.address">
			<div class="introd">地址</div>
			<div class="content"><input type="text" name="address" ng-model="user.address" class="ipt"   placeholder="请输入地址" required></div>
		</div>
		<div class="supply-item"  style="color:red" ng-show="tbform.address.$dirty && tbform.address.$invalid ">
			<small class="error" ng-show="tbform.address.$error.required">地址必填</small>
		</div>


		<div class="supply-item" ng-if="data.flight_no">
			<div class="introd">航班号</div>
			<div class="content"><input type="text" name="flight_no" ng-model="user.flight_no" class="ipt"   placeholder="请输入航班号" required></div>
		</div>
		<div class="supply-item"  style="color:red" ng-show="tbform.flight_no.$dirty && tbform.flight_no.$invalid ">
			<small class="error" ng-show="tbform.flight_no.$error.required">航班号必填</small>
		</div>



		<div class="supply-item" ng-if="data.car_no">
			<div class="introd">车牌号</div>
			<div class="content"><input type="text" name="car_no"  ng-model="user.car_no"   class="ipt"   placeholder="请输入车牌号" required></div>
		</div>
		<div class="supply-item"  style="color:red" ng-show="tbform.car_no.$dirty && tbform.car_no.$invalid ">
			<small class="error" ng-show="tbform.car_no.$error.required">车牌号必填</small>
		</div>

		<div class="supply-item" ng-if="data.destination">
			<div class="introd">目的地</div>
			<div class="content"><input type="date" name="destination"  ng-model="user.destination"   class="ipt"   placeholder="请输入目的地" required></div>
		</div>

		<div class="supply-item"  style="color:red" ng-show="tbform.destination.$dirty && tbform.destination.$invalid ">
			<small class="error" ng-show="tbform.destination.$error.required">地址必填</small>
		</div>

	</div>
	</div>

	<div class="tip">
		<input type="checkbox" class="know-contract" ng-model="know_contract" name="know_contract"  >
		我已经阅读<a href="/ybwx-web/api/web_page/15">《平台服务协议》</a>及<a href="javascript:" ng-click="goTermsList()">《产品条款》</a>
	</div>
	</form>
</div>


<div class="fix_container">
		<div class="footer">
		<a href="javascript:void(0)" class="btn btn_n_primary left" >投保金额<span class="money">  {{money}}</span>元</a>
		<a href="javascript:void(0)" class="btn btn_n_primary right" ng-click="submit()">立即投保</a>
		</div>
</div>


