<link rel="stylesheet" type="text/css" href="css/toubao.css?rev=b3f088343573de3eac27a816273a331a">

<div class="job_main" id="job_container_1" style="display:none"  cg-busy="firstPromise" >
	<h4>请选择行业类型</h4>
	<div  style="margin-bottom: 30px;overflow: auto;">
		<div class="cell_td cell_hd_border select_bg" ng-repeat="item in data.industries" ng-click="showJobSecond(item.id)" >
			<div class="content">{{item.name}}</div>

		</div>
	</div>
</div>

<div class="job_main" id="job_container_2" style="display:none"  cg-busy="secondPromise" >
	<h4>请选择详细行业</h4>
	<div style="margin-bottom: 30px;overflow: auto;">
		<div class="cell_td cell_hd_border select_bg" ng-repeat="item in data.occupations" ng-click="showJobThird(item.id,item.name);" >{{item.name}}</div>
	</div>
</div>

<div class="job_main" id="job_container_3" style="display:none"  cg-busy="thirdPromise" >
	<h4>请选择详细行业</h4>
	<div style="margin-bottom: 30px;overflow: auto;">
		<div class="cell_td cell_hd_border " ng-repeat="item in data.jobs" ng-click="confirmJob(item);" >{{item.name}}</div>
	</div>
</div>
<!--
<div class="job_main" id="job_container_3" style="display:none"  cg-busy="thirdPromise" >
<h4>是否从事以下职业</h4>
<table>
	<tr ng-repeat="jobs in data.jobsArray">
		<td ng-repeat="item in jobs">
			<div class="squre"></div>
			{{item.name}}
		</td>
	</tr>
</table>
<div class="cell " style="margin-top:30px;">
	<div class="cell_hd  cell_primary" >
		<a href="javascript:void(0)" class="btn btn_n_primary " style="height:35px;line-height: 35px;"  ng-click="yesJob()" >是</a>
	</div>
	<div class="cell_hd  "  style="width:100px;"></div>
	<div class="cell_hd  cell_primary" >
		<a href="javascript:void(0)" class="btn btn_blue_default "  style="height:35px;line-height: 35px;"   ng-click="noJob()" >否</a>
	</div>
</div>
</div>
-->
<div   id="self_container"  style="display:none" >
<form class="" role="form" name="userForm" novalidate>
	<h4>完善您的资料</h4>
	<h6>完善投保人资料才能投保</h6>
	<div class="cell ">
		<div class="cell_hd" style="padding-right:20px;">姓&emsp;名</div>
		<div class="cell_hd cell_hd_border cell_primary">
			<input type="text" class="ipt" ng-minlength="1"  onfocus="_hmt.push(['_trackEvent', 'toubao', 'toubao_selfpopup_name_focus']);"  name="username" ng-model="user.username" placeholder="投保人姓名"  required chinese ></div>

	</div>
	<div class="cell"  style="color:red"
            ng-show="userForm.username.$dirty && userForm.username.$invalid">
		<small class="error" 
            ng-show="userForm.username.$error.required">姓名必填</small>
		<small class="error"  ng-show="userForm.username.$error.chinese">姓名必须是汉字!</small>
	</div>

	<div class="cell ">
		<div class="cell_hd" style="padding-right:20px;">身份证</div>
		<div class="cell_hd cell_hd_border cell_primary">
			<input type="text" class="ipt"  onfocus="_hmt.push(['_trackEvent', 'toubao', 'toubao_selfpopup_social_id_focus']);"    ng-minlength="18" ng-maxlength="18" name="social_id" ng-model="user.social_id" placeholder="投保人身份证号码" required></div>
	</div>
	<div class="cell"  style="color:red" 
            ng-show="userForm.social_id.$dirty && userForm.social_id.$invalid ">
		<small class="error" ng-show="userForm.social_id.$error.required">身份证必填</small>
		<small class="error" 
                ng-show="userForm.social_id.$error.minlength">身份证必须是18位</small>
		<small class="error" 
                ng-show="userForm.social_id.$error.maxlength">身份证必须是18位</small>
	</div>
	<div class="cell ">
		<div class="cell_hd" style="padding-right:20px;">手机号</div>
		<div class="cell_hd cell_hd_border cell_primary">
			<input type="number" class="ipt"   onfocus="_hmt.push(['_trackEvent', 'toubao', 'toubao_selfpopup_mobile_focus']);"   ng-minlength="11" ng-maxlength="11" name="mobile" ng-model="user.mobile" placeholder="" required></div>
	</div>

	<div class="cell"  style="color:red"
            ng-show="userForm.mobile.$dirty && userForm.mobile.$invalid ">
		<small class="error" ng-show="userForm.mobile.$error.required">手机号必填</small>
		<small class="error" 
                ng-show="userForm.mobile.$error.minlength">手机号必须是11位数字</small>
		<small class="error" 
                ng-show="userForm.mobile.$error.maxlength">手机号必须是11位数字</small>
	</div>
	<div class="cell">
		<a href="javascript:void(0)" class="btn btn_n_new_primary "   ng-click="submitbt('userForm')" style="">确认投保</a>
	</div>
</form>
</div>

<div   id="family_container"   style="display:none">
<h4>请选择保险人</h4>
<form class="" role="form" name="familyForm" novalidate style="margin-bottom: 50px;" >

	<table>
		<tr style="border-bottom: 1px solid #efefef"  ng-repeat="family in familys">
			<td ng-click="choose($event)">
				<input type="radio"  ng-model="family_select" name="family_radio" value="{{$index}}" style="width:25px;vertical-align: middle;"></td>
			<td ng-click="choose($event)">{{family.username}}</td>
			<td ng-click="choose($event)">{{family.mobile}}</td>
			<td ng-click="choose($event)">{{family.relation.name}}</td>
			<td ng-click="deleteFamily($event)" class="delete "></td>
		</tr>
	</table>
</form>
<div class="cell">
	<a href="javascript:void(0)" class="btn btn_n_new_primary "   ng-click="selectFamily()" style="">确定</a>
</div>
</div>

<div class="main"  data-ng-init="init()" >
<form class="" role="form" name="order" novalidate>

	<div class="sub_title ">
		<img src="img/safe.jpg" class="tb_logo">被保险人</div>

	<div class="sub_title " ng-show="!view.family" style="color:#f13838;padding-left: 17px;display:none;">&nbsp;仅支持为自己投保</div>

	<div class="cell " id="select_toubao" ng-show="view.family">

		<div class="cell_hd  cell_primary" style="padding-right: 30px;">
			<a href="javascript:void(0)" class="btn   btn_n_primary   btn_small"  data-for="self" ng-click="setTbFor('1')" >为自己</a>
		</div>
		<div class="cell_hd  cell_primary" >
			<a href="javascript:void(0)" class="btn  btn_blue_default btn_small" data-for="family"  ng-click="setTbFor('2')">为他人</a>
		</div>
	</div>

	<div class="cell ">
		<div class="cell_hd ">
			<div class="cell_hd_2_word">姓名</div>
		</div>
		<div class="cell_hd cell_hd_border cell_primary"  ng-class="tbFor==='2' && familys.length>
			0 ? 'boder_right_none' : ''" >
			<input type="text" class="ipt" onfocus="_hmt.push(['_trackEvent', 'toubao', 'toubao_name_focus']);" ng-minlength="1" name="username" ng-model="insured.username" placeholder="请输入被保人姓名"   required chinese ></div>
		<div class="cell_hd cell_hd_border "  style="width:100px;" ng-class="tbFor==='2' && familys.length>
			0 ? 'boder_left_none' : ''"  ng-show="tbFor==='2' && familys.length>0" ng-click="showFamily()">
			<img src="img/person.png" style="width:20px;vertical-align: middle;"></div>
	</div>
	<div class="cell"  style="color:red"
            ng-show="order.username.$dirty && order.username.$invalid">
		<small class="error" 
            ng-show="order.username.$error.required">姓名必填</small>
		<small class="error"  ng-show="order.username.$error.chinese">姓名必须是汉字!</small>
	</div>

	<div id="familyContainer" style="display:none;">
		<div class="cell ">
			<div class="cell_hd ">
				<div class="cell_hd_4_word">他是您的</div>
			</div>
			<div class="cell_hd cell_hd_border cell_primary" >
				<select    class="weui_select select_bg_2"  onfocus="_hmt.push(['_trackEvent', 'toubao', 'toubao_relation_focus']);"    ng-model="insured.relation"  ng-options="option.name for option in relations track by option.value"     style="font-size:15px;padding-left:5px;"></select>
			</div>
		</div>
	</div>

	<div class="cell ">
		<div class="cell_hd " >
			<div class="cell_hd_3_word">身份证</div>
		</div>
		<div class="cell_hd cell_hd_border cell_primary">
			<input type="text" class="ipt"  placeholder="请输入被保人身份证"   onfocus="_hmt.push(['_trackEvent', 'toubao', 'toubao_social_id_focus']);"     ng-minlength="18" ng-maxlength="18" name="social_id" ng-model="insured.social_id" placeholder="" ng-blur="getPlans(true)"  required></div>
	</div>
	<div class="cell"  style="color:red" 
            ng-show="order.social_id.$dirty && order.social_id.$invalid ">
		<small class="error" ng-show="order.social_id.$error.required">身份证必填</small>
		<small class="error" 
                ng-show="order.social_id.$error.minlength">身份证必须是18位</small>
		<small class="error" 
                ng-show="order.social_id.$error.maxlength">身份证必须是18位</small>
	</div>

	<div class="cell ">
		<div class="cell_hd">
			<div class="cell_hd_3_word">手机号</div>
		</div>
		<div class="cell_hd cell_hd_border cell_primary">
			<input type="number" class="ipt"   onfocus="_hmt.push(['_trackEvent', 'toubao', 'toubao_mobile_focus']);" placeholder="用于接收保单信息"    ng-minlength="11" ng-maxlength="11" name="mobile" ng-model="insured.mobile" placeholder="" required></div>
	</div>

	<div class="cell"  style="color:red"
            ng-show="order.mobile.$dirty && order.mobile.$invalid ">
		<small class="error" 
            ng-show="order.mobile.$error.required">手机号必填</small>
		<small class="error" 
                ng-show="order.mobile.$error.minlength">手机号必须是11位数字</small>
		<small class="error" 
                ng-show="order.mobile.$error.maxlength">手机号必须是11位数字</small>
	</div>

	<div class="sub_title " ng-show="view.job || view.email || view.car_no">
		<img src="img/safe.jpg" class="tb_logo">补充信息</div>
	<div class="cell "  ng-show="view.job">
		<div class="cell_hd " >
			<div class="cell_hd_2_word">行业</div>
		</div>
		<div class="cell_hd cell_hd_border cell_primary select_bg_2" style="padding-left: 5px;font-size:15px;"  ng-click="showJobFirst();">{{job.name}}</div>
	</div>

	<div ng-show="view.email">
		<div class="cell ">
			<div class="cell_hd">
				<div class="cell_hd_2_word">邮箱</div>
			</div>
			<div class="cell_hd cell_hd_border cell_primary">
				<input type="email" class="ipt"   onfocus="_hmt.push(['_trackEvent', 'toubao', 'toubao_email_focus']);"   name="email" ng-model="insured.email" placeholder="输入电子邮箱" required></div>
		</div>
		<div class="cell"  style="color:red" ng-show="order.email.$dirty && order.email.$invalid ">
			<small class="error" ng-show="order.email.$error.required">邮箱必填</small>
			<small class="error" ng-show="order.email.$error.email">邮件格式不正确</small>
		</div>
	</div>

	
	<div ng-show="view.address">
		<div class="cell ">
			<div class="cell_hd">
				<div class="cell_hd_2_word">城市</div>
			</div>
			<div class="cell_hd cell_hd_border cell_primary">
				<input type="text" class="ipt"   onfocus="_hmt.push(['_trackEvent', 'toubao', 'toubao_address_focus']);"   name="address" ng-model="insured.address" placeholder="输入所在城市" required></div>
		</div>
		<div class="cell"  style="color:red" ng-show="order.address.$dirty && order.address.$invalid ">
			<small class="error" ng-show="order.address.$error.required">地址必填</small>
			<small class="error" ng-show="order.address.$error.email">地址格式不正确</small>
		</div>
	</div>



	<div ng-show="view.car_no">
		<div class="cell ">
			<div class="cell_hd " >
				<div class="cell_hd_3_word">车牌号</div>
			</div>
			<div class="cell_hd cell_hd_border cell_primary">
				<input  type="text" class="ipt"  placeholder="输入车牌号"   onfocus="_hmt.push(['_trackEvent', 'toubao', 'toubao_car_no_focus']);"    ng-minl name="car_no" ng-model="insured.car_no" placeholder="" required></div>
		</div>
		<div class="cell"  style="color:red" 
            ng-show="order.car_no.$dirty && order.car_no.$invalid ">
			<small class="error" ng-show="order.car_no.$error.required">车牌号必填</small>
		</div>
	</div>

	<div class="sub_title ">
		<img src="img/safe.jpg" class="tb_logo">投保方案</div>
	<div class="cell ">
		<div class="cell_hd " >
			<div class="cell_hd_4_word">生效时间</div>
		</div>
		<div class="cell_hd cell_hd_border cell_primary">
			<input type="date" class="ipt select_bg_2"   onfocus="_hmt.push(['_trackEvent', 'toubao', 'toubao_effective_date_focus']);"    name="effective_date" ng-model="user.effective_date"   placeholder="yyyy/MM/dd" min="{{minDate | date:'yyyy-MM-dd'}}" max="{{maxDate | date:'yyyy-MM-dd'}}" ng-change="changeEffectiveDate()"  placeholder="保险生效时间" required ></div>
	</div>
	<div class="cell"  style="color:red"
            ng-show="order.effective_date.$dirty && order.effective_date.$invalid ">
		<small class="error" ng-show="order.effective_date.$error.required">生效日期必填</small>
		<small class="error" ng-show="order.effective_date.$error.min">生效日期小于产品的最小要求</small>
		<small class="error" ng-show="order.effective_date.$error.max">生效日期超过产品的最大要求</small>
	</div>

	<div class="cell ">
		<div class="cell_hd " >
			<div class="cell_hd_4_word">失效时间</div>
		</div>
		<div class="cell_hd cell_hd_border cell_primary" style="font-size:15px;padding-left:6px;">{{user.inEffective_date | date:'yyyy/MM/dd'}}</div>
	</div>

	<div   cg-busy="planPromise" >
		<table>
			<tr class="bd_th">
				<th class="main_color" style="width:50%;">产品</th>
				<th class="main_color">保额</th>
				<th></th>
				<th class="main_color" style="text-align: right">保费</th>
			</tr>

			<tr class="bd_tr" ng-repeat="plan in plans">
				<td>
					{{plan.name}}
					<br/>
					<a href="/ybwx-web/api/web_page/{{plan.provision_page_id}}">
						<span class="blue">保险须知及保险条款</span>
					</a>
				</td>
				<td >{{process_insured_money(plan.sum_insured)}}</td>
				<td>1份</td>
				<td class="red" style="text-align: right" >
					<span ng-if="plan.status==1">{{plan.premium/100}}元</span>
					<div class="status {{get_taocan_css(plan.status)}}">{{taocan_status(plan.status)}}</div>
				</td>
			</tr>
			<tr style="font-size: 19px;font-size: 15px;">
				<td colspan="2" style="text-align: left;color: #ff5c00;"><span style="color: #555;">共计</span>
					{{premium/100}}元&emsp;&emsp;{{coverage_period}}{{genDanwei(coverage_period_type)}}
				</td>
			</tr>
		</table>
	</div>

	<div class="cell_title "  style="font-size: 0.16rem;margin-bottom: 0.7rem;">
		<input type="checkbox" style="width:20px;height:20px; vertical-align:middle;" ng-model="know_contract" name="know_contract"  >
		<a href="/ybwx-web/api/web_page/15" style="color:#000;">
			已阅读
			<span class="blue">《平台服务协议》</span>
			和保险条款
		</a>
	</div>

</form>
</div>

<div class="cell pay_container"  >
	<a href="javascript:void(0)" class="btn btn_n_primary right"  ng-click="submitbt()" id="submitButton" >确认投保</a>
	<a href="javascript:void(0)" class="btn btn_n_primary left tg_dz_fr"   id="submitButton" >共计  <span class="money_size">{{premium/100}}</span> 元</a>
</div>

<script type="text/javascript">

	$("#person").click(function(){
		$(".mask").show();
	})

	$(".mask").click(function(){
		$(this).hide();
	})
	$("#select_toubao").find("a").click(function(){
		$("#select_toubao").find("a").removeClass("btn_n_primary").addClass("btn_blue_default");
		$(this).removeClass("btn_blue_default");
		$(this).addClass("btn_n_primary");
		if($(this).attr("data-for")==="family"){
			$("#familyContainer").show();
			//$("#job_container").hide();
		}else{
			$("#familyContainer").hide();
			//$("#job_container").show();
		}
	})

</script>