<div cg-busy="prePromise" class="toubao_new_ctrl">
	<form class="" role="form" name="tbform" novalidate>
		<div class="main-wrapper"  data-ng-init="init()"  >
			<div class="people-container" ng-click="goRoute()">
				<div ng-show="isFirst" class="default-info">
					<div>请填写被保人、投保人信息</div>				
				</div>
				<div ng-show="!isFirst">
					<div class="name">{{data.insured.username}}<span class="tag">被保人<span class="insured">（{{userRelation}}）</span></span></div>
					<div class="mobile">手机号：{{data.insured.mobile}}</div>
					<div class="card">证件号：{{data.insured.social_id}}</div>
					<div >投保人：{{data.user.username}}<!-- (被保人{{userRelation}}) --></div>
					<div>受益人：法定受益人</div>	
					
				</div>
			</div>
			<div class="solution-title" ng-if="data.effective_date">
				<i class="iconfont" style="color:#ABABAB;font-size: 17px;vertical-align: -2px;">&#xe61f;</i>&nbsp;方案生效时间 <span class="fr"><input type="date" name="effectivedate" ng-model="user.effective_date" ng-change="genPlansInEffectiveDate()"   min="{{minDate | date:'yyyy-MM-dd'}}" max="{{maxDate | date:'yyyy-MM-dd'}}"   class="ipt"   placeholder="请输入目的地" required></span>
			</div>
			<ul class="toubao-container">
				<li ng-repeat="plan in data.plans">
					<div class="product">	
						<div class="name">{{plan.name}}</div>	
						<div class="duration" ng-show="plan.startDate && plan.endDate && plan.coverage_period_type!=1">{{plan.startDate | date:'yyyy-MM-dd'}}至{{plan.endDate | date:'yyyy-MM-dd'}}</div>
						<div class="reason">{{getTaocanReason(plan.status)}}</div>

						<div class="reason"  ng-show="tbform.effectivedate.$dirty && tbform.effectivedate.$invalid ">
							<small class="error" ng-show="tbform.effectivedate.$error.required">生效日期必填</small>
							<small class="error" ng-show="tbform.effectivedate.$error.min">生效日期不得早于{{minDate | date:'yyyy-MM-dd'}}</small>
							<small class="error" ng-show="tbform.effectivedate.$error.max">生效日期不得大于{{maxDate | date:'yyyy-MM-dd'}}</small>
						</div>
						<div class="money">保额:{{processSpecialMoney(plan.sum_insured)}}  &nbsp;&nbsp;<span ng-show="plan.coverage_period_type!=1">保{{coverage_period ||  plan.coverage_period}}</span>{{getCoverageType(plan.coverage_period_type)}}</div>
					</div>
					<div class="money-container">
						<span class="fee">{{plan.premium}}元</span>		<span class="fr" style="display: none">20年交清  <span class="modify">修改</span></span>
					</div>
				</li>
			</ul>

			<div class="supply-info" ng-show="data.address || data.car_no || data.destination || data.flight_no || data.bank">

			<!-- <div class="supply-info" > -->
			<div class="title" ><i class="iconfont" style="color: #999;font-size: 17px;margin-right: 5px;vertical-align: -1px;">&#xe611;</i>补充信息</div>
			<div class="new-supply-item" >
				<div class="introd">职业</div>
				<div class="content"><select class="content" ><option id="first_option_color">请选择职业</option><option data-value="{{jobs.job_id}}" ng-repeat="jobs in data.jobs">{{jobs.job_name}}</option></select></div>
				<div class="danwei"><i class="iconfont" style="color: #ccc;font-size: 17px;margin-left: 10px;">&#xe60f;</i></div>
			</div>
			<div class="new-supply-item" ng-if="data.email">
				<div class="introd">电子邮箱</div>
				<div class="content"><input type="text" placeholder="例：example@nuobei.cn" name="height" ng-model="user.email" class="new-input"  required></div>
			</div>
			<div data-toggle="distpicker" ng-show="data.prov_city_id">
				<div class="new-supply-item">
					<div class="introd">居住省份</div>
					<select class="content city" id="province1"></select>
					<div class="danwei"><i class="iconfont" style="color: #ccc;font-size: 17px;margin-left: 10px;">&#xe60f;</i></div>
				</div>
				<div class="new-supply-item">
					<div class="introd">居住市</div>
					<select class="content city" id="city1"></select>
					<div class="danwei"><i class="iconfont" style="color: #ccc;font-size: 17px;margin-left: 10px;">&#xe60f;</i></div>
				</div>
				<div class="new-supply-item">
					<div class="introd ">居住县/区</div>
					<select class="content city" id="district1"></select>
					<div class="danwei"><i class="iconfont" style="color: #ccc;font-size: 17px;margin-left: 10px;">&#xe60f;</i></div>
				</div>
			</div>
			<div class="new-supply-item" ng-if="data.address">
				<div class="introd">详细地址</div>
				<div class="content"><input type="text" placeholder="请输入详细地址,具体到门牌号" name="height" ng-model="user.address" class="new-input"  required></div>
			</div>
	 		<div class="new-supply-item" ng-if="data.height">
				<div class="introd">身高</div>
				<div class="content"><input type="text" name="height" placeholder="请如实填写身高,方便后续理赔" ng-model="user.height" class="new-input"  required></div>
				<div class="danwei" style="color: #999;">CM</div>
			</div>
			<div class="wrong-item"   ng-show="tbform.height.$dirty && tbform.height.$invalid ">
				<div class="introd"></div>
				<div class="content"><small class="error" ng-show="tbform.height.$error.required">身高必填</small></div>
			</div>
			<div class="new-supply-item new-supply-item--last" ng-if="data.weight">
				<div class="introd">体重</div>
				<div class="content"><input type="text" name="weight"  placeholder="请如实填写体重,方便后续理赔" ng-model="user.weight" class="new-input"  required></div>
				<div class="danwei" style="color: #999;">KG</div>
			</div>
			<div class="wrong-item"   ng-show="tbform.weight.$dirty && tbform.weight.$invalid ">
				<small class="error" ng-show="tbform.weight.$error.required">身高必填</small>
			</div>
			<div class="kong"></div>
			<!--
			<div class="new-supply-item" >
				<div class="introd">手机号</div>
				<div class="content"><input type="text" name="mobile-number" ng-model="mobilenumber" class="new-input" placeholder="银行开卡时预留手机号"  required></div>
			</div>
			<div class="new-supply-item" >
				<div class="content"><input type="text" name="qcode" ng-model="qcode" class="new-input" placeholder="请填写手机验证码"  required></div>
				<div class="introd" style="color:#55a5ff">获取验证码</div>
			</div> -->
			<!-- <div class="supply-item" ng-if="data.address">
				<div class="introd">地址</div>
				<div class="content"><input type="text" name="address" ng-model="user.address" class="ipt"   placeholder="请输入地址" required></div>
			</div> -->
			<div class="supply-item"  style="color:red" ng-show="tbform.address.$dirty && tbform.address.$invalid ">
				<small class="error" ng-show="tbform.address.$error.required">地址必填</small>
			</div>
			<div class="supply-item" ng-if="data.flight_no">
				<div class="introd">航班号</div>
				<div class="content"><input type="text" name="flight_no" ng-model="user.flight_no" class="ipt"   placeholder="请输入航班号" required></div>
			</div>
			<div class="supply-item"  style="color:red" ng-show="tbform.flight_no.$dirty && tbform.flight_no.$invalid ">
				<small class="error" ng-show="tbform.flight_no.$error.required">航班号必填</small>
			</div>
			<div class="supply-item" ng-if="data.car_no">
				<div class="introd">车牌号</div>
				<div class="content"><input type="text" name="car_no"  ng-model="user.car_no"   class="ipt"   placeholder="请输入车牌号" required></div>
			</div>
			<div class="supply-item"  style="color:red" ng-show="tbform.car_no.$dirty && tbform.car_no.$invalid ">
				<small class="error" ng-show="tbform.car_no.$error.required">车牌号必填</small>
			</div>
			<div class="supply-item" ng-if="data.destination">
				<div class="introd">目的地</div>
				<div class="content"><input type="date" name="destination"  ng-model="user.destination"   class="ipt"   placeholder="请输入目的地" required></div>
			</div>
			<div class="supply-item"  style="color:red" ng-show="tbform.destination.$dirty && tbform.destination.$invalid ">
				<small class="error" ng-show="tbform.destination.$error.required">地址必填</small>
			</div>
	        <div class="title" ng-if="data.bank_account"><i class="iconfont" style="color: #999;font-size: 17px;margin-right: 8px;vertical-align: -1px;">&#xe631;</i>银行卡信息<span class="state">用于期交产品后期续费</span></div>
			<div class="new-title" ng-if="data.bank"></div>
	 		<div class="new-supply-item" ng-if="data.bank_account">
				<div class="introd">银行</div>
				<div class="content"> <select  type="text" ng-model="user.bank" name="bank"    ng-options="option.name for option in banks track by option.id" class="new-input" placeholder="请选择银行"  required></select> </div>
				<div class="danwei"><i class="iconfont" style="color: #ccc;font-size: 17px;margin-left: 10px;">&#xe60f;</i></div>
			</div>
	 		<div class="new-supply-item" ng-if="data.bank_card_no
">
				<div class="introd">持卡人</div>
				<div class="content"><input type="text" name="bankusername" ng-model="user.bankusername" class="new-input" placeholder="持卡人必须是投保人本人"  required></div>
			</div>
			<div class="new-supply-item new-supply-item--last" ng-if="data.bank_card_no">
				<div class="introd">银行账号 </div>
				<div class="content"><input type="text" name="bankcardno" ng-model="user.bankcardno" class="new-input" placeholder="请输入银行账号"  required></div>
			</div>
		</div></div>

	<div class="tip">
		<input type="checkbox" class="know-contract" ng-model="know_contract" name="know_contract"  >
			
		我已经阅读<a onclick="_hmt.push(['_trackEvent', 'toubaonew', 'toubaonew_goXieyi'])" href="/ybwx-web/api/web_page/15">《平台服务协议》</a>及<a href="javascript:" ng-click="goTermsList()">《产品条款》</a>
	</div>
	</form>
</div>


<!-- <div class="fix_container">
		<div class="footer">
		<a href="javascript:void(0)" class="btn btn_n_primary left" >投保金额<span class="money">  {{money}}</span>元</a>
		<a href="javascript:void(0)" class="btn btn_n_primary right" ng-click="submit()">立即投保</a>
		</div>
</div> -->
<div class="sx-bzts_bottom">
	<div class="sx-bzts_bottom-word" style="">
		投保金额 <span class="buttom_money">{{money}}</span> 元
	</div>
	<div class="sx-bzts_bottom-btn btn_n_primary liji right" ng-click="submit()">立即投保</div>
</div>
<script  src="/js/city.js"></script>