<link rel="stylesheet" href="/css/recognizee.css?rev=11a5520b7647fca8f36a23d804640ec3">
<div class="recognizee_contrl">
	<ul class="delete">
		<li>被保人资料</li>
		<li ng-click="deleteMessage()" ng-show="method=='edit'">删 除</li>
	</ul>
	<div class="regenizee_main">
		<form  role="form" name="userform" novalidate >
			<div class="bottom_line">
				<ul>
					<li class="lable">姓名</li>
			
					<input type="text" onclick="_hmt.push(['_trackEvent', 'update_add_contact', 'update_add_contact_name'])" ng-model="username"  name="username" onfocus="this.placeholder=''" onblur="this.placeholder='请输入被保人姓名'" placeholder="请输入被保人姓名" required chinese >
			    </ul>
			    <div class="cell"  style="color:red" ng-show="userform.username.$dirty && userform.username.$invalid">
					<small class="error" ng-show="userform.username.$error.required">姓名必填</small>
					<small class="error"  ng-show="userform.username.$error.chinese">姓名必须是汉字</small>
				</div>
			</div>
			
			<div class="bottom_line">
				<ul>
					<li>身份证号</li><input type="text"  onclick="_hmt.push(['_trackEvent', 'update_add_contact', 'update_add_contact_id'])" ng-model="social_id" name="social_id" onfocus="this.placeholder=''" onblur="this.placeholder='请输入投保人的身份证号'" placeholder="请输入被保人身份证号" required  ng-minlength="18" ng-maxlength="18" >
				</ul>
				<div class="cell"  style="color:red" ng-show="userform.social_id.$dirty && userform.social_id.$invalid ">
						<small class="error" ng-show="userform.social_id.$error.required">身份证必填</small>
						<small class="error" ng-show="userform.social_id.$error.minlength">身份证必须是18位</small>
						<small class="error" ng-show="userform.social_id.$error.maxlength">身份证必须是18位</small>
				</div>
		    </div>
			<div class="bottom_line">
				<ul>
					<li>手机号码</li><input type="text" onclick="_hmt.push(['_trackEvent', 'update_add_contact', 'update_add_contact_number'])" ng-model="mobile" name="mobile" placeholder="用于接收保单信息" ng-minlength="11" ng-maxlength="11" required >
				</ul>
				<div class="cell"  style="color:red" ng-show="userform.mobile.$dirty && userform.mobile.$invalid ">
					<small class="error" 
			            ng-show="userform.mobile.$error.required">手机号必填</small>
					<small class="error" 
			                ng-show="userform.mobile.$error.minlength">手机号必须是11位数字</small>
					<small class="error" 
			                ng-show="userform.mobile.$error.maxlength" >手机号必须是11位数字</small>
				</div>
			</div>
	    </form>
		<ul class="weui_cell">
			<li>他是您的</li>
		
			
			<select id="relation" onclick="_hmt.push(['_trackEvent', 'update_add_contact', 'update_add_contact_ralation'])" ng-model="relation"   ng-options="option.name for option in relations track by option.id" >
					
					
			<!-- 	<option value="1" selected="selected">本人</option>
				<option value="2">父母</option>
				<option value="3">子女</option>
				<option value="4">配偶</option>
				<option value="5">同事</option>
				<option value="6">其他</option> -->

				<img  style="width: 14px;" src="/img/down_jian.jpg">
			</select>
		</ul>
		<!-- <ul class="moren">
			<li>设为默认被保人</li>
            <div class="weui_cell_ft">
                <input class="weui_switch" id="checkbox" ng-click="getState()" ng-model="state" type="checkbox"/>
            </div>
		</ul> -->
	</div>
</div>
<div class="recognizee_btn" ng-click="save()">保 存</div>
<div class="weui_dialog_confirm" id="dialog1" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">删除该用户？</strong></div>
        <div class="weui_dialog_bd">删除后将无法为该用户直接投保</div>
        <div class="weui_dialog_t">
            <a href="javascript:;" class="weui_btn_dialog default" ng-click="cancel()">取消</a>
            <a href="javascript:;" class="weui_btn_dialog primary" ng-click="sure()">确定</a>
        </div>
    </div>
</div>