<link rel="stylesheet" type="text/css" href="css/userinfo.css?rev=31a2b5109f2f19ab8f7da5e9ac8ee5fc">

<div class="user-container">
	<p class="title">资料设定</p>
	<p class="text">根据您的信息，我们将为您定制最合适的保障方案</p>

	<p class="sub-title" style="margin-top:0.5rem;">您的性别</p>
	<label class="switch">
		<input class="switch-input" type="checkbox" />
		<span class="switch-label" data-on="男" data-off="女"></span> 
		<span class="switch-handle"></span> 
	</label>

	<p class="sub-title" style="margin:0.3rem 0 0.05rem 0" >您的年龄</p>
	<p class="sub-title age-title" id="age">25</p>
	<div class="age-container" id="slider-container">
			<div id="bg" style="left:0px;"></div>
			<div   id="pointer" class="needle" ><a></a></div>
	</div>
</div>
<div class="cell cell-fix-bottom" >
	<a href="javascript:void(0)" class="btn btn_n_primary btn_dark_primary btn_no_radius" ng-click="submit()"   id="submitButton">开始</a>
</div>
<script type="text/javascript" src="js/age.js?rev=asafafaasdfaswafafaafaasdfasfb"></script>
