@import "../base/classes.scss";
@import "../base/variables.scss";
.pay_success_ctrl {
	padding: 0 50px;
	.win {
		line-height: 82px; 
		font-size: 15px;
		color: 555;
		text-align: center;
		img {
			width: 20px;
			vertical-align: -2px;
		}
	}
	.hint {
		height: 50px;
		font-size: 13px;
		color: #fff;
	}
	.main {
		@include flexbox;
	}
}