.wrapper {
  padding: 0 10px;
  position: relative;
}
body {
  background-color: #fff;
}
.gift {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 12px;
  right: 15px;
  background: url(../img/index/gift.png) no-repeat center;
  background-size: 22px;
  z-index:10;
  cursor: pointer;
}
.gift-message {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 12px;
  right: 15px;
  background: url(../img/index/message.png) no-repeat center;
  background-size: 22px;
}
.text_container {

  /*margin-bottom: 80px;*/
}
.text_container p {
  text-align: center;
  line-height: 0.07rem;
}
.text_container .subtitle {
  font-size: 0.16rem;
  color: #999;
}
.text_container .tip {
  font-size: 0.2rem;
  color: #ffb594;
}
.text_container .bd_yz {
  margin-top: 0.7rem;
  font-size: 0.17rem;
  color: #588dd4;
}
#loadingContainer {
  height: 350px;
  background: #fff url(../img/loading.gif) no-repeat center/50px;
}
#pieChartContainer {
  padding-top: 0.1rem;
}
.cell_hd {
  height: 50px;
}
.cell-circle {
  box-sizing: border-box;
  width: 1.29rem;
  height: 1.29rem;
  border-radius: 100%;
  color: #1e4e8e;
  background-color: #FFF;
  // border: 1px solid #dde5ee;
  background: url('../img/index/circle.png') no-repeat center;
  background-size:1.29rem;
  text-align: center;
  padding: .3rem 0;
  margin: 0 auto;

  .icon {
    height: 30px;
  }
  .icon.icon-mangment {
    background: url("../img/index/guanli.png") no-repeat center;
    background-size: 22px;
  }
  .icon.icon-up {
    background: url("../img/index/up.png") no-repeat center;
    background-size: 22px;
  }
}
.cell-circle:active {
  background-color: #f5f5f5;
}



 .mag-container{
    margin-top:1rem;
 }
 




.swiper-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10001;
}
.opacity_ctrl {
  position: fixed;
  left: 0;
  top: 0;
  background: #000;
  opacity: .4;
  width: 100%;
  height: 100%;
  z-index: 10002;
}
.off {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  z-index: 10003;
}
.off img {
  width: 100%;
  height: 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-wrapper {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 20% auto;
  z-index: 99999999;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 2.67rem;
  /*width: 60%;*/
  height: 60%;
  height: 0;
  border-radius: 10px;
}
.swiper-slide img {
  /*width: 3.34rem;*/
  width: 2.67rem;
}