@import "base/classes.scss";
@import "base/variables.scss";
body {
	background: #f5f5f5;
}
.jk_bzts {
	background: #fff;
	padding: 15px 10px 0;
	margin-bottom: 10px;
	@include border(001px 0,#ccc);
	.jk_bzts_tit {
		font-size: 15px;
		color: #444;
		line-height: 15px;
		margin-bottom: 8px;
	}
	.jk_bzts--blue {
		color: #6fa5ff;
	}
	.jk_bzts_prompt {
		color: #999;
		font-size: 13px;
		line-height: 13px;
	}
	.bottom_container {
		padding: 25px 15px 34px;
	}
}
