@import "base/classes.scss";
@import "base/variables.scss";
body {
	background: #f5f5f5;
}
.left {
	float: left;
}
.right {
	float: right;
}
input {
	border: none;
}
.recognizee_compile_ctrl {
	.head_ctrl {
		padding: 15px 10px;
		background: #fff;
	}
	.head {
		
		box-sizing: border-box;
		border-radius: 5px;
		line-height: 45px;
		text-align: center;
		background: #5aa8ff;
		font-size: 15px;
		color: #fff;
		border: qpx solid #ccc;
		img {
		 width: 10px;
		}
	}
	.bor {
		border-top: 1px solid #e2e2e2;
		height: 1px;
	}
	.main {
		// height: 95px;
		// @include border(0 0 1px 0,#c4c4c4);
		margin-bottom: 10px;
		border-bottom: 1px solid #c4c4c4;
		background: #fff;
		padding: 15px 15px 10px 15px;   
		box-sizing: border-box;
		.main_head {
			@include flexbox;
			padding-bottom: 10px;
			}
			.head_left {
				min-width: 63px;
				font-size: 18px;
				color: #555;
				vertical-align: bottom;
				display:table-cell; 
				margin-right: 8px;
			}
			.head_right {
				font-size: 13px;
				color: #999;
				@include flex(1);
				box-sizing: border-box;
				padding-top:5px;
			}
			.head_bottom {
				width: 20px;
				img {
					width: 15px;
					vertical-align: middle;
				}
			}
			.status,.phone {
				color: #999;
				font-size: 13px;
				line-height: 20px;
				span {
					font-size: 13px;
					color: #5aa8ff;
				}
				img {
					width: 13px;
				}
			}
		}
	}