@import "base/classes.scss";
@import "base/variables.scss";
body {
	background: #f5f5f5;
}
.left {
	float: left;
}
.right {
	float: right;
}
input {
	 /*-webkit-appearance:none;*/
  border: none;
}
select {
	border:none;
}
.recognizee_contrl {
	background: #fff;
	.delete {
		@include flexbox;
		color:#555;
		padding: 0 10px;
		line-height: 45px;
		border-bottom: 1px solid #e2e2e2;
		li{
			@include flex(1);
			font-size: 15px;
		}
		li:nth-child(2) {
			text-align: right;
			color: #999;
			font-size: 13px;
		}
	}
	.regenizee_main {
		padding: 0 10px;
		border-bottom: 1px solid #c4c4c4;
		ul {
			@include flexbox;
			border-bottom: 1px solid #e2e2e2; 
			line-height: 45px;
			font-size: 15px;
			li:nth-child(1) {
				padding-left: 5px;
				width: 70px;
				font-size: 13px;
				color: #999;
				}
			li:nth-child(2) {
				@include flex(1);
			}
			 input {
			  	color: #555;
			  }
			  
			  select {
			  	@include flex(1);
			  	z-index: 10;
			    background: url("../img/down_jian.jpg") no-repeat right center;

			  }
		}
		ol {
			list-style: none;
		}
		.moren {
			border-bottom: none;
			li {
			  @include flex(1);
			}
			.weui_cell_ft {
				text-align: right;
				color: #888;
				@include flexbox;
				@include align-items(center);
			}
			.weui_switch {
			  -webkit-appearance: none;
			     -moz-appearance: none;
			          appearance: none;
			  position: relative;
			  width: 52px;
			  height: 32px;
			  border: 1px solid #DFDFDF;
			  outline: 0;
			  border-radius: 16px;
			  box-sizing: border-box;
			  background: #DFDFDF;
			}
			.weui_switch:before {
			  content: " ";
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 50px;
			  height: 30px;
			  border-radius: 15px;
			  background-color: #FDFDFD;
			  -webkit-transition: -webkit-transform .3s;
			  transition: -webkit-transform .3s;
			  transition: transform .3s;
			  transition: transform .3s, -webkit-transform .3s;
			}
			.weui_switch:after {
			  content: " ";
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 30px;
			  height: 30px;
			  border-radius: 15px;
			  background-color: #FFFFFF;
			  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
			  -webkit-transition: -webkit-transform .3s;
			  transition: -webkit-transform .3s;
			  transition: transform .3s;
			  transition: transform .3s, -webkit-transform .3s;
			}
			.weui_switch:checked {
			  border-color: #5aa8ff;
			  background-color: #5aa8ff;
			}
			.weui_switch:checked:before {
			  -webkit-transform: scale(0);
			          transform: scale(0);
			}
			.weui_switch:checked:after {
			  -webkit-transform: translateX(20px);
			          
			  /* transform: translateX(20px); */
			}
		}
	}
}
.recognizee_btn {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	border-top: 1px solid #e2e2e2;
	background: #006ee9;
	font-size: 15px;
	color:  #fff;
	text-align: center;
	line-height: 49px;
}

.weui_dialog {
width: 35%;
}
.weui_dialog {
position: fixed;
z-index: 13;
width: 85%;
top: 40%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
background-color: #FAFAFC;
text-align: center;
border-radius: 3px;
overflow: hidden;
}
.weui_dialog_confirm .weui_dialog .weui_dialog_hd {
padding: 1.2em 20px .5em;
text-align: center;
}
.weui_dialog_hd {
padding: 1.2em 0 .5em;
}
.weui_dialog_title {
font-weight: 400;
font-size: 17px;
}
.weui_dialog_confirm .weui_dialog .weui_dialog_bd {
text-align: left;
text-align: center;
}
.weui_dialog_bd {
padding: 0 20px;
font-size: 15px;
color: #888;
word-wrap: break-word;
word-break: break-all;
}
.weui_dialog_t {
position: relative;
line-height: 42px;
margin-top: 20px;
font-size: 17px;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
}
.weui_dialog_t:after {
content: " ";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 1px;
border-top: 1px solid #D5D5D6;
color: #D5D5D6;
-webkit-transform-origin: 0 0;
transform-origin: 0 0;
-webkit-transform: scaleY(0.5);
transform: scaleY(0.5);
}
.weui_dialog_confirm .weui_dialog_t a:after {
content: " ";
position: absolute;
left: 0;
top: 0;
width: 1px;
height: 100%;
border-left: 1px solid #D5D5D6;
color: #D5D5D6;
-webkit-transform-origin: 0 0;
transform-origin: 0 0;
-webkit-transform: scaleX(0.5);
transform: scaleX(0.5);
}
.weui_btn_dialog.default {
color: #353535;
}
.weui_dialog_t a {
display: block;
-webkit-box-flex: 1;
-webkit-flex: 1;
-ms-flex: 1;
flex: 1;
color: #3CC51F;
text-decoration: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.weui_btn_dialog.primary {
color: #5aa8ff;
}
.weui_mask {
	z-index: 10;
}