@import "base/classes.scss";
@import "base/variables.scss";
.solution-container{
	background-color: #f5f5f5;
}
body {
	background: #fff;
}
/* 一键提升保障方案start*/
.key_head {
	padding: 15px 10px;
	color: #555;
	font-size: 13px;
	background: #fff;
	line-height: normal;
	.model {font-size: 15px;font-weight: bold;
		.anew {
			display: inline-block;
			float: right;
			height: 30px;
			box-sizing: border-box;
			width: 70px;
			border: 1px solid #ccc;
			border-radius: 5px;
			font-size: 13px;
			line-height: 30px;
			text-align: center;
			color: #006ee9;
			font-weight: normal;
		}
	}
	.wz {
		padding: 10px 0;
		line-height: 20px
	}
	.fa {
		color: #999;
	}
	img {
		width: 15px;
		vertical-align: -3px;
	}
	text-align: top;
}
/* end */
.header {
	.logo{
		float: left;
		width: 70px;
		height: 70px;
	}
	.icon_4{
		background: url('../img/solution/1.png') no-repeat center;
		background-size: 30px;
	}
	.icon_3{
		background: url('../img/solution/2.png') no-repeat center;
		background-size: 30px;
	}
	.icon_2{
		background: url('../img/solution/3.png') no-repeat center;
		background-size: 30px;
	}
	.icon_1{
		background: url('../img/solution/4.png') no-repeat center;
		background-size: 30px;
	}
	.icon_5{
		background: url('../img/solution/5.png') no-repeat center;
		background-size: 30px;
	}
	.contaienr {
		padding-top: 13px;
		font-size:15px;
		.sub-title {
			color: #97c8ff;
			font-size:13px;
		}

	}

	background-color: #006ee9;
	color: #fff;
	height: 70px;
}
.qa{
	background: url('../img/temai/wen.png') no-repeat center;
	background-size:15px;
	width:15px;
	height:15px;
	line-height:0px;
	display:inline-block;
	vertical-align:-1px;
	margin-left: 5px;
}
.border-bt{
	 border-bottom:1px solid #cccccc;	
}
.table-wrapper {
	padding: 0 .2rem;
	background-color: #fff;

	table {
		width: 100%;
		border-collapse: collapse;
		font-size:15px;
		table-layout: fixed;
		tr:not(:last-child){
			border-bottom: 1px solid #e2e2e2;
		}
		
		td{
			padding: 0.1rem 0.05rem;
			text-align: center;
			color: #555;
		}
		.left-td{
			text-align: left;
			width:75%;
			cursor: pointer;
		}
		.right-td{
			text-align: right;
			vertical-align: top;
		}
		.des{
			color:#999;
			font-size:14px;
		}

	}
}
.more {
		background-color: #fff;
		color: #588dd4;
		padding: 0.1rem;
		text-align: center;
		border-top:1px solid #e2e2e2;
		border-bottom: 1px solid #ccc;
		margin-top:-1px;
}
.contents{
	color:#555;
	padding-left:10px;
	margin-top:10px;
	background-color: #fff;
	height:45px;
	line-height:45px;
	border-bottom:1px solid #e2e2e2;
	font-size: 15px;
}

.solution{
	background-color: #FFF;
	padding-top:5px;
	margin-bottom: 49px;
	li{
		margin-bottom:5px;
		background-color: #f9f9f9;
		@include flexbox;
		cursor: pointer;
		.checkbox{
			// @include flex(1);
			width: 40px;
			
		}
		.checkbox.unchoose{
			background:url('../img/solution/unchoose.png') no-repeat center;
			background-size:20px;
		}
		.checkbox.choose{
			background:url('../img/solution/choose.png') no-repeat center;
			background-size:20px;
		}
		.arrow{
			background:url('../img/solution/arrow.png') no-repeat center;
			background-size:8px;
		}
		.arrow.noclick{
			background:none;
		}
		.product{
			@include flex(1);
			padding:10px 0;
			font-size: 13px;
			.product-des{
				color:#999;
				font-size:13px;
			}
			.product-price{
				color:#ff5c00;
			}
			.status{
				background-color: #999;
				color:#fff;
				// padding:2px;
				font-size:12px;
			}
			.status.un-sell{
				background-color: #999;
			}
			.status.selled{
				background-color: #006ee9;
			}
		}
		.arrow{
			// @include flex(1);
			width: 40px;
		}
	}
}
.footer{
	@include flexbox;
	.left{
		@include flex(65);
		background-color: #FFF;
		color:#555;
		.money{
			color:#ff5c00;
			font-weight: bold;
			font-size:18px;
			margin-left: 6px;
		}
	}
	.right{
		@include flex(35);
		background-color: #ff5c00;
	}
}
.toast {
	max-height: 325px;
	overflow: auto;
	// overflow:scroll;  //显示滚动条
	// overflow-y: scroll; //显示纵向滚动条 
	padding: 0;
	-webkit-overflow-scrolling: touch;
}
#stopPro {
	border: 30px solid #fff;
}
