 @import "base/classes.scss";
 @import "base/variables.scss";
 body {background: #f5f5f5;}
 .no {
 	// 禁止点击
 	pointer-events:none;
 }
 .aa { height: 60px;width: 100%;position: absolute;top: 3px;}
 .yy { height: 60px;width: 100%;position: absolute;top: 3px;}
 .userinfo_new {
 	padding: .258rem 0;
 	font-size: 15px;
 	text-align: center;
 	line-height: normal;
 	.setting {font-size: 16px;line-height: 16px;}
 	.highest {color: #999;margin: .32rem 0 .1rem 0;line-height: 15px;}

 	.sex {margin: .3rem 0 .1rem 0;color: #999;line-height: 15px;}
 	.age {margin: .4rem 0 .1rem;color: #999;line-height: 15px;}
 	// #yearIncome {margin-top:25px;}
 	.blue {color: #55a5ff;font-size: 17px;font-weight: bold;margin-left: 10px;}
.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 160px;
	height: 45px;
	padding: 3px;
	margin: 0 auto;
	outline: none;
	border-radius: 31px;	
	cursor: pointer;
	border: none;
	margin-bottom: 10px;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 17px;
	text-transform: uppercase;
	background: #eee;
	border-radius: inherit;
	box-sizing : border-box;
	border:1px solid #e2e2e2;
	font-family: Arial, Microsoft YaHei, SimHei, Helvetica, sans-serif;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
}
.switch-label:before {
	content: attr(data-off);
	right: 30px;
	color: #555;
}
// 底部"重点"问题部分
.switch-label:after {
	content: attr(data-on);
	left: 30px;
	color: #555;
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #f0f0f0;
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handl-off{
	position: absolute;
	top: 3px;
	left: 4px;
	width: 90px;
	height: 45px;
	background-color: #55a5ff;	
	border-radius: 44px;
}
.switch-hand {
	position: absolute;
	top: 3px;
	left: 4px;
	width: 90px;
	height: 45px;
	background-color: #55a5ff;	
	border-radius: 44px;
}
// 蓝色的
.switch-handl-off:before {
	content: "是";
	position: absolute;
	color: #fff;
	font-size: 17px;
	top:0;
	left: 0;
	// margin: -16px 0 0 -9px;
	width: 90px;
	height: 45px;
	line-height: 45px;
	font-family: Arial, Microsoft YaHei, SimHei, Helvetica, sans-serif;
}
.switch-hand:before {
	content: "男";
	position: absolute;
	color: #fff;
	font-size: 17px;
	top:0;
	left: 0;
	// margin: -16px 0 0 -9px;
	width: 90px;
	height: 45px;
	line-height: 45px;
	font-family: Arial, Microsoft YaHei, SimHei, Helvetica, sans-serif;
}
.switch-input:checked ~ .switch-handl-off:before {
	content: "否";
}
.switch-input:checked ~ .switch-hand:before {
	content: "女";
}
.switch-input:checked ~ .switch-handl-off {
	-webkit-transform: translateX(70px);
	-moz-transform: translateX(70px);
	-ms-transform: translateX(70px);
	-o-transform: translateX(70px);
	transform: translateX(70px);
}
.switch-input:checked ~ .switch-hand {
	-webkit-transform: translateX(70px);
	-moz-transform: translateX(70px);
	-ms-transform: translateX(70px);
	-o-transform: translateX(70px);
	transform: translateX(70px);
}
.switch-label, .switch-handl-off {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}
.switch-label, .switch-hand {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}
/*end*/



.age-container {
	// width: 300px;
	height: 40px;
	// margin: 0 auto;
	// position: relative;
	// overflow: hidden;
	// text-align: left;	/*-webkit-mask:-webkit-gradient(linear,50% 0%, 100% 0%, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
	// -webkit-mask: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.age-container	a {
	// border-left: 1px solid #346290;
	// display: inline-block;
	// margin-left: -1px;
	// padding: 0px 0px 0px 3px;
	// width: 7px;
	height: 7.5px;
	// vertical-align: top;
	// color: #20456c;
}
// .needle {
// 	position: relative;
// 	top: 0px;
// }
.needle a {
	// border-left-color: #ff750f;
	height: 17.5px;
	// border-width: 3px;
	// margin-left: 130px;
}
// #bg {
// 	width: 5000px;
// 	position: absolute;
// 	transition: All 0.05s ease;
// 	-webkit-transition: All 0.05s ease;
// 	-moz-transition: All 0.01s ease;
// 	-o-transition: All 0.01s ease;
// }
.age-container .high {
	height: 12.5px;
	// text-align: center;
	// position:relative;
}
.age-container .high span {
	// position: absolute;
	// left: -7px;
	top: 23px;
	// font-size: 12px;
	color: #999;
}
}

	
.target_btn {@include border(1px 0 0 0,#e2e2e2);position: fixed;left: 0;bottom: 0;width: 100%;height: 49px;background: #006ee9;color: #fff;text-align: center;line-height: 49px;font-size: 15px;}
.target_btn:active {
		background: #266ada;
	}