<!-- <link rel="stylesheet" type="text/css" href="/wx_share/css/coupon.css?rev=9bf8ac9d0f3b54f1b003ab99fd7648a3"> -->
<link rel="stylesheet" type="text/css" href="/css/globe.css?rev=09dec9183075ce9777b201001c70929d">
<div class="nuobei_header">
  <div class="img_ctrl"><img src="/img/nuobei_header/logo640.png"></div>
  <div class="back_homePage"><a href="/#/index">回首页</a></div>
  <div class="concern" id="foucs_button">关 注</div>
</div>
<div id="wrapper" class="wrapper">
    <ul class="ul_container" style="background-color:#f3f3f3;margin-top:0;padding-left:0;display:none">
      <li class="list_item"  style="" ng-click="goDetail(coupon.coupon_no,coupon.coupon_status,coupon.order_no,coupon.coupon_id,coupon.expiry_date)"   ng-repeat="coupon in coupons" >

        <div style="padding:30px 20px 20px;">
           <div class="fl">
               <img ng-src="{{coupon.logo_url}}" class="logo_img" ng-class="{'img_gray':coupon.coupon_status == 5 || coupon.coupon_status ==  6}">
            </div>
            <div class="fl coupon_text" style="z-index:10;"  >
              <p class="name">{{coupon.name}} </p>
              <p style="font-size:11px;">{{coupon.description}}</p>
              <p style="color:#b8b8ba;font-size:11px;">有效期至:{{coupon.expiry_date |  date:'yyyy-MM-dd'}}</p>
              <div class="fl tag {{coupon.imgClass}}" > </div>
            </div>
        </div>
      </li>
    </ul>
    <p class="default_text" id="reason_container" >保险劵暂无，您可以<span ng-click="goShare()" style="color:blue;text-decoration: underline;">参与活动免费领取</span>哦！</p>
</div>

<script>
  $("body").on("click","#foucs_button",function(event){
      $(".qrcode-wrapper").show();
      event.preventDefault();
      event.stopPropagation();
    }).on("click",".qrcode-container",function(){
      event.preventDefault();
      event.stopPropagation();
    }).on("click",".qrcode-wrapper",function(){
       $(".qrcode-wrapper").hide();
    });
</script>
