<div class="dental-controller">
    <img src="/wx_share/img/dental/header.jpg" />
    <div class="main-content">
        <div class="row">
            <div class="col-50">
                <div class="goods-box">
                    <div class="goods-type">
                        <strong>套餐<span class="no">A</span></strong>
                    </div>
                    <div class="goods-picture">
                        <img src="/wx_share/img/dental/goods-01.jpg" />
                        <p>2-13岁的宝宝</p>
                    </div>
                    <div class="goods-content">
                        <div class="goods-title">预防虫牙，乳牙保护</div>
                        <del>市场价：2310元</del>
                        <h2>仅售：318元</h2>
                        <div class="goods-btn" ng-click="goChildDentel(1)">查看详情</div>
                    </div>
                </div>
            </div>
            <div class="col-50">
                <div class="goods-box">
                    <div class="goods-type">
                        <strong>套餐<span class="no">B</span></strong>
                    </div>
                    <div class="goods-picture">
                        <img src="/wx_share/img/dental/goods-02.jpg" />
                        <p>乳牙期+换牙期</p>
                    </div>
                    <div class="goods-content">
                        <div class="goods-title">定期护理，不得虫牙<br/>一旦发生，免费治疗</div>
                        <del>市场价：4480元</del>
                        <h2>仅售：498元</h2>
                        <a href="javascript:" class="goods-btn" ng-click="goChildDentel(2)">查看详情</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-50">
                <div class="goods-box">
                    <div class="goods-type">
                        <strong>套餐<span class="no">C</span></strong>
                    </div>
                    <div class="goods-picture">
                        <img src="/wx_share/img/dental/goods-03.jpg" />
                        <p>已有多处虫牙</p>
                    </div>
                    <div class="goods-content">
                        <div class="goods-title">浅龋、深龋全治疗</div>
                        <del>市场价：5515元</del>
                        <h2>仅售：1138元</h2>
                        <a href="javascript:" class="goods-btn" ng-click="goChildDentel(3)">查看详情</a>
                    </div>
                </div>
            </div>
            <div class="col-50">
                <div class="goods-box">
                    <div class="goods-type">
                        <strong>套餐<span class="no">D</span></strong>
                    </div>
                    <div class="goods-picture">
                        <img src="/wx_share/img/dental/goods-04.jpg" />
                        <p>牙齿咬合畸形</p>
                    </div>
                    <div class="goods-content">
                        <div class="goods-title">全面筛查，治疗享优惠</div>
                        <del>市场价：2310元</del>
                        <h2>仅售：418元</h2>
                        <a href="javascript:" class="goods-btn" ng-click="goChildDentel(4)">查看详情</a>
                    </div>
                </div>
            </div>
        </div>
        <img src="/wx_share/img/dental/section-01.jpg" class="mt20" />
        <div class="pyq-box mt20">
            <div class="pyq-title"> 
                <h2>爆款！</h2>
                <p>活动仅限北京、上海、广州的宝宝</p>
            </div>
            <div class="pyq-info">购买套餐并分享至朋友圈，即得<span>18.8元现金</span>红包，有朋友购买再得<span>30元现金</span>红包。</div>
            <a href="javascript:;" ng-click="showShareTip()" class="pyq-btn">立即分享</a>
            <p class="pyq-stats">已有 <span>{{data.invited}}</span> 位好友领取</p>
        </div>
        <div class="rule-box mt20">
            <div class="rule-title">活动规则</div>
            <p>分享后截图发至<span>【诺贝保险管家】</span>公众号领取红包</p>
            <img src="/wx_share/img/dental/ewm.jpg" />
            <hr />
        </div>
    </div>
</div>