<!-- <link rel="stylesheet" href="wx_share/css/exchange.css?rev=85a23c8d97330652fa4e99841697af3c"> -->
<div id="wrapper" class="wrapper layout">
	<div class="coupon_nav left">
		<div class="one"></div>
		<div class="hei_16">
			<p></p>
		</div>
		<div class="er">2</div>
		<div class="hei_276">
			<p></p>
		</div>
		<div class="san">3</div>
	</div>
	<div class="coupon_main left">
			<div class="main_top">航空延误险保险券兑换成功</div>
			<div class="main_cen">
				<p>请前往[<span>诺贝</span>]公众号投保</p>
				<img src="wx_share/img/erweima.png">
				<p>长按二维码关注[<span>诺贝</span>]</p>
			</div>
			<div class="main_bot">
				<p>点击[<span>诺贝</span>]公众号右下角</p>
				<p>菜单“<span>我的保险劵</span>”</p>
				<div class="kuang">
					<ul></ul>
                    <ul>
                    	<li><span>我的保险劵</span></li>
					  	<li>我的保单</li>
					 	<li>联系我们</li> 
				 		<img class="shou" src="wx_share/img/shou.png">
                    </ul>
				    <ul></ul>
				</div>
				<div class="footer_my">
					<img src="wx_share/img/heng.png">
					我的
				</div>
			</div>
	</div>
</div>