<link rel="stylesheet" href="wx_share/css/index.css?rev=fdafafaagfgf">
	<div class="my_bd_controller">
		<ul class="layout ul_contrl">
			<li >
				<p>诺贝保险管家</p>
				<p>助您出行无忧</p>
			</li>
			<li></li>
			<li>全球航班通用</li>
		</ul>
		<div class="logo_controller">
			<img src="wx_share/img/my_bd/logo.png" srcset="wx_share/img/my_bd/logo.png 568w, wx_share/img/my_bd/logo2.png 667w, wx_share/img/my_bd/logo2.png 736w" >
			<div class="button_contr">
				<p class="kong_wid45"></p>
				<p ng-click="addCoupon()">
					<img class="imgwid" src="wx_share/img/my_bd/money.png?v=32">
					<a href="###" class="fontwid">免费领取</a>
				</p>
				<p></p>
				<p ng-click="showShareTip()">
					<img class="song_imgwid" src="wx_share/img/my_bd/song.png?v=32">

					<a href="###" class="fontwid">送给好友</a>
				</p>
				<p class="kong_wid45"></p>
			</div>
		</div>
		<div class="font_controller">
			<p>
				<img src="wx_share/img/my_bd/bx_logo.jpg">
				<span>最高可领12份</span>
			</p>
			<ul class="paddBtn_20">

				<li>每送给3个好友，可再免费领取1份，最高可领取12份。(已有<i  class="recommend_times">{{data.recommend_times}}</i>位好友已成功领取)</li>
			</ul>

			<p>
				<img src="wx_share/img/my_bd/bx_logo.jpg">
				<span>领取后请前微信号 [ 诺贝 ] 投保</span>
			</p>
			<div class="cell_code">
				<div class="main_font left">
					<li>1.长按右侧二维码关注 [诺贝]</li>
					<li>2.在微信号底部菜单  [ 我的保险劵 ] 投保</li>
					<li>3.有效期：2016.04.26 ~ 07.26</li>
				</div>
				<!-- 二维码 -->
				<div class="two_code">
					<img src="wx_share/img/my_bd/erweima.jpg"></div>
			</div>
		</div>
		<ul class="footer_border">
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>