<!-- <link rel="stylesheet" href="wx_share/css/index.css?rev=10ee93e35caeab6c5d3d7b887c5c5efb"> -->
<div class="my_bd_controller">
	<ul class="layout ul_contrl">
		<li >
			<p>诺贝保险管家</p>
			<p>助您出行无忧</p>
		</li>
		<li></li>
		<li></li>
	</ul >
	<div class="share_mian">
		<img src="wx_share/img/my_bd/activity_big.png" srcset="wx_share/img/my_bd/activity_small.png 568w, wx_share/img/my_bd/activity_big.png 667w, wx_share/img/my_bd/activity_big.png 736w">
		<!-- <img src="wx_share/img/my_bd/activity_small.png"> -->
		<div class="up">
			<div class="img_logo layout">
				<div class="btn_left"></div>
				<a class="left_a" href="javascript:" ng-click="addCoupon()"><img class="logo_money" src="wx_share/img/my_bd/money.png"> 免费领取</a>
				<div class="btn_center"></div>
				<a class="right_a" href="javascript:" ng-click="showShareTip()"><img class="logo_song" src="wx_share/img/my_bd/song.png"> 送给好友</a>
				<div class="btn_right"></div>
			</div>
			<p class="p_color">( 已成功送给<span class="recommend_times font_red">{{data.recommend_times}}</span>位好友 )</p>
		</div>
		<div class="duihuan_ctrl">
			<div class="duihuan_left"></div>
			<div class="duihuan_btn" ng-click="exchange()"><img class="logo_money" src="wx_share/img/my_bd/duihuan.png"> 立即兑换</div>
			<div class="duihuan_right"></div>
			
		</div>
		<div class="hangyixian">( 你已有<span class="number font_red">{{data.number}}</span>份航意险 )</div>
	</div>
	<div class="index_font_controller layout">
	    <p class="p">
			<img src="wx_share/img/my_bd/bx_logo.jpg">  领取后请前往微信号 [ 诺贝 ] 投保
        </p>
        <div class="flex_ctrl">
        	<div class="main_font">
				<p>1.长按右侧二维码关注 [ 诺贝 ]</p>
				<p>2.在微信号底部菜单  [ 我的保险劵 ]投保</p>
				<p>3.有效期：2016.06.24 ~ 12.24</p>
			</div>
			<div class="two_code right">
				<img src="wx_share/img/my_bd/erweima.jpg">
			</div>
        </div>
	</div>
	<ul class="footer_border">
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<!-- 弹出框  -->
<div class="pop" id="pop">
	<div class="ku" id="popup"></div>
	<div class="popup_box">
		<div style="position:relative;">
			<img id="popup-img"  src="wx_share/img/my_bd/mask.png">
		    <div class="popup_btn" id="popup-btn"><img src="wx_share/img/my_bd/mask_btn.png" ></div>
		</div>
	</div>
</div>