
<div class="sports_controller">
	<div class="ctrl_back"> 
		<img src="http://static.nuobei.cn/wx_share/img/sports/sports_back_img.jpg" class="back_img" srcset="http://static.nuobei.cn/wx_share/img/sports/sports_back_img2.jpg 568w, http://static.nuobei.cn/wx_share/img/sports/sports_back_img.jpg 667w, http://static.nuobei.cn/wx_share/img/sports/sports_back_img.jpg 736w" >
		<div class="moneyAndsong layout">
			<a href="javascript:" class="left"  ng-click="sportsAddCoupon()"><img src="http://static.nuobei.cn/wx_share/img/sports/money.png"> 免费领取</a>
			<a href="javascript:" class="right" ng-click="showShareTip()"><img src="http://static.nuobei.cn/wx_share/img/sports/song.png"> 送给好友</a>
		</div>
		<div class="sheng">
			<span class="left remain_times">剩余 {{data.remain_times}}  张未领取</span>
			<span class="right recommend_times">已送给 {{data.recommend_times}} 位好友</span>
		</div>
	</div>
		
	<div class="alt_font">
		<div class="padd_top10"><img src="http://static.nuobei.cn/wx_share/img/sports/dun.png"> 每月均可无条件免费领取1份，无惧任何挑战。</div>
		<div class="padd_bot69"><img src="http://static.nuobei.cn/wx_share/img/sports/dun.png"> 每成功送给1位好友，即可再免费领取1份。</div>
		<div class="range">保障范围</div>
		<img src="http://static.nuobei.cn/wx_share/img/sports/fanwei.jpg">
		<div class="sort_ctrl">
			<p class="sort">冲浪、蹦极、登山、跳伞等多项保障</p>
			<p class="color_black">为极限运动者提供全面保障</p>
			<p>运动意外身故、伤残保障：10万元</p>
			<p>运动意外医疗：1万元</p>
			<p>保障期间：3天</p>
		</div>
		<div class="font_controller layout">
		    <p>
		    	<img src="http://static.nuobei.cn/wx_share/img/sports/dun.png">  领取后请前往微信号 [ 诺贝 ] 投保
	        </p>
	        <div class="main_flex">
	        	<div class="main_font">
				<li>1.长按右侧二维码关注 [诺贝]</li>
				<li>2.在微信号底部菜单  [ 我的保险劵 ] 投保</li>
				<li>3.活动有效期：2016.06.28 ~ 12.28</li>
				</div>
				<!-- 二维码 -->
				<div class="two_code">
					<img  src="http://static.nuobei.cn/wx_share/img/special/wechat-qrcode.png">
				</div>
	        </div>
			
		</div>
			
		<a class="else_but" onclick="_hmt.push(['_trackEvent', 'wx_share_jixian', 'wx_share_jixian_rests'])" href="/#temailist?from=jixian">其他高保额极限运动险</a>
		<div class="kong_div"></div>
		<div class="padding_img">
			<a onclick="_hmt.push(['_trackEvent', 'wx_share_jixian', 'wx_share_jixian_plan1'])"  href="/#temaidetail?product_id=94&from=jixian">
				<div class="churchyard">
				<img src="http://static.nuobei.cn/wx_share/img/sports/churchyard.png">
				<div class="churchyard_word">
					<p class="word_head">极限运动保险-境内版<span class="right"><span class="jiacu_word">20</span> 元起</span></p>
                    <p >运动意外身故、伤残保障： 20~60万元</p>
                    <p>运动意外伤害医疗： 3~5万元</p>
                    <p>同时提供专业紧急救援、行李丢失赔付等服务</p>
				</div>
				<div class="buy_but">立即购买</div>
			</a>
			</div>
			<div class="kong_div"></div>
			<a onclick="_hmt.push(['_trackEvent', 'wx_share_jixian', 'wx_share_jixian_plan2'])" href="/#temaidetail?product_id=64&?from=jixian">
				<div class="overseas">
					<img src="http://static.nuobei.cn/wx_share/img/sports/overseas.png">
					<div class="overseas_word">
						<p class="word_head">极限运动保险-境外版<span class="right"><span class="jiacu_word">105 </span>元起</span></p>
		                <div>全面保障境外潜水、滑雪、攀岩等极限活动，包含突发意外、疾病、个人财产、旅行延误等、保额高达100万。同时提供专业的紧急救援</div>
					</div>
					<div class="buy_but">立即购买</div>
			    </div>
			</a>
		</div>
	</div>
</div>
<!-- 弹出框  -->
<div class="pop" id="pop">
	<div class="ku" id="popup"></div>
	<div class="popup_box">
		<div style="position:relative;">
			<!-- <img id="popup-img"  src="http://static.nuobei.cn/wx_share/img/sports/popup_1.png" srcset="http://static.nuobei.cn/wx_share/img/sports/popup_1.png 568w, http://static.nuobei.cn/wx_share/img/sports/popup_2.png 667w, http://static.nuobei.cn/wx_share/img/sports/popup_2.png 736w"> -->
			 <img id="popup-img"  src="http://static.nuobei.cn/wx_share/img/sports/new_popup.png" >
		    <div class="popup_btn" id="popup-btn"><img src="http://static.nuobei.cn/wx_share/img/sports/sports_popup_btn1.png" ></div>
		</div>
	</div>
</div>