<link rel="stylesheet" href="wx_share/css/special_offer.css?rev=cd842a0b14f2e567e17ccb1ba8acf43b">
<div class="special_offer_ctrl"  data-ng-init="init()">
	<div class="special_main">
		<img src="wx_share/img/special/special_back_small.png" srcset="wx_share/img/special/special_back_small.png 568w, wx_share/img/special/special_back_big.png 667w, wx_share/img/special/special_back_big.png 736w">
		<!-- <div class="lijian">分享好友，立减10元</div> -->
		<div class="lijian_word">
		    <div class="wid_10"></div>
			<div class="kong_btn"></div>
			<div class="kong"></div>
			<div class="kong_btn lijian" ng-show="!isShare" >分享好友,立减10元</div>
			<div class="kong_btn lijian" ng-show="isShare" >点击即可优惠购买</div>
			<div class="wid_10"></div>
		</div>
		<div class="special_btn">
		    <div class="wid_10"></div>
			<div class="yuanjia_btn"  ng-click="original()">￥50 原价购买</div>
			<div class="kong"></div>
			<div class="youhui_btn"  ng-click="discount()">￥40 优惠购买</div>
			<div class="wid_10"></div>
		</div>
	</div>
	<div class="index_font_controller layout">
	    <p class="p">
			<img src="wx_share/img/special/dun.png">  活动规则
        </p>
        <div class="flex_ctrl">
        	<div class="main_font">
				<p>1.分享好友后，点击 [ 优惠购买 ] 即可立减10元购买</p>
				<p>2.购买后在 [ 诺贝 ] 公众号查看保单(右侧二维码)</p>
				<p>3.有效期：2016.07.21 ~ 12.21</p>
			</div>
			<div class="two_code right">
				<img src="wx_share/img/special/two_code.jpg">
			</div>
        </div>
        <div class="bottom_Message">关注 [ 诺贝 ] 公众号更有免费航班延误险等你来拿</div>
	</div>
</div>