<link rel="stylesheet" href="wx_share/css/success.css?rev=6e97a399828e58bb82322270b3027757">
<div id="wrapper" class="wrapper ">
	<div class="success_part_contrl">
		<ul class="layout ul_contrl">
			<li>
				<p>诺贝保险管家</p>
				<p>助您出行无忧</p>
			</li>
			<li></li>
			<li>全球航班通用</li>
		</ul>
		<div class="padd_1rem">
			<div  class="bd_ing">保单生成中...</div>
			<div class="success_main">
				
				<form class="" role="form" name="sendForm" novalidate>
				<div class="cell " >
					<div class="cell_hd  cell_primary" >
						<input type="email" class="ipt email_input"  style="border:1px solid #98a8a3;color:#c9bd9d;padding-left:.14rem" ng-model="user.email" name="email"  onfocus="this.placeholder = ''" onblur="this.placeholder = '输入电子邮箱'" placeholder="输入电子邮箱" required />
					</div>
					<div class="cell_hd " style="width:400px;border:none;border-radius:0;">
						<a href="javascript:void(0)" class="btn btn_happy send_bd" style="border:none;border-radius: 0;background: #e52f62;height: .48rem;" ng-click="send_bd()" >发送电子保单</a>
					</div>
				</div>
				<div class="cell"  style="color:#ff5c00" ng-show="sendForm.email.$dirty && sendForm.email.$invalid ">
					<small class="error" ng-show="sendForm.email.$error.required">邮箱必填</small>
					<small class="error" ng-show="sendForm.email.$error.email">邮件格式不正确</small>
				</div>
			</form>
				<ul class="check layout">
					<li><a href="###" ng-click="goList()">查看保单</a></li>
					<li></li>
					<li><a href="###" ng-click="showShareTip()">再领一份</a></li>
				</ul>
				<ul class="success_share">
					<li><img src="wx_share/img/feiji.png"></li>
					<li>分享至朋友圈</li>
					<li>快通知您的小伙伴来领取吧!</li>
				</ul>
			</div>
		</div>
	</div>
	<ul class="layout ul_contrl_footer">
		<li></li>
		<li></li>
		<li></li>
    </ul>
</div>













